.filter {
	display: flex; justify-content: space-between; align-items: center;
	
	margin-left: -15px; margin-right: -15px;
	&-category {
		display: flex;
		
		padding-left: 5px;
		& > li {
			margin-right: 14px;
			&:last-child {margin-right: 0;}
		}
		input {position: absolute; opacity: 0;}
		input + label {
			color: #283651; @include font-type($CormacEL, 16px, 1, -0.2px);
			position: relative; padding: 15px 25px 15px 46px; 
			background: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border-radius: 25px;
			opacity: 0.5; cursor: pointer;
			transition: .4s all ease;
			&:before {
				content: '';
				position: absolute; width: 12px; height: 12px; left: 20px; top: 19px;
				background: url(../img/plus.png) center no-repeat;
				transition: .7s all ease;
			}
		}
		input:checked + label {
			opacity: 1;
			&:before {
				width: 12px; height: 12px;
				background: url(../img/checked.png) center no-repeat;
			}
				
		}
	}

	.reset {
		@include font-type($CormacB, 14px, 1, 0); color: #000;
		padding-right: 20px; position: relative;
		background: none; border: none;
		&:after {
			content: '\2716';
			color: #79879e; font-size: 12px;
			position: absolute; right: 0; top: 2px;
		}
	}
	
	&-search {
		display: flex; align-items: center; justify-content: space-between;

		width: 100%;
		input {
			padding: 22px 0 7px 7px;
			@include font-type($CormacB, 28px, 1, 0); color: #000;
			width: calc(100% - 150px);
			border: none; background: #fff;
			input[placeholder] {color: #abb7cc;}
		}
		button {
			position: relative; padding-left: 40px; top: 3px;
			i {position: absolute; left: 16px; top: 15px;}
		}
	}

	&-range {
		display: flex; justify-content: space-between; align-items: center;

		width: 100%;
		& > div  {
			display: flex;

			.select {margin-right: 22px; &:last-child{margin-right: 0;}}
		}
	}

}