.list
   &-products

   preview
      -product

    li
      article @extend .product;


//превью товара в списке http://prntscr.com/h1uwdh
article { 
    &.product {...


	display: flex; flex-flow: column nowrap;
	background: #fff; transition: all .3s ease;

	&:hover {box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.03); z-index: 2;}

	header {
		a {&:hover {figcaption {opacity: 1;}}}
		figure {
			position: relative;
			img {max-width: 100%;}
			figcaption {
				width: 100%; height: 100%; position: absolute; top: 0; left: 0;
				background: rgba(255,255,255, 0.85);
				opacity: 0; transition: .4s all ease;

				span {
					position: absolute;

					&.favorites {
						text-align: center; @include font-type($CormacB, 16px, 16px, 0.5px); color: #fff;
						width: 78px; height: 68px; padding-top: 20px; padding-left: 7px; top: 50%; margin-top: -34px; left: 50%; margin-left: -39px;
						background: url(../images/heart.svg);
					}
				}
			}
			
		}
	}

	section {
		padding: 0 15px;

		h2 {
			line-height: 14px; margin: 15px 0;
			
			a {
				@include font-type($CormacB, 16px, 18px, 0); color: #000;
			}
		}
		p {
			@include font-type($HelveticaR, 12px, 16px, 0.3px); color: #000;
			margin-bottom: 5px;
			span {margin-left: 10px;}
		}

		& > ul {
			display: flex; flex-wrap: wrap; margin-left: -5px;

			li {
				display: inline-block; padding: 0 5px; margin-right: 5px;
				background: #F1F3F7; border-radius: 9px;
				&:last-child {margin-right: 0;}
				a {color: #000; font-size: 12px;}
			}
		}
	}

	footer {
		display: flex; justify-content: space-between; align-items: center;

		padding: 15px;
		a {
			figure {
				display: flex; align-items: center;

				span {
					width: 31px; height: 31px; margin-right: 8px;
					border-radius: 50%; background-position: center; background-repeat: none;
				}
				figcaption {
					@include font-type($CormacB, 12px, 12px, 0); color: #000;
					width: 100px; height: 12px;
					overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
				}
			}
		}
		p {
			@include font-type($CormacB, 16px, 1, 0.3px); color: #000;
			margin-bottom: 5px;
		}
	}
}