
<header class="header header-shop_edit js-header active">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a href="index.html" class="logo"><img src="assets/img/logoBlue.svg"></a>
				<nav class="menu-top">
					<a href="#" class="burger js-open_menu-top">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</a>
					<ul>
						<li><a href="#">О проекте</a></li>
						<li><a href="#">Фонды</a></li>
						<li class="active drop-down"><a href="#">Charity Shop <i class="fa fa-angle-down"></i></a></li>
						<li class="active3"><a href="#">Подать объявление</a></li>
						<li class="active3"><a href="#">Вещи</a></li>
					</ul>
				</nav>
				
			</div>
		</div>
	</div>
</header>