<section class="wr bg_white">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				
				<!-- Navigation -->
				<nav class="menu-general">
					<a href="#" class="js-open_menu-general">Все благотворительные направления <i class="fa fa-angle-down"></i></a>
					<ul>
						<li class="active">
							<a href="#">
								<span class="icon-buy-wrapp"><i class="icon icon-child"></i></span>
								<span>Дети</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="icon-buy-wrapp"><i class="icon icon-orphan"></i></span>
								<span>Сироты</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="icon-buy-wrapp"><i class="icon icon-adult"></i></span>
								<span>Взрослые</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="icon-buy-wrapp"><i class="icon icon-disabled"></i></span>
								<span>Инвалиды</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="icon-buy-wrapp"><i class="icon icon-animal"></i></span>
								<span>Животные</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="icon-buy-wrapp"><i class="icon icon-tape"></i></span>
								<span>Культура</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="icon-buy-wrapp"><i class="icon icon-religion"></i></span>
								<span>Религия</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="icon-buy-wrapp"><i class="icon icon-help"></i></span>
								<span>Разная помощь</span>
							</a>
						</li>
					</ul>
				</nav>	
				
			</div>
		</div>
	</div>
</section>