<!-- Navigation -->
<nav class="menu-general">
	<a href="#" class="js-open_menu-general">Все благотворительные направления <i class="fa fa-angle-down"></i></a>
	<ul>
		<li>
			<a href="#">
				<span class="icon-buy-wrapp"><i class="icon icon-buy-comb"></i></span>
				<span>Личные вещи</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="icon-buy-wrapp"><i class="icon icon-buy-tv"></i></span>
				<span>Электроника</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="icon-buy-wrapp"><i class="icon icon-buy-bicycle"></i></span>
				<span>Транспорт</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="icon-buy-wrapp"><i class="icon icon-buy-home"></i></span>
				<span>Дом и дача</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="icon-buy-wrapp"><i class="icon icon-buy-pram"></i></span>
				<span>Детям</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="icon-buy-wrapp"><i class="icon icon-buy-stand"></i></span>
				<span>Бизнесу</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="icon-buy-wrapp"><i class="icon icon-buy-bone"></i></span>
				<span>Животным</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="icon-buy-wrapp"><i class="icon icon-buy-easel"></i></span>
				<span>Хобби и отдых</span>
			</a>
		</li>
	</ul>
</nav>