<section class="share">
	<div class="btn-wrapp">
		<a href="#" class="btn"><i class="icon icon-header_plus-white"></i>Продать и помочь</a>

		<a href="#" class="btn"><i class="icon icon-header_search-white"></i>Купить и помочь</a>
	</div>

	<div class="share-title">
		<p>Ещё один способ сделать доброе дело -</p>
		<h4>рассказать о нас</h4>
	</div>
	
	<ul class="social">
		<li><a href="#"><i class="icon icon-vk"></i></a></li>
		<li><a href="#"><i class="icon icon-f"></i></a></li>
		<li><a href="#"><i class="icon icon-ok"></i></a></li>
		<li><a href="#"><i class="icon icon-twitt"></i></a></li>
	</ul>

</section>