<!-- <div class="row carousel found"> -->
<div class="row">

	<div class="col-md-5">
		<section class="found-info">
			<h2>Сегодня <br>
			вы можете помочь <br>
			этим людям</h2>
			<a href="#">Благотворительные фонды <i class="icon icon-arrow-r"></i></a>
		</section>
	</div>
		
	<div class="col-md-7">
		<div class="carousel carousel-found">
			<div class="carousel-wrap owl-carousel">
				<!-- <div class="found-list-land owl-carousel"> -->

					<div class="carousel-item">
						<figure>
							<img src="assets/img/participant-3.png" alt="">
							<figcaption>Рома Ш.</figcaption>
						</figure>
						<figure>
							<img src="assets/img/participant-2.png" alt="">
							<figcaption>Настя К.</figcaption>
						</figure>
					</div>
					<div class="carousel-item">
						<figure>
							<img src="assets/img/participant-4.png" alt="">
							<figcaption>Рома Ш.</figcaption>
						</figure>
						<figure>
							<img src="assets/img/participant-1.png" alt="">
							<figcaption>Настя К.</figcaption>
						</figure>
					</div>
					<div class="carousel-item">
						<figure>
							<img src="assets/img/participant-3.png" alt="">
							<figcaption>Рома Ш.</figcaption>
						</figure>
						<figure>
							<img src="assets/img/participant-2.png" alt="">
							<figcaption>Настя К.</figcaption>
						</figure>				
					</div>
					<div class="carousel-item">
						<figure>
							<img src="assets/img/participant-3.png" alt="">
							<figcaption>Рома Ш.</figcaption>
						</figure>
						<figure>
							<img src="assets/img/participant-2.png" alt="">
							<figcaption>Настя К.</figcaption>
						</figure>				
					</div>
					<div class="carousel-item">
						<figure>
							<img src="assets/img/participant-4.png" alt="">
							<figcaption>Рома Ш.</figcaption>
						</figure>
						<figure>
							<img src="assets/img/participant-1.png" alt="">
							<figcaption>Настя К.</figcaption>
						</figure>				
					</div>
					<div class="carousel-item">
						<figure>
							<img src="assets/img/participant-3.png" alt="">
							<figcaption>Рома Ш.</figcaption>
						</figure>
						<figure>
							<img src="assets/img/participant-2.png" alt="">
							<figcaption>Настя К.</figcaption>
						</figure>
					</div>
				<!-- </div> -->
			</div>
		</div>
	</div>

		


	<!-- <ul class="navigation">
		<li class="active"></li>
		<li></li>
		<li></li>
		<li></li>
	</ul> -->
</div>