<section class="wr bg_white">
	
	<!-- Navigation -->
	<nav class="menu-general style2">
		<a href="#" class="js-open_menu-general">Все благотворительные направления <i class="fa fa-angle-down"></i></a>
		<ul>
			<li class="active">
				<a href="#">
					<span class="icon-buy-wrapp"><img src="assets/img/menu-img/img1.png" alt=""></span>
					<span>Личные вещи</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon-buy-wrapp"><img src="assets/img/menu-img/img2.png" alt=""></span>
					<span>Электроника</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon-buy-wrapp"><img src="assets/img/menu-img/img3.png" alt=""></span>
					<span>Транспорт</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon-buy-wrapp"><img src="assets/img/menu-img/img4.png" alt=""></span>
					<span>Дом и дача</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon-buy-wrapp"><img src="assets/img/menu-img/img5.png" alt=""></span>
					<span>Детям</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon-buy-wrapp"><img src="assets/img/menu-img/img6.png" alt=""></span>
					<span>Животным</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon-buy-wrapp"><img src="assets/img/menu-img/img7.png" alt=""></span>
					<span>Бизнесу</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon-buy-wrapp"><img src="assets/img/menu-img/img8.png" alt=""></span>
					<span>Хобби и отдых</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon-buy-wrapp"><img src="assets/img/menu-img/img9.png" alt=""></span>
					<span>Вещи звезд</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon-buy-wrapp"><img src="assets/img/menu-img/img10.png" alt=""></span>
					<span>Токены</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon-buy-wrapp"><img src="assets/img/menu-img/img11.png" alt=""></span>
					<span>Вещи звезд</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon-buy-wrapp"><img src="assets/img/menu-img/img12.png" alt=""></span>
					<span>Токены</span>
				</a>
			</li>
		</ul>
	</nav>
</section>