@import '../../tpl/product';

//стили для твиговского шаблона: размеры картинок - http://prntscr.com/h0wgee
.main_menu_wrapp {
	.main_menu {
		.owl-stage-outer {
			.owl-stage {
				& > div {
					img[alt="Charity Shop"] {height: 55px; position: relative; top: -6px;}
					img[alt="Звезды"] {height: 67px; position: relative; top: -12px;}
				}
			}
		}
	}
}

//стили для адаптации чекбоксоа и выпадающих списков - http://prntscr.com/h0x9br
.market {
	.main_menu_wrapp {
		@include respond-to(sm) {padding-left: 0; padding-right: 0;}
		.main_menu {@include respond-to(sm) {display: none;}}
		.show_mob {
			position: relative;
			&:after {
				content: '\203A';
				color: #fff; text-align: center; font-size: 30px;
				position: absolute; top: 10px; right: -10px; display: block; width: 50px; height: 30px;
				background: $link-color;
				transform: rotate(90deg); pointer-events: none;
			} 
			select {
				@include font-type($CormacEL, 20px, 1, 0.2px);
				display: block; width: 100%; height: 50px; padding: 0 10px;
				border: 1px solid #4489ff;
				cursor: pointer; outline:none;
			}
		}
	}
	.filter {
		@include respond-to(lg) {padding-bottom: 0;}
		@include respond-to(sm) {flex-direction: column;}
		.select {
			@include respond-to(sm) {margin-bottom: 25px;}
			&:last-child {@include respond-to(sm) {margin-bottom: 0;}}
		}
	}
	.checkboxes {
		float: right;
		@include respond-to(lg) {float: left; clear: both; padding-bottom: 30px;}
	}
}



// NEW POST
.new_post {

	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////



	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	overflow: hidden; padding: 0 200px; padding-bottom: 60px;
	background: #ffffff; box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.05);

	@include respond-to(md) {padding: 0 50px 60px 50px;}
	@include respond-to(sm) {box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);}
	@include respond-to(mobile) {padding: 0 30px 60px 30px;}

	
	h1 {
		text-align: center;
		padding: 115px 0 60px 0; position: relative;

		&:after {
			content: '';
			display: block; width: 9999px; height: 1px; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);
			background: #eef5fa;
		}
	}
	
	&-project {
		position: relative; z-index: 10; margin: 40px 0 0 0;

		& > a {
			color: #000000; font-family: $HelveticaL; font-size: 18px; font-weight: 300;
			position: relative; z-index: 10; outline: none;
			&:focus {outline: 0;}
			i {
				border: solid #4489ff;
				border-width: 0 2px 2px 0;
				display: inline-block;
				padding: 3px;
				transform: rotate(45deg);
				margin-left: 6px;
			    position: relative;
			    top: -4px;
			}
		}

		& > span {
			color: #9da8af; font-family: $HelveticaL; font-size: 12px;
			display: block;
			position: relative; z-index: 1;
		}
	}

	// BIG DROPDOWN MENU LIST
	&-dropdown {
		padding: 115px 0 0;
		position: absolute; left: -100px; top: -44px; width: 980px; z-index: 5; overflow: hidden;
		background: #ffffff; box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);

		@include respond-to(lg) {width: 920px; left: -190px;}
		@include respond-to(md) {width: 700px; left: -40px;}
		@include respond-to(sm) {width: calc(100% + 40px); left: -20px;}
	

		& > ul {
			display: flex; padding: 0 15px 0 50px;
			@include respond-to(sm) {flex-direction: column;}

			& > li {
				width: 33.33333%; padding: 0 5px 0 13px;
				border-right: 1px solid #c0d1dd;

				@include respond-to(sm) {width: 100%;}

				&:first-child {padding-left: 0;}
				&:last-child {padding-right: 0; border: none;}

				h3 {
					color: #000000; font-family: $helv; font-size: 12px; font-weight: 300; text-transform: uppercase; letter-spacing: 1px;
					margin-bottom: 35px;
					@include respond-to(sm) {margin-bottom: 25px;}
				}

				& > ul {
					max-height: 350px; overflow-y: auto; padding-right: 8px; padding-bottom: 50px;
					@include respond-to(sm) {padding-bottom: 20px; position: relative;}
					
					@extend .nice_scroll;

					& > li {
						@include respond-to(sm) {
							width: 100%; margin-bottom: 30px; 
							border-bottom: 1px solid #d7deea; border-right: none;
						}

						@extend .styled_checkbox-3;

						h5 {
							color: #c0d1dd; font-family: $helv; font-size: 24px; font-weight: 300;
							padding-left: 39px;
						}
					}
				}
			}

			&.action {
				text-align: right;
				display: block; padding: 15px 45px 34px; position: relative;

				@include respond-to(mobile) {text-align: center;display: flex; flex-direction: column-reverse;}

				&:before {
					content: '';
					width: 100%; height: 78px; position: absolute; left: 0; top: 0; transform: translateY(-100%);
					background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
					pointer-events: none;
				}

				li {
					width: auto; display: inline-block;
					border: none;

					@include respond-to(mobile) {padding: 0;}
					
					a {
						color: #4489ff; font-family: $helv; font-size: 14px;
						padding: 11px 23px 12px;
						border: solid 1px #ffffff; border-radius: 100px;
						transition: 0.2s ease-out;
						
						&:hover {border: solid 1px #4489ff;}
						
						&.btn {
							color: #ffffff;
							padding: 11px 23px 12px;
							background: #4489ff; border: solid 1px #4489ff; border-radius: 100px;
							transition: 0.2s ease-out;
							&:hover {
								color: #4489ff;
								background: #ffffff;
							}
						}
					}
				}
			}
		}
	}
	
	&-participants {
		margin: 40px 0 5px 0;
		
		@extend .styled_checkbox-1;
		& > input {display: none;}

		&-wrapper {
			text-align: center;
			margin: 0 -200px; padding:55px 0;
			background: #f4fcff;
			width: 1180px;

			@media (max-width: 1249px) {width: 1140px;}
			@include respond-to(lg) {width: 940px;}
			@include respond-to(md) {margin: 0 -50px; width: 720px;}
			@include respond-to(sm) {width: 737px;}

			@for $i from 736 through 320 {
				@media (max-width: $i + px) {width: #{$i - 30 + px};}
			}
		}
	}

	&-product {

		@extend .input_style-1;
		textarea {width: 100%; padding-bottom: 3px; height: 28px;}

		.address, .info {

			ul {
				display: flex; margin: 0 -10px;
				@include respond-to(sm) {flex-direction: column;}

				li {
					width: calc(50% - 20px); margin: 30px 10px;
					@include respond-to(sm) {display: block; width: 100%;}
				}
			}
		}
		
		.select {
			& > a {
				font-size: 18px; line-height: 22px;
				i {top: 5px;}
			}
		}

	}

	a.add_item {
		color: #000; text-align: left;
		display: block; width: 100%; padding: 40px 0;
		border-top: 2px solid #f5f9fc;

		img {margin-right: 5px;}
	}

	&-contacts {
		position: relative; padding: 50px 0;
		overflow-x: hidden;

		&:before {
			content: '';
			display: block; width: 9999px; height: 1px; position: absolute; left: 50%; top: 0; transform: translateX(-50%);
			background: #eef5fa;
		}

		@extend .input_style-1;
		& > input {margin-bottom: 35px;}

		h3 {
			color: #000000; @include font-type($CormacEL, 24px, 38px, -1px);
			margin-bottom: 35px;
		}

		ul {
			display: flex; margin: 0 -10px;
			@include respond-to(sm) {flex-direction: column;}

			li {
				width: calc(50% - 20px); margin: 0 10px;
				@include respond-to(sm) {width: 100%; margin-bottom: 10px;}
			}
		}
	}
	
	&-confirm {
		display: flex; justify-content: space-between; align-items: center; margin-bottom: 40px;
		@include respond-to(sm) {flex-direction: column;}

		li {
			@include respond-to(sm) {margin-bottom: 30px; &:last-child {margin-bottom: 0;}}

			@extend .styled_checkbox-2;

			button {
				@extend .btn; padding: 12px 25px 13px;

				&:disabled,
				&[disabled] {&:hover {background: #4489ff; color: #ffffff;}}
			}
		}
	}


	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	&-participants {
		&-wrapper {
			display: none;

			&.active {
				display: block;
				animation: slideUp 0.8s;
				pointer-events: all;
			}
		}
	}

	&-product {
		.photos {
			transition: background 0.4s ease; background: #f7f9ff;
			&:hover {background: #fff;}
		}
	}

	&-dropdown {
		transform: translateY(20px);
		opacity: 0; pointer-events: none;

		&.active {
			transform: translateY(0);
			opacity: 1; pointer-events: all;
		}
	}
}



// LISTS
.market {
	.breadcrumbs {
		.navigation {display: none;}
		ul.share {
			@include respond-to(md) {margin: 10px auto;}

			li {
				@include respond-to(md) {margin-left: 15px;}
				i {
					@include respond-to(md) {font-size: 22px;}
				}
			}
		}
	}
	.goods {
		display: flex; flex-wrap: wrap;

		margin: -10px; width: calc(100% + 20px);
		@include respond-to(sm) {margin: 0 auto;}

		& > li {
			position: relative;
			width: calc(25% - 20px); margin: 10px; overflow: hidden;
			background: #fff; border-radius: 5px; box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);

			@include respond-to(md) {width: calc(50% - 10px); margin: 5px;}
			@include respond-to(xs) {display: block; width: 100%; margin-bottom: 25px;}
			

			// ITEM – http://prntscr.com/gg2pz0
			a {
				display: block;
				&:hover {article {h2 {color: #4489ff;}}}
			}

			figure {
				position: relative;
				@include respond-to(xs) {width: 100%;}

				img {width: 100%;}

				figcaption {
					position: absolute; right: 10px; top: 10px;
					@include respond-to(xs) {display: none;}
				}
			}

			article {
				padding: 20px;
				@include respond-to(xs) {display: flex; flex-direction: column; position: relative; width: 100%; padding-right: 5px;}

				h2 {@include font-type($CormacEL, 18px, 26px, -0.5px); color: $main-color-text; color: #000; margin-bottom: 10px;}

				div {
					display: flex; justify-content: space-between;
					@include respond-to(xs) {flex-direction: column; height: 100%;}

					p {
						@include font-type($HelveticaL, 10px, 16px, 0.8px); color: #8d8d8d; text-transform: uppercase;
						span {
							@include font-type($HelveticaL, 12px, 16px, 0.5px);
							display: block;
						}
					}

					& > span {@include font-type($CormacEL, 18px, 1, -0.5px); color: #000;}
				}
				.icon {margin-right: 10px;}
				.price {@include font-type($CormacEL, 18px, 1, -0.5px); color: #000; padding-top: 10px;}
			}
				
			
			.like {
				display: none; width: 45px; height: 45px; padding: 15px; 
				position: absolute; right: 10px; top: 10px;
				background: #fff; border-radius: 50%;

				@include respond-to(xs) {top: auto; bottom: 10px;}
				
				i {
					&.icon-heart-big {display: block;}
					&.icon-heart-empty {display: none;}

					@include respond-to(xs) {
						&.icon-heart-big {display: none;}
						&.icon-heart-empty {display: block;}
					}
				}
			}
		}
	}
}

.product {
	&-body {
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		display: flex; justify-content: space-between;
		@include respond-to(sm) {
			flex-direction: column;
		}

		ul.info {
			display: flex;
			@include respond-to(md) {flex-direction: column;}
			li {
				display: flex; align-items: center;
			}
		}

		ul.price {
			display: flex; align-items: center;
		}


		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		padding-top: 29px; margin-bottom: 64px;
		& > header, & > section {
			width: 50%;
			@include respond-to(sm) {width: 100%;}
		}
		header {
			padding-top: 29px;
			figure {
				text-align: center;
				width: 100%; margin-bottom: 53px;
				@include respond-to(sm) {
					display: none;
				}
				&:first-child {display: block;}
				&:last-child {margin-bottom: 0;}

				img {max-width: 100%;}

			}
		}

		& > section {
			padding-left: 28px;
			@include respond-to(lg) {width: 49%;}
			@include respond-to(md){padding-left: 15px;}
			@include respond-to(sm){padding-left: 0;}

			h2 {
				@include font-type($CormacEL, 34px, 38px, 0);
				margin-bottom: 31px;
			}

			ul.info {
				margin-bottom: 32px;
				li {
					@include font-type($HelveticaL, 10px, 1, 1px); color: #79879e; text-transform: uppercase;
					margin-right: 25px;
					@include respond-to(md) {
						margin-right: 0; margin-bottom: 15px;
					}
					&:last-child {
						margin-right: 0;
						@include respond-to(md) {margin-bottom: 0;}
					}
					i {font-size: 16px; margin-right: 3px;}
				}
			}

			ul.price {
				margin-bottom: 43px;
				li {
					@include font-type($CormacB, 34px, 1, 0.5px); color: $link-color;
					margin-right: 28px;
					@include respond-to(sm) {
						color: #000; font-family: $CormacEL;
					}
					i {
						color: #c6dbff; font-size: 26px;
						margin-right: 12px;
					}
				}
			}

			.btn-company {
				margin-bottom: 26px;
				@include respond-to(sm) {
					display: inline-block; width: 100%; padding: 20px 15px;
					border: 1px solid #edf3f6; border-radius: 5px;
				}
				.btn-reserve {
					line-height: 1; position: relative;
					height: auto; display: inline-block; padding: 20px 56px 20px 28px; margin-bottom: 5px;
					@include respond-to(sm){
						float: left; padding: 0;
						background: transparent; box-shadow: none;

					}
					&:first-child {
						@include respond-to(sm) {width: 48%;}
						@include respond-to(xs) {
							width: 100%; margin-bottom: 40px;
						}	
					}
					&:last-child {
						margin-bottom: 0; 
						@include respond-to(sm) {
							width: 52%; padding-left: 5%;
							border-left: 2px solid #edf3f6; border-radius: 0; 
						}
						@include respond-to(xs) {
							width: 100%; padding-left: 0; padding-top: 30px;
							border-left: none; border-top: 2px solid #edf3f6;
						}
					} 
					a {
						@include respond-to(sm) {color: #000; font-family:$HelveticaL; letter-spacing: 0.5px;}
					}
					.icon-wr {
						text-align: center;
						position: absolute; display: inline-block; width: 28px; height: 28px; padding-top: 6px;
						background: $btn-color; border-radius: 50%; top: -5px; right: -1px;
						@include respond-to(sm){display: none;}
						i {color: #000;}
					}
					figure, section {float: left;}
					figure {
						margin-right: 36px; padding-top: 5px;
						border-radius: 50%;
						@include respond-to(md){margin-right: 10px;}
						@include respond-to(sm) {padding-top: 15px;}
					}
					section {
						@include respond-to(sm) {
							position: relative; padding-top: 25px; width: calc(100% - 50px)
						}
						small {
							@include font-type($HelveticaL, 10px, 1, 1px); color: #79879e; text-transform: uppercase;
							display: block; margin-bottom: 8px;
							@include respond-to(sm) {position: absolute; top: 0; left: -37px;}
						}
						
					}
					
				}
			}

			.btn-gr {
				margin-bottom: 19px; padding: 24px 0; clear: both;
				border-top: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2;
				.btn {
					@include font-type($CormacEL, 16px, 1, 0.2px);
					width: 218px; padding: 20px 0; margin-right: 57px;
					@include respond-to(md) {
						width: 100%; margin-bottom: 25px;
					}
				}
				a {
					@include font-type($CormacEL, 16px, 1, 0.2px);
					@include respond-to(md) {width: 100%; text-align: center; display: block;}
					i {font-weight: 600; font-size: 20px; margin-right: 5px;}
				}
			}

			p {
				@include font-type($HelveticaR, 16px, 24px, 0.3px);
				width: 90%;
				.thin {font-family: $HelveticaL;}
			}
		}

	}
}