///////////////////////////////////////////////////////////
	/*ДЛЯ ВСЕХ НОВЫХ ЭЛЕМЕНТОВ ДОБАВЛЕНО В КЛАСС */
					/*-catalog*/
//////////////////////////////////////////////////////////


//Новый фильтр - http://prntscr.com/h1v63r
.filters, .search, .categories {
	& > .container {
		display: flex; justify-content: space-between; align-items: center;
		& > ul {display: flex; width: 100%; & > li:last-child {margin-right: 0;}}
	}
}

.search, .categories {padding: 35px 0; background: white; border-bottom: 1px solid #ebebeb;}

.filters {
	padding: 15px 0;
	background: #e9edf5; box-shadow: inset 0 0px 11px rgba(0, 0, 0, 0.1);

	ul {li {@extend .checkbox-filter; margin-right: 14px;}}
	section {display: flex; justify-content: flex-end; align-items: center; width: 550px;}

	button.reset {
		@include font-type($CormacB, 14px, 1, 0); color: #000;
		padding: 0 20px; position: relative;
		background: none; border: none;
		
		&:after {
			content: '\2716';
			color: #79879e; font-size: 12px;
			position: absolute; right: 0; top: 50%; transform: translateY(-50%);
		}
	}
}

.search {
	
	form {
		display: flex; align-items: center; justify-content: space-between;
		width: 100%;

		input {
			padding-top: 30px;
			@include font-type($CormacB, 28px, 1, 0); color: #000;
			border: none; background: #fff;

			&::placeholder {color: #B9C4D6;}
		}

		button {
			position: relative; padding-left: 40px; top: 3px;
			i {position: absolute; left: 16px; top: 15px;}
		}
	}
}

.categories {
	ul li {margin-right: 30px;}
}

.range {
	// ТУТ СТИЛИ ДЛЯ РЭНДЖА
}

//список превьюшек продуктов - http://prntscr.com/h1v27e
.products {padding: 35px 0; background: #F3F6FA;}
.list {
	&-preview {
		display: flex; flex-flow: row wrap;	
		margin: 0 -10px;
		@include respond-to(md) {flex-wrap: wrap;}

		& > li {
			width: calc(25% - 20px); margin: 10px;
			@include respond-to(md) {width: calc(50% - 20px);}
			@include respond-to(xs) {width: 100%;}
		}	
	}
}

.list {
	&-preview {
		display: flex; flex-flow: row wrap;	
		margin: 0 -10px;
		@include respond-to(md) {flex-wrap: wrap;}

		& > li {
			width: calc(25% - 20px); margin: 10px;
			@include respond-to(lg) {width: calc(33% - 20px);}
			@include respond-to(md) {width: calc(50% - 20px);}
			@include respond-to(xs) {width: 100%;}
		}	
	}
}