//Новый фильтр - http://prntscr.com/h1v63r
.filter-loading {background: #fff url('../images/filter_load.gif') center 240px no-repeat;}
.filters, .search, .categories {
	& > .container {
		display: flex; justify-content: space-between; align-items: center;
		& > ul {display: flex; width: 100%; & > li:last-child {margin-right: 0;}}
	}

	.filter-loading & {
		opacity: 0.2; * {pointer-events: none; user-select: none;}
	}
}

.search, .categories {background: white; border-bottom: 1px solid #ebebeb;}

.filters {
	padding: 12px 0;
	background: #e9edf5; box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.08);

	.container {
		@include respond-to(lg) {align-items: start;}
		@include respond-to(sm) {flex-direction: column-reverse;}
	}

	ul {
		@include respond-to(lg) {flex-wrap: wrap; align-items: start;}
		li {
			@extend .checkbox-filter; margin-right: 10px;
			@include respond-to(lg) {
				width: 50%; margin-right: 0; margin-bottom: 15px;
				&:last-child {margin-bottom: 0;}
			}
			@include respond-to(md) {width: 100%;}
		}
		
	}
	section {
		display: flex; justify-content: flex-end; align-items: center; width: 550px;
		@include respond-to(lg) {flex-wrap: wrap; justify-content: flex-end; width: 680px; padding-top: 15px;}
		@include respond-to(md) {width: 850px;} 
		@include respond-to(sm) {width: 100%; justify-content: flex-start;}


		.select > a, .reset {
			@include font-type($CormacB, 14px, 14px, 0); color: #66748c;
			@media (max-width: 1249px) {@include font-type($CormacB, 13px, 13px, 0);}
		}

		.select {
			@include respond-to(lg) {margin-right: 25px;}
			@include respond-to(sm) {margin-bottom: 25px;}

			.js-selectLists {width: 160px;}
		}
	}

	button.reset {
		padding: 0 20px; position: relative;
		background: none; border: none;
		@include respond-to(lg) {padding-left: 0; width: 210px;}
		@include respond-to(sm) {margin-bottom: 25px;}
		@include respond-to(xs) {left: -10px;}
		
		&:after {
			content: '';
			width: 10px; height: 10px;
			position: absolute; right: 0; top: 50%; transform: translateY(-50%);
			background: url('../images/filter_close.svg') center center no-repeat;
		}
	}
}

.search {
	padding: 15px 0 30px 0;
	form {
		display: flex; align-items: center; justify-content: space-between;
		width: 100%;
		@include respond-to(sm) {flex-direction: column; align-items: start;}

		input {
			padding-top: 24px; width: 85%;
			@include font-type($CormacB, 28px, 40px, 0); color: #000;
			border: none; background: #fff;
			@include respond-to(sm) {margin-bottom: 25px;}

			&::placeholder {color: #B9C4D6;}
		}

		button {
			position: relative; padding-left: 38px; padding-right: 22px; top: 12px;
			i {position: absolute; left: 16px; top: 13px;}
		}
	}
}

.categories {
	padding: 25px 0 24px 0;
	& > .container {@include respond-to(sm) {flex-direction: column-reverse; align-items: start;}}
	
	ul {
		@include respond-to(lg) {
			flex-direction: column;
		}
		li {
			margin-right: 30px;
			@include respond-to(lg) {
				margin-bottom: 25px;
				&:last-child {margin-bottom: 0;}
			}
		}
	} 
}

// РЕНДЖ http://prntscr.com/h62ft7
.range {
	width: 400px; padding-left: 57px; padding-top: 2px; position: relative;
	@include respond-to(lg) {width: 435px;}
	@include respond-to(md) {width: 495px; margin-bottom: 25px;}
	@include respond-to(sm) {width: 310px; left: 45px; margin-bottom: 25px;}
	@include respond-to(xs) {padding-left: 0; left: 0; width: 258px; margin-top: 12px;}
	

	.rub {
		color: #66738c;
		position: absolute; top: -6px;
		&.left-rub {
			left: 38px;
			@include respond-to(xs) {left: 80px; top: -30px;}
		}
		&.right-rub {
			right: -5px;
			@include respond-to(xs) {right: 0;}
		}
	}

}

//////////--перебиваем js для range--//////////

.theme-green .back-bar .selected-bar {background: #aac3ff;}

.slider-container {
	width: 156px;
	.clickable-dummy {
		border-radius: 5px;
	}

	.back-bar {
		background: #e6ebf6;
		.pointer-label {
			@include font-type($CormacB, 10px, 1, 0); color: #66738c;
		}
	}
	.scale {
		span {
			&:first-child {
				left: -66px !important; top: -18px;
				&:before {
					display: none;
				}
				ins {width: 92px; text-align: right;}
				@include respond-to(xs) {left: 34px !important; top: -40px;}
				em {
					@include font-type($CormacB, 10px, 1, 0); color: #66738c;
					margin-right: 8px;
				}
			}
			&:last-child {
				right: -58px !important; top: -19px; left: auto !important;
				&:before {
					content: 'до';
					@include font-type($CormacB, 10px, 1, 0); color: #66738c;
					position: absolute; top: 9px; left: -44px;
				}
			}
			ins {
				@include font-type($CormacB, 16px, 1, 0); color: #66738c;
				
			}
		}
	} 
} 
.theme-green  {
	.back-bar  {
		.pointer {
			background: #3570ff; border: none; cursor: pointer;
			&-label {display: none;}
		}
	}
	.scale {
		span {border: none;}
	}
}
//////////-----///-----//////////


//список превьюшек продуктов - http://prntscr.com/h1v27e
.products {padding: 35px 0; background: #F3F6FA;}
.list {
	&-preview {
		display: flex; flex-flow: row wrap;	
		margin: 0 -10px;
		@include respond-to(md) {flex-wrap: wrap;}

		& > li {
			width: calc(25% - 20px); margin: 10px;
			@include respond-to(md) {width: calc(50% - 20px);}
			@include respond-to(xs) {width: 100%;}
		}	
	}
}

.list {
	&-preview {
		display: flex; flex-flow: row wrap;	
		margin: 0 -10px;
		@include respond-to(md) {flex-wrap: wrap;}

		& > li {
			width: calc(25% - 20px); margin: 10px;
			@include respond-to(lg) {width: calc(33% - 20px);}
			@include respond-to(md) {width: calc(50% - 20px);}
			@include respond-to(xs) {width: 100%;}
		}	
	}
}

//Пагинация - https://prnt.sc/hd7xp8
.pagination-block {
	padding: 30px 0;
	background: #F3F6FA;
}
.main-pagination {
	display: flex; justify-content: center; align-items: center;
	li {
		flex-shrink: 0;
		text-align: center;
		width: 50px; height: 50px; margin: 0 10px;
		border-radius: 50px; 
		transition: .4s ease;
		@include respond-to(xs) {margin: 0 7px; width: 35px; height: 35px;}
		&.active, &:hover {
			background: #fff;
			a {color: #000;}
		}
		&.next {
			width: auto; padding: 0 20px;
			background: #fff; 
			@include respond-to(sm) {padding: 0; width: 50px;}
			@include respond-to(xs) {width: 35px;}
			span {
				@include respond-to(sm) {display: none;}
			}
			i {
				font-weight: 600;
				margin-left: 10px; margin-top: 4px;
				@include respond-to(sm) {margin: 0;}
			}
		}
		a {
			display: flex; align-items: center; justify-content: center;
			@include font-type($CormacB, 16px, 16px, 0.5px); color: #7d8894;
			width: 100%; height: 100%;
			transition: .4s ease;
			@include respond-to(xs) {font-size: 14px;}
		}
	}
}