<!-- !!!СТИЛИ К ЭЛЕМЕНТАМ ЭТОЙ СТРАНИЦИ ЛЕЖАТ в файле _market-new.scss !!! -->
<!DOCTYPE html>
<html> 
	//= ./../tpl/head.html
	<body class="on-load">
		//= ./../tpl/counter.html
		<!--//= ./popup/popup.html-->
		<!-- Application -->
		<div class="app market">
			//= ./../tpl/header.html
			
			<div class="filters">
				<div class="container">
					<ul>
						<li>
							<input type="checkbox" id="private-ads" checked>
							<label for="private-ads">Частные объявления</label>
						</li>

						<li>
							<input type="checkbox" id="from-shop" checked>
							<label for="from-shop">От магазинов</label>
						</li>
						<li>
							<input type="checkbox" id="auction" checked>
							<label for="auction">Аукционы</label>
						</li>
						<li>
							<input type="checkbox" id="stars" checked>
							<label for="stars">От звезд</label>
						</li>
					</ul>
					<section>
						//= ./ux/select.html
						<button class="reset">Сбросить все параметры</button>
					</section>
				</div>
			</div>
			<div class="search">
				<div class="container">
					<form>
						<input type="search" placeholder="Найти вещь">
						<button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i> Искать</button>
					</form>
				</div>
			</div>	
			<div class="categories">
				<div class="container">
					<ul>
						<li>
							//= ./ux/select.html
						</li>
						<li>
							//= ./ux/select.html
						</li>
						<li>
							//= ./ux/select.html
						</li>
						<li>
							//= ./ux/select.html
						</li>
					</ul>
					<div class="range">
						<input type="hidden" value="100" class="js-range-slider">
					</div>
				</div>
			</div>	
			<div class="categories">
				<div class="container">
					<ul>
						<li>
							//= ./ux/select.html
						</li>
						<li>
							//= ./ux/select.html
						</li>
						<li>
							//= ./ux/select.html
						</li>
					</ul>
				</div>
			</div>	

			<!-- Catalog -->
			<div class="products">
				<div class="container">
					<ul class="list-preview">
						<li>
							//= ./../tpl/product-preview.html
						</li>
						<li>
							//= ./../tpl/product-preview.html
						</li>
						<li>
							//= ./../tpl/product-preview.html
						</li>
						<li>
							//= ./../tpl/product-preview.html
						</li>
						<li>
							//= ./../tpl/product-preview.html
						</li>
						<li>
							//= ./../tpl/product-preview.html
						</li>
						<li>
							//= ./../tpl/product-preview.html
						</li>
						<li>
							//= ./../tpl/product-preview.html
						</li>
						<li>
							//= ./../tpl/product-preview.html
						</li>
					</ul>

					<a href="#" class="show_more">
						<span>Показать еще</span>
						<em><i class="icon icon-view-more"></i></em>
					</a>
				</div>
			</div>
			
			//= ./../tpl/footer.html
		</div>

		<!-- Scripts -->
		//= ./../tpl/scripts.html
	</body>
</html>