<!DOCTYPE html>
<html>
	//= ./ui/head.html
	<body class="on-load">
		//= ./ui/counter.html
		//= ./popup/popup.html
		<!-- Application -->
		<div class="app market">
			//= ./ui/header.html
			//= ./ui/breadcrumbs.html

			<!-- Search Result -->
			<section class="wr">
				<div class="container">
					<div class="row">
						<div class="col-md-12">

							<div class="main-title">
								<h1>Личные вещи</h1>
								//= ./ux/select.html
							</div>

							<ul class="list-products">
								<li>
									//= ./../tpl/product-preview.html
								</li>
							</ul>

							<a href="#" class="show_more">
								<span>Показать еще</span>
								<em><i class="icon icon-view-more"></i></em>
							</a>

						</div>
					</div>
				</div>
			</section>

			<!--//= ./ui/partners.html-->
			//= ./ui/footer.html
		</div>

		<!-- Scripts -->
		//= ./ui/scripts.html
	</body>
</html>