<!DOCTYPE html>
<html>
	//= components/base/head.html
<body class="on-load">
	//= components/base/counter.html

	<!-- Application -->
	<div class="app">
		//= components/base/menu-top.html
		//= components/base/menu-general.html
		//= components/base/filter.html
		<!-- Login Form //= components/popup/login.html-->

		<!-- Search Result -->
		<section class="wr">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<div class="main-title">
							<h1>Личные вещи</h1>
							//= components/ux/select.html
						</div>

						//= components/ui/list-goods_1.html

						<a href="#" class="show_more">
							<span>Показать еще</span>
							<em><i class="icon icon-view-more"></i></em>
						</a>

					</div>
				</div>
			</div>
		</section>
		//= components/base/partners.html
		//= components/base/footer.html
	</div>

	<!-- Scripts -->
	//= components/base/scripts.html
</body>
</html>