<!DOCTYPE html>
<html>
	//= ./../tpl/head.html

	<body class="on-load">
		//= ./../tpl/counter.html

		<!-- Application -->
		<div class="app product">
		//= ./../tpl/header.html
		//= ./../tpl/breadcrumbs.html
		
		<section class="wr base">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
						
						<article class="product-body">
							<header class="images">
								<figure>
									<img src="../../web/img/product/auction1.png" alt="">
								</figure>
								<ul class="images-preview">
									<li><a href="#" style="background: url(../../web/img/product/auction2.png) no-repeat;"></a></li>
									<li><a href="#" style="background: url(../../web/img/product/auction2.png) no-repeat;"></a></li>
									<li><a href="#" style="background: url(../../web/img/product/auction2.png) no-repeat;"></a></li>
									<li><a href="#" style="background: url(../../web/img/product/auction2.png) no-repeat;"></a></li>
									<li><a href="#" style="background: url(../../web/img/product/auction3.png) no-repeat;"></a></li>
								</ul>
								
							</header>

							<section>
								<a href="#" class="auction-logo"><img src="../../web/img/product/dobro.png" alt=""></a>
								<h2>Подписанная пластинка <br> Aurora Aksness</h2>

								<ul class="info">
									<li><i class="icon icon-clock2"></i>3 часа назад</li>
									<li><i class="icon icon-map"></i> м. Кропоткинская</li>
									<li><i class="icon icon-eye"></i> Увидели 12 человек</li>
								</ul>

								<ul class="price">
									<li><sup>Текущая цена</sup>6 200 <span class="rub">a</span></li> 
									<li><i class="fa fa-heart" aria-hidden="true"></i>15%</li>
								</ul>

								<div class="auction">
									<ul>
										<li>
											<sup>Лидер торгов</sup>
											<a href="#">Дарья</a>
										</li>
										<li>
											<sup>ставок</sup>
											12
										</li>
										<li>
											<sup>До конца торгов</sup>
											5 дней (13 окт 16:51)
										</li>
									</ul>

									<section class="auction-rate">
										<div class="btn-gr">
											<sup>Ваша ставка (Шаг 60 ₽)</sup>
											<div class="btn-grey">
												<span class="price"><input type="number" name="amount" placeholder="ставка"> ₽</span>
												<button class="btn shadow">Сделать ставку</button>
											</div>
											
											<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i> Сохранить</a>
										</div>
									</section>

								</div>
								
								<ul class="btn-company">

									<li class="btn-reserve user">
										<figure style="background: url(../../web/img/product/auction4.png) no-repeat;"></figure>
										
										<section>
											<small>продавец</small>
											<a href="#">Aurora Aksnes</a>
										</section>
										<span class="icon-wr"><i class="icon icon-comment"></i></span>
									</li>

									<!--<li class="btn-reserve">
										<figure>
											<img src="../../web/img/irbis.png" alt="">
										</figure>
										
										<section>
											<small>продавец</small>
											<a href="#">Irbis Digital</a>
										</section>
										<span class="icon-wr"><i class="icon icon-comment"></i></span>
									</li>-->
									
									<li class="btn-reserve">
										<figure>
											<img src="../../web/img/leuk.png" alt="">
										</figure>

										<section>
											<small>ПОЛУЧАТЕЛЬ Платежа</small>
											<a href="#">Фонд борьбы с лейкемией</a>
										</section>
										<a href="#" class="icon-wr js-poPup"><i class="icon icon-pencil" ></i></a>
									</li>
									
								</ul>
								
								<div class="auction-info">
									<a href="#" class="promotion">
										<img src="../../web/img/product/dobro.png" alt="">
										<p>Размещено, при содействии проекта 
										"Делись добром, Москва " <i class="fa fa-angle-right"></i></p>
										
									</a>
									<p>All My Demons Greeting Me As A Friend Deluxe</p>
									<p><strong>Исполнитель:</strong> Aurora <br>
									2016 <strong>поп</strong></p>
									<ol>
										<li>Runaway <span>4:34</span></li>
										<li>Conqueror  <span>4:34</span></li>
										<li>Running With The Wolves  <span>4:34</span></li>
										<li>Lucky  <span>4:34</span></li>
										<li>Winter Bird  <span>4:34</span></li>
										<li>I Went Too Far  <span>4:34</span></li>
										<li>Through The Eyes Of A Child  <span>4:34</span></li>
										<li>Warrior  <span>4:34</span></li>
										<li>Murder Song (5, 4, 3, 2, 1) <span>4:34</span></li>
										<li>Home  <span>4:34</span></li>
										<li>Under The Water  <span>4:34</span></li>
										<li>Black Water Lilies <span>4:34</span></li>
									</ol>
								</div>
								
								
								
							</section>
						</article>	

						</div>
					</div>
				</div>
			</section>

			<section class="wr bg-grey">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h3>Вас может заинтересовать</h3>
							<div class="main-products">
								<ul class="list-catalog-products">
									<li>
										//= ./../tpl/product-preview.html
									</li>
									<li>
										//= ./../tpl/product-preview.html
									</li>
									<li>
										//= ./../tpl/product-preview.html
									</li>
									<li>
										//= ./../tpl/product-preview.html
									</li>
								</ul>
							</div>
							

						</div>
					</div>
				</div>
			</section>
			
		//= ./../tpl/footer.html
		</div>

		<div class="popup-seller_info">
			<figure>
				<img src="../../web/img/product-logo.png" alt="">
				<figcaption>
					<h3>Контакты</h3>
				 	<address>
				 		Управляющий Сервисный центр<br>
						г. Москва, ул. Большая Новодмитровская д. 36 стр. 1,<br>
						1 вход, 4 этаж. "Дизайн завод Flacon"<br>  
						http://servicenb.ru<br>
						Тел.: +7 800 775-29-44 (Звонок по России бесплатный)<br>
						Тел.: +7 495 984-06-02
					</address>
				</figcaption>
			</figure>
			<a href="#" class="b-close"><i class="icon icon-close"></i></a>
		</div>

		<!-- Scripts -->
		//= ./../tpl/scripts.html
	</body>
</html>