//INTRO LANDING - http://prntscr.com/gi7mni
.intro {
	height: auto; width: 100%; max-width: 1920px; padding: 22% 0 15% 0; margin: 0 auto; position: relative;
	background-size: contain;
	&.one-bg {background: url(../img/girl-head.png) no-repeat right center #4489ff;}
	&.two-bg {background: url(../img/mixer-head.png) no-repeat center center #4489ff;}
	
	hgroup {
		width: 365px; margin-left: 10%;
		@include respond-to(xs) {width: 270px;}

		h1, h2 {
			@include font-type($CormacEL, 44px !important, 54px, -0.4px); color: #fff; text-align: left !important;
			@include respond-to(sm) {font-size: 32px !important; line-height: 38px;}
		}
		h1 {
			margin-bottom: 40px;
			@include respond-to(xs) {margin-bottom: 30px;}
		}

	}

	figure {
		text-align: center;
		width: 280px; margin: 0 auto;

		img {
			@include respond-to(md) {width: 50%; margin: 0 auto; display: inline-block;}
			@include respond-to(sm) {width: 30%;}
			@include respond-to(xs) {width: 20%;}
		}

		figcaption {
			@include font-type($CormacEL, 34px, 40px, 0.2px); color: #fff;
			margin-top: 20px;

			@include respond-to(sm) {font-size: 22px; line-height: 26px; margin-top: 15px;}
			@include respond-to(xs) {font-size: 14px; line-height: 18px; margin-top: 5px;}
		}
	}
}

a.down {
	display: block; position: absolute; left: 50%; margin-left: -15px; bottom: 35px; width: 18px; height: 11px; z-index: 8;
	@include respond-to(xs) {bottom: 15px;}
	////////////////////////////////////////////////
	////////////////////////////////////////////////
	////////////////////////////////////////////////

	@keyframes toggleSlide {
		0%   {transform: translateY(-3px);}
		25% {transform: translateY(0);}
		50% {transform: translateY(3px);}
		100% {transform: translateY(-3px);}
	}
	animation: toggleSlide .4s ease-out infinite;
	&:hover {transform: translateY(3px) scale(1.1); animation-play-state: paused;}
}
		