// share - http://prntscr.com/gibr6g 
.share {
	////////////////////////////////////////////////
	////////////////////////////////////////////////
	////////////////////////////////////////////////
	.social {
		display: flex; justify-content: center; align-items: center;
	}

	////////////////////////////////////////////////
	////////////////////////////////////////////////
	////////////////////////////////////////////////
	.btn-wrapp {
		margin-top: 0 !important;
	}
	&-title {
		text-align: center; margin: 60px 0;
		p {
			color: #000; font-size: 16px; letter-spacing: 0.5px;
			margin-bottom: 10px;
		}
		h4 {
			font-size: 32px;
		}
	}

	.social {
		width: 300px; margin: 0 auto; 
		li {
			a {display: block; padding: 0 25px;}
		}
		
	}

	////////////
	.social {
		transition: all .4s; &:hover li {opacity: 0.4; transform: scale(0.9);}
		li{transition: all .4s; &:hover {opacity: 1; transform: scale(1);}}
	}
}