<!DOCTYPE html>
<html>
	//= ../../head.html
	<body class="on-load">
		//= ../../counter.html

		<!-- Application -->
		<div class="app company">
			//= ../../header.html
			//= ../../breadcrumbs.html

			<section class="wr bg_white">
				<div class="container">
					<div class="content-block">
						<div class="row">
							<div class="col-md-12">

								<a href="#" class="shop_logo">
									<figure>
										<img src="assets/img/logo_shop.png" alt="">
										<figcaption>Обновить логотип</figcaption>
									</figure>
								</a>

								<div class="tabs-shop js-tab_direct">
									<a href="#" class="js-toggle-menu">Меню магазина <i class="fa fa-angle-down"></i></a>
									<ul>
										<li class="active"><a href="#tab-I">О магазине</a></li>
										<li><a href="#tab-II">Добрые дела</a></li>
										<li><a href="#tab-III">Отзывы</a></li>
										<li><a href="#tab-IV">Каталог</a></li>
									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
			
			//= ../../partners.html
			//= ../../footer.html
		</div>

		<!-- Scripts -->
		//= ../../scripts.html
	</body>
</html>