<ul class="list-projects type_1">
	<li>
		<article> 
			<header>
				<figure>
					<img src="assets/img/doings-img.png" alt="">
				</figure>
				<section>
					<h3>Кораблик &mdash; Благотворительный фонд помощи детям</h3>
					<p>Благотворительный частный фонд, учрежденный в 2005 году по инициативе Никиты Анатольевича Мишина.</p>
				</section>
			</header>
			<ul>
				<li>
					<h4>Магнитола SONY</h4>
					<dl>
						<dt>+ 2 000 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
				<li>
					<h4>Лампа настольная Pixar</h4>
					<dl>
						<dt>+ 800 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
				<li>
					<h4>Macbook Pro Late 2015 Retina display</h4>
					<dl>
						<dt>+ 15 000 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
			</ul>
			<footer>
				<h4>Вы пожертвовали: <strong>17 325 <span>₽</span></strong></h4>
			</footer>
		</article>		
	</li>
	<li>
		<article> 
			<header>
				<figure>
					<img src="assets/img/doings-img.png" alt="">
				</figure>
				<section>
					<h3>Кораблик &mdash; Благотворительный фонд помощи детям</h3>
					<p>Благотворительный частный фонд, учрежденный в 2005 году по инициативе Никиты Анатольевича Мишина.</p>
				</section>
			</header>
			<ul>
				<li>
					<h4>Магнитола SONY</h4>
					<dl>
						<dt>+ 2 000 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
				<li>
					<h4>Лампа настольная Pixar</h4>
					<dl>
						<dt>+ 800 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
				<li>
					<h4>Macbook Pro Late 2015 Retina display</h4>
					<dl>
						<dt>+ 15 000 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
			</ul>
			<footer>
				<h4>Вы пожертвовали: <strong>17 325 <span>₽</span></strong></h4>
			</footer>
		</article>		
	</li>
	<li>
		<article> 
			<header>
				<figure>
					<img src="assets/img/doings-img.png" alt="">
				</figure>
				<section>
					<h3>Кораблик &mdash; Благотворительный фонд помощи детям</h3>
					<p>Благотворительный частный фонд, учрежденный в 2005 году по инициативе Никиты Анатольевича Мишина.</p>
				</section>
			</header>
			<ul>
				<li>
					<h4>Магнитола SONY</h4>
					<dl>
						<dt>+ 2 000 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
				<li>
					<h4>Лампа настольная Pixar</h4>
					<dl>
						<dt>+ 800 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
				<li>
					<h4>Macbook Pro Late 2015 Retina display</h4>
					<dl>
						<dt>+ 15 000 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
			</ul>
			<footer>
				<h4>Вы пожертвовали: <strong>17 325 <span>₽</span></strong></h4>
			</footer>
		</article>		
	</li>
</ul>

