////////////////////////////////////////////////////
////////////////////////////////////////////////////
//СТИЛИ ДЛЯ ЛЕГДИНГОВ "ПИТОМЦЫ" и "ДЕТИ"
.app.index {
	&.pet, &.children {
		header.header {
			.logo-block {
				.subtitle {display: inline-block;}
			}
		}

		//изменен размер текста и отступы - http://prntscr.com/h4c507
		.intro-body {
			padding: 169px 0 45px 9px;
			header {
				h1 {
					font-size: 54px; line-height: 65px; margin-bottom: 41px;
					@include respond-to(xs) {
						font-size: 38px; line-height: 48px;
					}
				}
				p {font-size: 18px; line-height: 28px; margin-bottom: 0;}
			}
			section {top: 214px;}
		}
		
		//подкорректированы отступы
		.list-promotion {padding-top: 16px;}
		
		//меняем цвета в футере - http://prntscr.com/h4dpcf
		.footer {
			&-contacts {
				& > ul {
					.logo {
						display: none;
						&-black {display: inline-block;}
					}
					& > li ul.soc li a i {color: #000;}
				}
			}
		}
	}
	
	&.pet {
		//меняем цвет меню - http://prntscr.com/h4ba6n
		.help-menu {
			bottom: -35px;
			li {
				&.active, &:hover {
					a {
						background: #96be46; color: #fff;
						i {color: #fff;}
					}
				}
				a {
					color: #96be46;
					i {color: #96be46;}
				}
			}
		}

		//меняем цвет стрелок - http://prntscr.com/h4bgop
		.promotion section p > i {color: #96be46;}

		//меняем цвет выпадающего меню - http://prntscr.com/h4fud1
		.js-index-menu .js-toggle-menu i {color: #96be46;}

		//меняем цвет кнопок в карусели - http://prntscr.com/h4d0x7
		.carousel .navigation li {
			&.active, &:hover {
				background: #96be46;
			}
		}

		//меняем цвет кнопки в подписке - http://prntscr.com/h4d0n6
		.subscription .form .btn {
			background: #96be46; border-color: #96be46;
			&:hover {
				background: #fff; color: #96be46;
			}
		}

		//меняем цвета в футере - http://prntscr.com/h4dpcf
		.footer {
			&-contacts > ul > li ul.soc li a {
				&:hover {i {color: #96be46;}}
			}  
		}
	}

	&.children {
		//меняем цвет меню - http://prntscr.com/h4bg0s
		.help-menu {
			bottom: -35px;
			li {
				&.active, &:hover {
					a {
						background: #e8b194; color: #fff;
						i {color: #fff;}
					}
				}
				a {
					color: #e8b194;
					i {color: #e8b194;}
				}
			}
		}

		//меняем цвет стрелок - http://prntscr.com/h4bgum
		.promotion section p > i {color: #e8b194;}
		
		//меняем цвет выпадающего меню - http://prntscr.com/h4fvbw
		.js-index-menu .js-toggle-menu i {color: #e8b194;}

		//меняем цвет кнопок в карусели - http://prntscr.com/h4d2gb
		.carousel .navigation li {
			&.active, &:hover {background: #e8b194;}
		}
		
		//меняем цвет кнопки в подписке - http://prntscr.com/h4d2pj
		.subscription .form .btn {
			background: #e8b194; border-color: #e8b194;
			&:hover {
				background: #fff; color: #e8b194;
			}
		}

		//меняем цвета в футере - http://prntscr.com/h4dpcf
		.footer {
			&-contacts > ul > li ul.soc li a {
				&:hover { i {color: #e8b194;}}
			}  
		}

	}
}
////////////////////////////////////////////////////
////////////////////////////////////////////////////

.app.index 	{
	padding-top: 0;
	.header {
		//////Временно, чтобы не мешал
		position: absolute;
		////////////////////////////////

		background: transparent; box-shadow: none;
		//Надписи возле лого - http://prntscr.com/h4bzp5
		.subtitle {
			position: relative; padding-left: 21px;
			&:before {
				content: '';
				height: 26px; width: 2px; position: absolute; left: 5px; top: -8px;
				background: #fff;
			}
		}
		/////////////////////
		.menu-top { 
			a.burger {
				&.active {
					span {
						@include respond-to(md) {background: $link-color;}
					}
				}
				span {
					@include respond-to(md) {background: #fff;}
				}
				
			}
			& > ul { 

				& > li { 
					a { 
						color: #fff; i {color: #fff;} 
						@include respond-to(md) {
							color: $link-color;
							i {color: $link-color;}
						}
					} 
					&.drop-down { & > a { span {background: #fff;} } }
				} 
			} 
		}

		a.logo {
			display: none;
			&.white {
				display: inline-block; position: relative; top: -2px; padding-left: 31px;
				@include respond-to(sm) {padding-left: 15px;}
			}
		}
	}

	//Секция с выпадающими списками на главной - http://prntscr.com/h2ns22
	.section-group {
		display: flex; justify-content: center;
		@include respond-to(md) {flex-direction: column;}

		padding-top: 27px;
		.select {
			margin: 0 31px;
			@include respond-to(md) {margin-bottom: 25px;}

			&:last-child {margin-bottom: 0}
			& > a {
				font-size: 18px; letter-spacing: 0;
				i {
					font-size: 16px; color: #000;
				}
			}
		}
	}
}

.gradient-vert {
	position: absolute; width: 100%; height: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 16%,rgba(0,0,0,0.49) 98%,rgba(0,0,0,0.5) 100%);
}

// INTRO LANDING - http://prntscr.com/h2bdli
.intro {
	width: 100%; height: auto; position: relative;
	background: url(../../web/img/index/intro.png) no-repeat center; background-size: cover;
	.gradient {
		position: absolute; width: 100%; height: 100%; 
		background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.3) 40%,rgba(5,171,224,0) 100%);
	}
	&-body {
		color: #fff;
		position: relative; padding: 145px 0 64px 100px;
		@include respond-to(sm) {padding: 145px 0 64px 20px;}
		@include respond-to(xs) {padding-left: 0;}
		header {
			h1 {
				@include font-type($CormacB, 42px, 56px, 0px); 
				color: #fff; margin-top: 0; margin-bottom: 23px;
				@include respond-to(sm) {font-size: 36px; line-height: 48px;}
			}
			p {
				@include font-type($CormacB, 26px, 32px, 0px); 
				margin-bottom: 87px;
			}
			a {
				@include font-type($CormacB, 16px, 1px, 0px); color: #fff;
				position: relative;
				&:after {
					content: '';
					position: absolute; top: 100%;
					border-bottom: 1px solid #fff;
					transition: all 0.4s;
				}
				&:after {right: 100%; left: 0;}
				&:hover:after {right: 0;}
				&:hover i {transform: translateX(5px);}

				i {color: #fff; transition: all 0.4s; transform: translateX(0);}	
			}
		}

		section {
			position: absolute; right: 24px; top: 184px;
			@include respond-to(md) {
				position: static; margin-top: 50px; padding-left: 26px;
			}
			p {
				@include font-type($HelveticaM, 26px, 1, 0px); text-transform: uppercase;
				position: relative;
				span {
					position: absolute; top: -22px; left: -26px; 
					@include font-type($CormacB, 18px, 1px, 0px); text-transform: none;
					i {margin-right: 11px;}
				}
			}
		}
	}
}

//ДЛЯ ВЫПАДАЮЩЕГО МЕНЮ НА МОБИЛЬНОЙ ВЕРСИИ - http://prntscr.com/h4fsh2
.js-index-menu {
	@include respond-to(sm) {
		width: 90%; padding-top: 25px; position: relative; bottom: -30px; z-index: 5; margin: 0 auto;
		border-radius: 20px; background: #fff; box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
	}

	.js-toggle-menu {
		display: none; 
		@include respond-to(sm) {
			display: flex; justify-content: space-between;

			@include font-type($CormacB, 20px, 1, 0.5px); color: #000;
			width: 95%; margin: 0 auto; padding-bottom: 15px;
			i {
				font-size: 28px; color: $link-color;
				transition: all .4s ease;
				&.active {transform: rotate(180deg);}
			}

		}
	}
	.help-menu {
		@include respond-to(sm) {
			height: 0; max-height: 0; overflow: hidden;
			transition: all .5s linear;
			&.active {height: auto; max-height: 1000px;}

			flex-direction: column;
			height: auto; width: 100%;
			border-radius: 0; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;

			& > li {
				text-align: left;
				width: 100%;
				&:hover, &.active {
					a {text-align: left; border-radius: 0;}
				}
				&:first-child {
					&:hover, &.active {
						a {text-align: left;}
					}
				}
				a {
					text-align: left;
					padding: 20px 0 20px 35px;
					background: #fff;
				}
				
			}
		}
	}
}

//MENU IN INTRO http://prntscr.com/h2dmhm
.help-menu {
	display: flex;
	position: relative; z-index: 2; bottom: -28px; width: 984px; height: 64px; margin: 0 auto;
	background: #fff; border-radius: 100px; box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
	@include respond-to(lg) {width: 95%;}
	
	

	li {
		height: 100%; margin-right: 11px;
		transition: all .4s ease;
		@include respond-to(lg) {width: 25%;}
	
		&:hover {
			a {
				color: #fff; text-align: center;
				background: $btn-color; border-radius: 100px; 

				i {
					color: #fff;
				}
			}
		}
		&.active {
			a {
				text-align: left; color: #fff;
				padding: 20px 0 20px 35px;
				background: $btn-color; border-radius: 100px; 
				&:after {
					content: '';
					position: absolute; bottom: 12px;
					border-bottom: 1px solid $link-color;
					transition: all 0.4s;
				}
				i {
					color: #fff;
				}
			}
		}
		&:last-child {
			margin-right: 0;
			a {
				i {
					display: none;
					@include respond-to(sm) {display: inline-block;}
				}
			}
		}
		

		a {
			color: $link-color; text-align: center; @include font-type($CormacEL, 18px, 1, 0px);
			display: inline-block; height: inherit; width: 238px; padding-top: 20px; padding-right: 14px;  position: relative;
			transition: all .5s ease;
			@include respond-to(lg) {width: 100%;}
			

			i {
				color: $link-color; font-size: 30px;
				position: absolute; right: 21px; top: 16px;
				transition: all .5s ease;
			} 
		}
	}
}


//PROMOTION LIST - http://prntscr.com/h2dye8
.list {
	&-promotion {
		display: flex; justify-content: space-around;
		margin: 0px -7px 0 -9px;
		@include respond-to(md) {flex-wrap: wrap;}

		li {
			width: 25%;
			@include respond-to(md) {width: 50%;}
			@include respond-to(xs) {width: 100%;}

			&:nth-child(2), &:nth-child(3) {
				p {left: 10px;}
			}
		}
	}
}

//PROMOTION - http://prntscr.com/h4biip
.promotion {
	section {
		display: flex; justify-content: center;
		padding-top: 61px; margin-bottom: 15px;

		p {
			color: #000; text-align: center;
			position: relative; left: 15px; margin-bottom: 9px;

			@include font-type($CormacB, 64px, 1, 0px);

			& > i {
				color: $link-color; font-size: 24px; font-weight: 600;
				position: absolute; top: 22px; left: -20px;
			}
			span {
				@include font-type($CormacEL, 18px, 1, 0px);
				position: relative; top: 7px; display: inline-block; margin-left: -10px;  vertical-align: top;
				
				i {color: #000; font-size: 15px; font-weight: 600;}
			}
		}
	}
	& > p {
		@include font-type($HelveticaR, 16px, 22px, 0.3px); text-align: center; color: #000;
	}
}


//http://prntscr.com/h4c7ee
.action {
	display: flex; flex-direction: column; justify-content: end;

	width: 100%; min-height: 422px; padding: 0 0 59px 49px;
	@include respond-to(xs) {padding: 0 15px 59px 15px;}

	h2 {
		display: flex; align-items: center;

		@include font-type($CormacB, 54px, 1, 0); color: #fff;  
		/*для хрома*/margin-top: auto;/**/ margin-bottom: 25px;
		@include respond-to(xs) {font-size: 36px; line-height: 46px;}
		i {
			font-size: 27px; font-weight: bold;
			margin-left: 21px; margin-top: 7px;
		}
	}
	p {
		@include font-type($CormacB, 22px, 32px, 0); color: #fff;
		margin-bottom: 0; padding-left: 3px;
		@include respond-to(xs) {font-size: 18px; line-height: 28px;}
	}
}

//http://prntscr.com/h4c80l
.joined {
	padding-bottom: 51px; position: relative;
	a.btn-white {
		position: absolute; right: -29px; top: 145px;
		@include respond-to(sm) {right: -15px;}

		i {margin-left: 0;}
	}
	h2 {
		@include font-type($CormacB, 16px, 1, 0); color: #7690a4; text-align: center;
		padding-top: 20px; margin-bottom: 50px;
	}
	ul {
		display: flex;
		li {
			margin-right: 19px; 
			&:last-child {margin-right: 0;}
			a {
				&:hover {
					img {box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);}
				}
				img {
					transition: all .4s ease;
				}
			}
		}
	}
}

// NEWS in Index - http://prntscr.com/h2fk7d
.news {
	display: flex;
	@include respond-to(md) {flex-direction: column;}

	&-block {
		&_single, &_several header {
			& > a {
				position: relative; display: inline-block;
				transition: all .4s ease;
				&:hover {box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);}

				section {
					display: flex; flex-direction: column; justify-content: end;

					position: absolute; left: 0; bottom: 0;
				}
				figure {
					img {
						max-width: 100%;
						@include respond-to(sm) {width: 100%;}
					}
				}
			}
		}

		&_single {
			width: 585px;
			@include respond-to(md) {width: 80%; margin: 0 auto;}
			@include respond-to(sm) {width: 100%;}

			& > a {width: 100%;}
			section {
				width: 100%; height: 229px;
				padding-left: 47px; padding-bottom: 40px;
				@include respond-to(xs) {padding-left: 10px;}

				h2 {
					@include font-type($CormacB, 54px, 1, 0); color: #fff;
					margin-bottom: 24px;
					@include respond-to(xs) {
						font-size: 32px;
					}
				}
				p {
					@include font-type($CormacB, 18px, 24px, 0); color: #fff;
					padding-left: 4px;
				}
			}
		}

		&_several {
			width: 590px;
			@include respond-to(md) {width: 80%; margin: 0 auto;}
			@include respond-to(sm) {width: 100%;}

			section {
				padding-left: 20px;
				h2 {
					@include font-type($CormacB, 38px, 46px, 0px); color: #fff;
					margin-bottom: 17px;
					@include respond-to(sm) {font-size: 30px; line-height: 38px;}
					@include respond-to(xs) {font-size: 22px; line-height: 28px; margin-bottom: 0;}

				}
				p {
					@include font-type($CormacB, 18px, 24px, 0); color: #fff;
					@include respond-to(sm) {font-size: 16px;}
				}
			}

			header {
				& > a {width: 100%;}
				section {
					padding-bottom: 29px;
					@include respond-to(xs) {padding-bottom: 0;}
				}
			}
			footer {
				display: flex; justify-content: space-between;
				@include respond-to(xs) {flex-direction: column;} 
				
				& > a {
					position: relative; width: 100%;
					transition: all .4s ease;
					&:hover {box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);}

					section {
						display: flex; flex-direction: column;

						position: absolute; bottom: 11px; left: 0; min-height: 163px;
						h2 {margin-bottom: 11px;}
						
					}
					figure {
						img {
							max-width: 100%;
							@include respond-to(sm) {width: 100%;}
						}
					}
				}
				
			}
		}
	}
}

// - http://prntscr.com/h2q6m0
.main-category {
	display: flex; justify-content: space-between;

	padding-top: 27px; position: relative;
	@include respond-to(md) {flex-direction: column;}

	& > .btn-white {
		position: absolute; z-index: 5; right: -28px; top: 204px;
		@include respond-to(lg) {top: 70px; right: -20px;}
		@include respond-to(xs) {top: -27px;}
	}
	&-block {
		
		&.first {
			width: 680px;
			@include respond-to(lg) {width: 57%;}
			@include respond-to(md) {width: 80%; margin: 0 auto;}
			@include respond-to(sm) {width: 100%;}
		}
		&.second {
			width: 480px;
			@include respond-to(lg) {width: 40.2%; margin: 0 auto;}
			@include respond-to(md) {width: 80%; margin: 0 auto;}
			@include respond-to(sm) {width: 100%;}
			section {
				left: 44px;
				@include respond-to(xs) {left: 15px;}
			}
		}
		& > a {
			position: relative; display: inline-block; width: 100%;
			transition: all .4s ease;
			&:hover {box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2)}

			section {
				display: flex; flex-direction: column;
				position: absolute; left: 50px; bottom: 47px; width: 90%;
				@include respond-to(xs) {left: 25px; bottom: 20px;}

				h2 {
					@include font-type($CormacB, 54px, 1, 0); color: #fff;
					margin-bottom: 19px;
					@include respond-to(sm) {font-size: 40px}
					@include respond-to(xs) {font-size: 30px; margin-bottom: 12px;}
				}

				p {@include font-type($CormacB, 22px, 1, 0); color: #fff;}
				@include respond-to(sm) {font-size: 18px;}
			}
			figure {
				img {
					max-width: 100%;
					@include respond-to(md) {width: 100%;}
				}
			}
		}
	}
}

.main-products {
	position: relative;
	.btn-white {
		position: absolute; z-index: 5; top: 178px; right: -45px;
		@include respond-to(lg) {right: -20px;}
		@include respond-to(xs) {top: -23px;}

	}
}


//CAROUSEL - http://prntscr.com/h2bo9g
.carousel {
	padding: 55px 0 32px 0;

	.navigation {display: flex; justify-content: center;}
	.navigation, .owl-dots {
		margin-top: 55px;

		li,  .owl-dot {
			width: 19px; height: 8px; margin: 0 5px;
			background: #d9deea; border-radius: 10px; cursor: pointer;
			transition: all .2s ease; transform: translateY(0);

			&.active {background: #4489ff; &:hover {cursor: default;}}
			&:hover {background: #4489ff; transform: translateY(-3px);}
			&:active {transform: translateY(0);}
			&.active {transform: translateY(0); &:hover {cursor: default;}}
		}
	}

	&-wrap {
		position: relative;
		min-height: 160px; 
		@include respond-to(md) {height: 250px;}
		@include respond-to(sm) {height: 380px;}
		@media (max-width: 620px) {height: 420px;}
		@media (max-width: 540px) {height: 450px;}
		@include respond-to(xs) {height: 500px;}
		@media (max-width: 430px) {height: 545px;}
		@media (max-width: 400px) {height: 595px;}
		@media (max-width: 365px) {height: 695px;}
		@media (max-width: 333px) {height: 590px;}
	}

		
	&-item {
		display: flex; justify-content: start;

		position: absolute; top: 0; left: 0; width: 100%; padding-left: 102px;
		@include respond-to(lg) {padding-left: 40px;}
		@include respond-to(sm) {flex-direction: column; padding-left: 0;}

		figure {
			display: flex;
			text-align: left;
			@include respond-to(md) {flex-direction: column; justify-content: center; align-items: center;}
			@include respond-to(sm) {text-align: center; width: 100%; margin-bottom: 60px;}
			img {
				width: 80px; height: 80px; margin-right: 20px; margin-top: 5px;
				@include respond-to(sm) {margin: 0 0 15px 0;}
			}
			figcaption {
				@include font-type($CormacB, 34px, 43px, 0);
				padding-top: 4px;
				@include respond-to(sm) {br {display: none;}}

				span {
					@include font-type($CormacEL, 16px, 24px, 1px); color: #4b5769 !important;
					width: 180px; 
					display: block; padding-top: 7px;
					@include respond-to(sm) {width: 100%;}
				}
			}
		}

		section {
			width: 53%; padding-left: 118px;  position: relative; top: -8px;
			@include respond-to(lg) {width: 100%;}
			@include respond-to(sm) {padding-left: 0;}
			p {
				@include font-type($HelveticaM, 18px, 28px, 1.5px); color: #4b5769; font-family: $HelveticaL;
				position: relative;
				@include respond-to(sm) {text-align: center;}
			}
		}

		//FOR JS
		figure {opacity: 0; transition: all .8s;}
		section {
			transform: translateX(150px);
			opacity: 0;
			transition: 0.5s ease-out;
		}

		&.active {
			figure {
				opacity: 1;
			}
			section {
				opacity: 1;
				transform: translateX(0);
			}
		}
		&.left {
			section {
				opacity: 0;
				transform: translateX(-150px); width: 70%;
				@include respond-to(sm) {
				transform: translateX(-75px);
				}
				@include respond-to(xs) {
					transform: translateX(-30px);
				}
			}
		}
		&.right {
			section {
				opacity: 0;
				transform: translateX(150px); width: 70%;
				@include respond-to(sm) {
				transform: translateX(75px);
				}
				@include respond-to(xs) {
				transform: translateX(30px);
				}
			}
		}
	}

}


//DOINGS - http://prntscr.com/h2caai
.doings {
	padding: 30px 0 21px 0; position: relative;
	.btn-white {
		position: absolute; z-index: 5; right: -47px; top: 182px;
		@include respond-to(lg) {right: -20px;}
		@include respond-to(md) {top: 9px;}
	}

	&-wr {
		display: flex; justify-content: space-between; align-items: flex-start;
		@include respond-to(md) {flex-direction: column;}
	}
	
	&-item {
		width: 32%;
		background: #fff; cursor: pointer;
		@include respond-to(md) {display: flex;}

		&:hover {box-shadow: 0 0 20px rgba(57, 60, 66, 0.1);}
		@include respond-to(md) {width: 100%; margin: 10px 0;}
		@media (max-width: 580px){flex-direction: column;}

		&:hover {
			box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);
		}

		figure{
			width: 100%; 
			overflow: hidden;

			img {width: 100%;}
		}

		&:first-of-type {
			section {
				h4 {max-width: 220px;}
			}
		}

		section {
			padding: 35px 23px 40px;
			@include respond-to(md) {padding: 15px 20px;}

			h4 {
				@include font-type($CormacB, 22px, 32px, 0);  font-size: 22px; line-height: 32px; letter-spacing: 0;
				margin-bottom: 14px;
			}
			p {
				@include font-type($HelveticaL, 16px, 24px, 0.7px); color: #4b5769;
				margin-bottom: 14px;
			}
			span {@include font-type($HelveticaL, 10px, 18px, 1.1px); text-transform: uppercase; color: #4b5769;}
		}
	}
}


//PARTNERS - http://prntscr.com/h2caw6
.wr.base.partners-style2 {
	padding: 65px 0 54px 0;
	border-top: 1px solid #e7edf2;

	ul {
		display: flex; align-items: center;  justify-content: space-between; flex-wrap: wrap;
	}
}


//http://prntscr.com/h4cg2c
.subscription {
	padding-top: 79px; padding-bottom: 40px;
	border-top: 1px solid #d9d9d9;
	h2 {
		@include font-type($CormacB, 34px, 51px, 0.3px); text-align: center;
		margin-bottom: 16px;
	}

	.form {
		display: flex; flex-direction: column; align-items: center;
		& > span {
			margin-bottom: 5px;
			@include respond-to(sm) {width: 100%;}

			input {
				letter-spacing: 0.6px; width: 580px;
				@include respond-to(sm) {width: 100%;}
			}
		}
		
		.btn {width: 203px; padding: 21px 20px;}
	}
}
