////////////////////////////////////////////////////
////////////////////////////////////////////////////
.btn {
	&.white {
		color: #000;
		background: #fff; border-color: #fff;
	}
}
.play-video {
	display: flex; align-items: center;
	color: #fff; @include font-type($CormacB, 18px, 18px, 0);

	&:hover {
		color: #fff;
		& > span {background: #629CFF;}
	}
	& > span {
		display: inline-block; width: 37px; height: 37px; margin-left: 15px; position: relative; top: 3px;
		background: $btn-color; border-radius: 50%;
		transition: .4s ease;
		i {
			color: #fff; font-size: 14px;
			position: absolute !important; top: 12px; left: 14px;
		}
	}
}
//СТИЛИ ДЛЯ ЛЕГДИНГОВ "ПИТОМЦЫ" и "ДЕТИ"
.app.index {
	padding-top: 0;
	
	//разделитель - http://prntscr.com/hdonwo
	.separator {
		clear: both; display: block; width: 100%; height: 1px; padding: 0 0 7px 0;
		background: #F3F6FA; border-bottom: 1px solid #d9deea;

	}
	// кнопочки справа лендинга
	.container {
		position: relative;
		.btn-white {
			position: absolute; z-index: 1; right: -45px; top: 50%; transform: translateY(-50%);
			@include respond-to(lg) {right: -25px;}
			@include respond-to(md) {
				display: block; width: 110px;
				margin: 15px auto 0 auto;
				position: relative; top: auto; right: auto; transform: translateY(0); 

				.home_product &, .home_news & {}
			}

			color: white; background: #4489FF; i {color: white;}
			&:hover {background: #629CFF;}
		}
	}

	//Секция с выпадающими списками на главной - http://prntscr.com/h2ns22
	.section-group {
		display: flex; justify-content: center;
		@include respond-to(md) {flex-direction: column;}

		padding-top: 27px;
		.select {
			margin: 0 32px;
			@include respond-to(md) {margin-bottom: 25px; margin-right: 0;}
			sup {font-size: 11px; top: -0.6em; left: -5px;}

			&:last-child {margin-bottom: 0}
			& > a {
				font-size: 18px; letter-spacing: 0;
				i {
					font-size: 16px; color: #000;
				}
			}
		}
	}

	&.pet, &.children {
		header.header {
			.logo-block {
				.subtitle {display: inline-block;}
			}
		}
		
		//подкорректированы отступы
		.list-promotion {padding-top: 16px;}
	}
	
	&.pet {

		//меняем цвет стрелок - http://prntscr.com/h4bgop
		.promotion section p > i {color: #96be46;}

		//меняем цвет выпадающего меню - http://prntscr.com/h4fud1
		.js-index-menu .js-toggle-menu i {color: #96be46;}

		//меняем цвет кнопок в карусели - http://prntscr.com/h4d0x7
		.carousel .navigation div {
			&.active, &:hover {
				background: #96be46;
			}
		}

		.container .btn-white {
			background: #96be46;
			&:hover {
				background: #abca6d;
			}
		}

		//меняем цвет кнопки в подписке - http://prntscr.com/h4d0n6
		.subscription .form .btn {
			background: #96be46; border-color: #96be46;
			&:hover {
				background: #fff; color: #96be46;
			}
		}

		//меняем цвета в футере - http://prntscr.com/h4dpcf
		.footer {
			&-contacts > ul > li ul.soc li a {
				&:hover {i {color: #96be46;}}
			}  
		}
	}

	&.children {

		//меняем цвет стрелок - http://prntscr.com/h4bgum
		.promotion section p > i {color: #e8b194;}
		
		//меняем цвет выпадающего меню - http://prntscr.com/h4fvbw
		.js-index-menu .js-toggle-menu i {color: #e8b194;}

		//меняем цвет кнопок в карусели - http://prntscr.com/h4d2gb
		.carousel .navigation div {
			&.active, &:hover {background: #e8b194;}
		}
		
		.container .btn-white {
			background: #E8B194;
			&:hover {
				background: #efc3ac;
			}
		}

		//меняем цвет кнопки в подписке - http://prntscr.com/h4d2pj
		.subscription .form .btn {
			background: #e8b194; border-color: #e8b194;
			&:hover {
				background: #fff; color: #e8b194;
			}
		}

		//меняем цвета в футере - http://prntscr.com/h4dpcf
		.footer {
			&-contacts > ul > li ul.soc li a {
				&:hover { i {color: #e8b194;}}
			}  
		}
	}

	&.dobro {
		h2.header {margin-top: 40px;}
		.section-group {padding-top: 0;}

		.list-promotion {
			li {
				@include respond-to(md) {width: 25%;}
				@include respond-to(sm) {width: 100%;}
			}
		}


		//меняем цвет стрелок - http://prntscr.com/h4bgum
		.promotion section p > i {color: white;}
		
		//меняем цвет выпадающего меню - http://prntscr.com/h4fvbw
		.js-index-menu .js-toggle-menu i {color: #7A3FBF;}

		//меняем цвет кнопок в карусели - http://prntscr.com/h4d2gb
		.carousel .navigation div {
			&.active, &:hover {background: #7A3FBF;}
		}

		.container .btn-white {background: #7A3FBF;}
		
		//меняем цвет кнопки в подписке - http://prntscr.com/h4d2pj
		.subscription .form .btn {
			background: #7A3FBF; border-color: #7A3FBF;
			&:hover {
				background: #fff; color: #7A3FBF;
			}
		}

		//меняем цвета в футере - http://prntscr.com/h4dpcf
		.footer {
			&-contacts > ul > li ul.soc li a {
				&:hover { i {color: #7A3FBF;}}
			}  
		}
	}

	&.fashion, &.art {

		//меняем цвет стрелочек сверху - http://prntscr.com/hbsz10
		.promotion {
			section p > i {color: #000}
		}

		//меняем цвет кнопок в контенте - http://prntscr.com/hbrtu8
		.container .btn-white {background: #000;}

		//меняем цвет кнопок в карусели - http://prntscr.com/hbp9r5
		.carousel .navigation li, .carousel .owl-dots .owl-dot {
			&.active, &:hover {
				background: #414141;
			}
		}

		//меняем цвет кнопки в подписке - http://prntscr.com/hbp1il
		.subscription .form .btn {
			justify-content: center;
			background: #000; border-color: #000;
			&:hover {
				background: #fff; color: #000;
			}
		}

		.footer {
			&-contacts > ul > li ul.soc li a {
				&:hover { i {color: #000;}}
			}  
		}
	}

		//Секция со списком людей - http://prntscr.com/hbm7rz
	.list-people {
		display: flex; flex-flow: wrap; padding-top: 34px;
		li {
			width: 33.33333%; margin-bottom: 33px; padding-left: 97px; padding-right: 15px;
			&:last-child {margin-bottom: 0;}
			@include respond-to(md) {width: 50%; padding-left: 15px}
			@include respond-to(xs) {width: 100%;}
			figure {
				display: flex; align-items: center; width: auto;
				margin-bottom: 0;
				img {
					flex-shrink: 0; 
					width: 59px; height: 59px; margin-bottom: 0;
					border-radius: 50%; 
					overflow: hidden; 
				}
				figcaption { 
					color: #000; text-transform: none; font-size: 18px; letter-spacing: 0.4px;
					margin-left: 20px;
					@include respond-to(sm) {
						font-size: 16px;
					}
				}
			}
			a {
				&:hover {
					cursor: default;
				}
			}
		}
	}

}
////////////////////////////////////////////////////
////////////////////////////////////////////////////


// INTRO LANDING - http://prntscr.com/h2bdli
.intro {
	& > section {
		background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.3) 40%,rgba(5,171,224,0) 100%);
		height: 547px; position: relative; overflow: hidden;
		background: url('../img/index/bg.jpg') no-repeat center; background-size: cover;
		@include respond-to(md) {height: 600px;}
		
		article {
			display: none; &:first-child {display: block;}

			.container {position: relative;} transition: height .6s;
			width: 100%; height: 100%;

			color: #fff;
			position: absolute; bottom: 0; left: 0;
			

			header {
				padding-left: 102px; margin-top: 143px;
				@include respond-to(md) {padding-left: 20px;}
				@include respond-to(xs) {margin-top: 110px;}
				.main-landing & {
					padding-left: 0; margin-top: 176px;
				}
				.auction &, .stars & {
					text-align: center;	
					padding-left: 0; margin-top: 134px;
				}

				h1 {
					color: #fff; @include font-type($CormacB, 42px, 56px, -1px); 
					margin-top: 0; margin-bottom: 22px;
					@include respond-to(sm) {font-size: 36px; line-height: 48px;}
					@include respond-to(xs) {font-size: 28px; line-height: 38px; margin-left: -10px;}
					.main-landing & {
						text-align: center; font-size: 50px; line-height: 57px; letter-spacing: -1.1px;
						@include respond-to(sm) {font-size: 38px; line-height: 46px;}

					}
					.auction &, .stars & {
						font-size: 46px; letter-spacing: 0;
						@include respond-to(sm)  {font-size: 36px;}
						@include respond-to(xs) {font-size: 26px; line-height: 32px;}
					}
				}
				h1 + ul {margin-top: 86px; @include respond-to(sm) {margin-bottom: 42px;}}
				p {
					@include font-type($CormacB, 26px, 32px, 0px); 
					margin-bottom: 86px;
					@include respond-to(sm) {font-size: 20px; line-height: 26px; margin-bottom: 42px;}
					@include respond-to(xs) {margin-left: -10px;}

					.auction &, .stars & {
						margin-bottom: 26px;
						@include respond-to(xs) {font-size: 16px;}
					}
				}
				h2 {
					color: #fff; @include font-type($CormacB, 62px, 78px, -1px); 
					margin-bottom: 86px;
					@include respond-to(sm) {
						font-size: 40px; line-height: 50px; margin-bottom: 42px;
					}
					@include respond-to(xs) {margin-left: -10px;}
				}
				a {
					@include font-type($CormacB, 16px, 16px, 0px); color: #fff;
					position: relative;
					@include respond-to(xs) {margin-left: -10px;}
					.auction & {padding: 18px 22px 16px 24px;}

					i {
						color: #fff; font-size: 17px; font-weight: bold;
						margin-left: 4px;
						position: relative; top: 1px;
						transition: all 0.4s; transform: translateX(0);
					}
						
				}
				& > ul {
					display: flex; 
					@include respond-to(sm) {flex-flow: column nowrap; margin-left: -10px;}

					li {
						margin-right: 40px; &:last-child {margin-right: 0;}
						@include respond-to(sm) {margin-right: 0; margin-bottom: 10px;}
					}
				}
			}

			section {
				&.search-landing {
					display: flex; flex-direction: column; align-items: center;
					padding-top: 6px;
					.form {
						display: flex; justify-content: space-between;
						width: 778px; padding-top: 60px;
						@include respond-to(md) {width: 90%;}
						.wr-input {
							margin: 0; padding: 0; width: 713px;
							@include respond-to(md) {width: calc(100% - 66px);}
							@include respond-to(xs) {width: calc(100% - 50px;)}
							input {
								@include font-type($CormacB, 21px, 21px, 0px); color: #000;
								height: 62px; padding: 17px 10px 7px 24px;
								border-top-right-radius: 0; border-bottom-right-radius: 0;
								@include respond-to(xs) {font-size: 16px; line-height: 16px;}
							}
							label {
								@include font-type($CormacB, 21px, 21px, 0px); color: #b3c6d5;
								left: 26px; top: 21px;
								@include respond-to(xs) {
									font-size: 16px; line-height: 16px;
									left: 20px; top: 29px;
								}
							}
							input:valid ~ label {
								font-size: 14px; color: #F3F6FA;
								top: -22px; left: 0;
							}
						}
						
						.btn-search {
							width: 66px; height: 62px;
							background: $btn-color; border: none; border-bottom-right-radius: 5px; border-top-right-radius: 5px;
							transition: .4s ease;
							&:hover {background: #629CFF;}
							@include respond-to(xs) {width: 50px;}
						}
					}
				}
			}

			footer {
				position: absolute; top: 180px; right: 40px;
				@include respond-to(md) {right: -5px; padding-left: 50px;}
				@include respond-to(sm) {position: static; padding-top: 60px; padding-left: 40px;}
				.main-landing & {
					top: 132px; right: 30px;
				}

				p {
					@include font-type($HelveticaL, 26px, 26px, 0px); text-transform: uppercase; font-weight: bold;
					position: relative;
					span {
						position: absolute; top: -22px; left: -26px; 
						@include font-type($CormacB, 18px, 18px, 0); text-transform: none;
						i {margin-right: 11px;}
					}
				}
			}
		}
	}

	nav {
		margin-top: -32px; background: white;

		& > ul {
			display: flex; justify-content: space-between; align-items: stretch;
			width: 984px; height: 64px; margin: 0 auto;
			position: relative; z-index: 2;
			background: #fff; border-radius: 100px; box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
			@include respond-to(sm) {
				width: 100%;
			}

			li {
				height: 100%; width: 26.3%;
				position: relative; z-index: 1;
				@include respond-to(sm) {width: 100%; height: 64px;}
				&.decoration, &:nth-child(2) {
					width: 24.6%;
					@include respond-to(sm) {width: 100%; height: 64px;}
					a {
						justify-content: start;
						padding-left: 50px;
						i {right: 24px}
					}
				}

				
				a, i {transition: color 1s ease, padding .2s linear;}
				a {
					display: flex; justify-content: center; align-items: center;
					color: #4489FF; font-family: $CormacB; font-size: 18px; line-height: 18px; text-align: center;
					width: 100%; height: 100%; padding-right: 50px; padding-left: 32px;
					position: relative;

					i {
						color: #4489FF; font-size: 30px;
						position: absolute; right: 0; top: 16px;
					} 
				}
				&:last-child { width: 22.6%; a {padding-right: 0 !important; i {display: none;}}}

				&.hovered {a, i {color: white;}}
				&.decoration {
					height: 100%;
					position: absolute; top: 0; bottom: 0;
					background: #4489FF; border-radius: 100px;
					transition: width .4s ease;
				}
			}
		}
		@include respond-to(lg) {
			& > ul {width: 100%; li {width: 25%; a {padding-right: 20px;} &.selectedLava {a {padding-right: 20px;}}}}
		}
		@include respond-to(sm) {
			margin-top: 25px;

			& > ul {
				border-radius: 0; width: 120px; height: 10px; box-shadow: none;
					li {
						width: 25% !important; height: 100% !important;
						&.decoration {display: none;}

						a {
							padding: 0 !important; display: block; 
							width: 19px; height: 8px; margin: 0 5px;
							background: #d9deea; border-radius: 10px;
							span {display: none;}
							i {
								display: none;
								// top: 0; right: auto; left: 50% !important; transform: translateX(-50%);
							}
						}

						&.hovered {a {background: #4489FF;}}

						// &:last-child a i {display: block;}
					}
				// flex-direction: column;
				// width: 100%; height: auto; border-radius: 10px;
				// li {
				// 	width: 100% !important; height: 64px;
				// 	&.decoration {display: none;}
				// 	&.hovered {background: #4489FF;}
				// 	&:first-child {
				// 		a {justify-content: center;}
				// 	}
				// 	&:nth-child(2)  {
				// 		padding: 0;
				// 		a {justify-content: center; padding-left: 0;}
				// 	}
				// 	&:last-child {
				// 		a {
				// 			i {display: block;}
				// 		}
				// 	}
				// 	a {
				// 		color: #4489FF; flex-direction: column; align-items: center;
				// 		padding: 0;
				// 		i {
				// 			right: 24px;
				// 			transform: rotate(90deg);
				// 		}
				// 	}
					
				// }
			}
		}
	}

	.pet & {
		& > section {background: url('../img/index/intro2.png') no-repeat center; background-size: cover;}
		nav > ul li {
			&.decoration {background: #96be46; color: #fff;}
			&.hovered {a, i {color: white;}}
			a, i {color: #96be46;}
			@include respond-to(sm) {&.hovered {a {background: #96be46;}}}
		}
		//@include respond-to(sm) {nav > ul {li {a {background: #96be46;}}}}
	}

	.children & {
		& > section {
			background: url('../img/index/intro1.png') no-repeat right center; background-size: cover;
			@media (max-width: 360px) {background: url('../img/index/intro1.png') no-repeat -890px center; background-size: cover;}
		}
		nav > ul li {
			&.decoration {background: #E8B194; color: #fff;}
			&.hovered {a, i {color: white;}}
			a, i {color: #E8B194;}
			@include respond-to(sm) {&.hovered {a {background: #E8B194;}}}
		}
		//@include respond-to(sm) {nav > ul {li {a {background: #E8B194;}}}}
	}

	.dobro & {
		& > section {
			background: url('../img/index/intro3.png') no-repeat center; background-size: cover;
			@include respond-to(sm) {height: 625px;}
			@include respond-to(sm) {height: 700px;}

			article {
				header {
					padding-left: 199px; margin-top: 228px;
					position: relative;
					@include respond-to(lg) {margin-top: 155px;}
					@include respond-to(md) {padding-left: 100px;}
					@include respond-to(sm) {margin-top: 100px; padding-left: 0;}

					figure {
						position: absolute; top: -17px; left: 60px;
						@include respond-to(md) {left: 0;}
						@include respond-to(sm) {position: static; margin-bottom: 30px;}
					}
					

					p {margin-bottom: 0; padding-left: 3px; letter-spacing: 0.1px;}
					h2 {
						margin-bottom: 74px; letter-spacing: -1px;
						@include respond-to(sm) {font-size: 34px;}
					}
					a {
						padding: 18px 25px;
						border: 2px solid white; border-radius: 100px; transition: all .2s;
						&:after {display: none;}
						&:hover {background: white; color: #7A3FBF;}
					}
				}
				footer {
					display: flex; justify-content: center; align-items: center;
					width: 195px; height: 195px; top: 97px; right: 17px; padding-top: 4px; padding-left: 28px;
					background: url('../images/dobro-duga.svg') no-repeat center;
					@include respond-to(lg) {position: relative; float: right; top: -41px;}
					@include respond-to(md) {top: -110px;}
					@include respond-to(sm) {position: absolute; top: 77px}
					
					p {
						font-family: $CormacB; font-size:32px; margin-bottom: 0;
						span {
							display: block;
							font-size: 16px; line-height: 18px;
							margin-bottom: 8px;
							position: relative; top: auto; left: 1px;
						}
					}
				}
			}
		}
	}

	.fashion &, .art & {
		nav > ul li {
			&.decoration {background: #000; color: #fff;}
			&.hovered {a, i {color: white;}}
			a, i {color: #000;}
			@include respond-to(sm) {&.hovered {a {background: #000;}}}
		}
		//@include respond-to(sm) {nav > ul {li {a {background: #E8B194;}}}}
	}

	.fashion & {
		& > section {
			background: url('../img/index/fashion-header.png') no-repeat right top; background-size: cover;
			@media (max-width: 360px) {background: url('../img/index/fashion-header.png') no-repeat -890px center; background-size: cover;}
		}
	}
	.art & {
		& > section {
			background: url('../img/index/art-header.jpg') no-repeat right center; background-size: cover;
			@include respond-to(xs) {background: url('../img/index/art-header.jpg') no-repeat 85% center; background-size: cover;}
		}
	}

	.main-landing & {
		& > section {
			background: url('../img/index/main-bg.png') no-repeat right center; background-size: cover;
			height: 650px;
			@include respond-to(sm) {height: 700px;}
			@include respond-to(xs) {height: 770px;}
			@media (max-width: 360px) {background: url('../img/index/main-bg.png') no-repeat -890px center; background-size: cover;}
		}
	}
	.auction & {
		& > section {
			background: url('../img/index/auction-bg.png') no-repeat right center; background-size: cover;
			height: 420px;
			@media (max-width: 360px) {background: url('../img/index/auction-bg.png') no-repeat -890px center; background-size: cover;}
		}
	}

	.stars & {
		& > section {
			background: url('../img/index/stars-bg.png') no-repeat right center; background-size: cover;
			height: 420px;
			@media (max-width: 360px) {background: url('../img/index/auction-bg.png') no-repeat -890px center; background-size: cover;}
		}
	}
}


//http://prntscr.com/hh6zaw
.involvement-wrapp {
	position: relative; top: -90px; z-index: 2;
}

//http://prntscr.com/hha40x
article.involvement {
	display: flex; flex-direction: column; justify-content: space-between;
	height: 100%; padding-top: 36px; padding-bottom: 40px;
	header {
		width: 100%; padding-bottom: 30px; 
		border-bottom: 1px solid #f4f4f4;
		@include respond-to(md) {padding-bottom: 25px;}
		h2 {
			@include font-type($CormacB, 24px, 24px, 0.3px); color: #515c6e; text-align: center;
			margin-bottom: 0;
			@include respond-to(md) {font-size: 22px; line-height: 24px;}
		}
	}
	section {
		padding: 35px 10px 43px 10px;
		p {
			@include font-type($HelveticaR, 22px, 31px, 0.3px); color: #000; text-align: center;
			margin-bottom: 0;
			@include respond-to(md) {
				    font-size: 18px; line-height: 26px;
			}
		}
	}
	footer {
		display: flex; justify-content: center;
		a {
			padding: 21px 27px;
			@include respond-to(md) {
				font-size: 14px;
				padding: 13px 12px;
			}
			@include respond-to(sm) {
				font-size: 16px;
				width: 90%; padding: 21px 0;
			}
			&.prick {
				color: #7690a4; @include font-type($CormacB, 16px, 16px, 0); text-align: center;
				width: 275px; padding: 20px 0;
				border: 1px solid #c0d1dd; border-radius: 100px;
				@include respond-to(md) {
					font-size: 14px; line-height: 14px;
					width: 90%; padding: 13px 0;
				}
				@include respond-to(sm)  {
					font-size: 16px;
					padding: 21px 0;
				}
			}	
			i {margin-left: 3px;}		
		}	
	}
}


.list {
	//http://prntscr.com/hh6zaw
	&-involvement {
		display: flex; 
		margin: 0 -10px;
		@include respond-to(md) {margin: 0 -5px;}
		@include respond-to(sm) {
			flex-direction: column;
			margin: 0 10px;
		}
		& > li {
			width: calc(33.33333% - 20px); margin: 0 10px;
			box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); background: #fff;
			@include respond-to(sm) {width: 100%; margin: 0 0 20px 0;}
			&:last-child {
				@include respond-to(sm) {margin-bottom: 0;}
			}
		}
	}

	//http://prntscr.com/hha5hu
	&-auction {
		display: flex; flex-wrap: wrap;
		margin: 0 -10px;
		& > li {
			width: calc(33.33333% - 20px); margin: 0 10px 20px 10px;
			background: #fff;
			@include respond-to(sm) {width: calc(50% - 20px);}
			@include respond-to(xs) {width: 100%; margin: 0 0 20px 0;}
			&:hover {box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); }
		}
	}
}

.auction-wrapp {
	padding: 27px 0;
    background: #F3F6FA;
    .pagination-block {
    	padding: 10px 0 0 0;
    }
}

//http://prntscr.com/hh6zaw
article.auction-prew {
	display: flex; flex-direction: column; justify-content: space-between;
	height: 100%; width: 100%; padding-bottom: 19px;
	header {
		a {
			&:hover {
				.dark {opacity: 1;}
			}
			figure {
				max-height: 240px; width: 100%; position: relative;
				.stars & {max-height: 380px;}
				img {max-width: 100%;}
				figcaption {
					width: 100%; height: 100%; position: absolute; top: 0; left: 0;
					.dark {
						display: flex; align-items: flex-end;
						padding: 20px 20px 11px 24px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; 
						background: rgba(0,0,0,0.7);
						opacity: 0;
						transition: .4s ease;
						& > ul {
							display: flex;
							li {
								margin-right: 12px;
								&:last-child {margin-right: 0;}
								p, span {color: #fff;}
								span {
									@include font-type($HelveticaR, 12px, 16px, 0);
								}
								p {
									@include font-type($CormacB, 52px, 52px, 0);
								}
								
							}
						}
					}
				}
			}
		}
	}

	section {
		padding: 21px 20px 10px 20px;
		h3 {
			color: #000; @include font-type($CormacB, 20px, 26px, 0); 
		}
		p {
			color: #000; @include font-type($HelveticaR, 14px, 18px, 0.2px);
			margin-bottom: 13px;
		}
		div {
			span {
				color: #000; @include font-type($HelveticaR, 12px, 12px, 0);
			}
		}
	}
	footer {
		padding: 0 10px 0 20px;
		figure {
			display: flex; align-items: center;
			img {margin-right: 7px;}
			figcaption {
				color: #000; @include font-type($CormacB, 12px, 12px, 0); text-transform: uppercase;
			}
		}
	}
	
}


.wrapper {
	padding-bottom: 60px; background: white;
}

.counter {
    padding: 35px 0 42px 0; background: #fff;

    .dobro & {
    	padding: 33px 0 50px 0;
    	background: #7A3FBF url('../images/bg-plus.svg') 0 0 no-repeat; background-size: cover;
    	
		article p,
    	article section p,
    	article section p > i {color: white;}
    	article section p {font-size: 84px; line-height: 84px;}
    }

    .main-landing & {
    	background: url('../img/index/counter-main.png') 0 0 no-repeat; background-size: cover;
    	article p,
    	article section p,
    	article section p span i,
    	article section p > i {color: white;}
    }
}

.about {
	padding: 65px 0 61px 41px;
	@include respond-to(sm) {padding-left: 0;}
	article {
		display: flex; justify-content: space-between;
		@include respond-to(md) {
			flex-direction: column; align-items: center;
			width: 666px;
		}
		@include respond-to(sm) {width: 100%;}

		header {
			flex-shrink: 0;
			width: 424px; height: 424px; padding-top: 150px;
			background: url('../img/index/dobro-duga-big.svg') center no-repeat transparent;
			@include respond-to(md) {margin-bottom: 20px;}
			@include respond-to(xs) {
				width: 300px; height: 300px; padding-top: 25px;
				background-size: cover;
			}
			.logos {
				display: flex; align-items: center; justify-content: space-between;
				width: 82%; margin: 0 auto 13px auto;
				@include respond-to(xs) {flex-direction: column;}

				figure {
					&:first-child {
						padding-left: 9px; position: relative; top: -6px;
						@include respond-to(xs) {top: 0; padding-left: 23px;}
					}
					&:nth-child(2) {
						position: relative; top: -4px; left: 2px;
						@include respond-to(xs) {
							top: 0; left: 0; margin: 10px 0 13px 0;
						}
					}
					&:last-child {
						padding-top: 13px;
						@include respond-to(xs) {padding-top: 0;}
					}
				}
			}
			p {
				@include font-type($CormacB, 17px, 26px, 0); color: #515c6e; text-align: center;
				width: 100%; padding-left: 22px;
				@include respond-to(xs) {
					font-size: 15px; line-height: 23px;
					padding-left: 0;
				}
			}
		}

		section {
			padding-left: 56px; padding-top: 38px; width: 64%;
			@include respond-to(lg) {padding-right: 20px;}
			@include respond-to(md) {width: 100%; padding-left: 0;}

			h2 {
				color: #64359C; @include font-type($CormacB, 28px, 38px, 0px); margin-bottom: 29px;
				@include respond-to(xs) {font-size: 24px; line-height: 24px;}
			}
			p {
				color: #000000; @include font-type($HelveticaL, 18px, 26px, 0.8px); margin-bottom: 45px;
				@include respond-to(xs) {font-size: 16px; line-height: 24px;}
			}
			ul {
				display: flex; align-items: center;
				li {
					margin-right: 43px;
					&:last-child {margin-right: 0;}
					a {
						color: #64359C; @include font-type($CormacB, 18px, 19px, 0px);
						position: relative;

						i {transition: all 0.4s; transform: translateX(0);}

						&:after {
							content: '';
							position: absolute; top: 100%;
							border-bottom: 1px solid #7A3FBF;
							transition: all 0.4s;
						}
						&:after {right: 100%; left: 0;}
						&:hover:after {right: 0;}
						&:hover i {transform: translateX(5px);}
					}
				}
			}
		}
	}
}

.people {
	padding: 80px 0 40px 0;
	article {
		display: flex;
		@include respond-to(md) {flex-direction: column;}

		section {
			width: 35%; padding-right: 15px;
			@include respond-to(lg) {padding-right: 0;}
			@include respond-to(md) {width: 100%; margin-bottom: 20px;}

			h2 {
				color: #000000; @include font-type($CormacB, 38px, 39px, 0px); margin-bottom: 40px;
				@include respond-to(xs) {font-size: 36px; line-height: 37px;}

				.dobro & {
					line-height: 46px; 
					padding-top: 21px; margin-bottom: 43px;
				}
			}
			p {
				color: #000000; @include font-type($CormacB, 18px, 26px, 0.4px);
				@include respond-to(xs) {font-size: 16px; line-height: 24px;}
				.dobro & {@include font-type($HelveticaL, 18px, 26px, 1px);}
			}
		}

		footer {
			width: 65%; padding-top: 5px; padding-left: 15px;
			@include respond-to(lg) {padding-left: 0;}
			@include respond-to(md) {width: 100%;}

			.one_item {width: 170px; margin: 0 auto;}

			figure {
				text-align: center; margin-bottom: 20px; &:last-child {margin-bottom: 0;}
				img {width: auto !important; display: inline-block !important;}
				figcaption {
					padding-top: 12px;
					p {color: #000000; @include font-type($CormacB, 16px, 24px, 0px); margin-bottom: 0;}
					span {color: #000000; @include font-type($CormacB, 12px, 16px, 0px); opacity: 0.7;}
				}
			}
		}
	}
	&-block .content  {
		h2 {
			font-size: 44px; line-height: 65px; text-align: center;
			margin-bottom: 50px;
		}
	}
}


.megasale {
	padding: 25px 0 0 0; background: white;
	img {width: 100%;}
}

.home_filter {
	padding: 10px 0 35px 0; background: white;
	h2 {color: #000000; font-family: $CormacB; font-size: 38px; line-height: 39px; text-align: center; margin-bottom: 15px;}

	.app.index.pet &,  .app.index.children & {
		padding: 40px 0;
	}
}

//http://prntscr.com/hha23v
.auction-filter {
	padding-top: 47px; background: #F3F6FA;
	article {
		display: flex; justify-content: space-between; align-items: center;
		padding: 0 3px 0 0;
		@include respond-to(sm) {flex-direction: column; align-items: start;}
		h2 {
			@include font-type($CormacB, 24px, 24px, 0px);
			margin-bottom: 0;
			@include respond-to(sm) {margin-bottom: 15px;}
			sup {
				font-size: 15px;
				position: relative; top: -11px; right: 4px; 
			}
		}
		section {
			display: flex; justify-content: flex-end; align-items: center;
			padding-top: 10px;
			.select {
				margin-left: 23px;
				&:first-child {margin-left: 0;}
			}
		}
	}
	
}

.home_product {
	padding: 35px 0; background: #F3F6FA;

	ul.list-preview > li:last-child {
		position: relative;

		@include respond-to(lg) {position: absolute; top: -10000px; left: -10000px;}
		@include respond-to(md) {position: relative; top: auto; left: auto;}
	}

	.app.index.pet & {
		padding: 25px 0 45px 0;
	}

	.fashion &, .art & {background: #fff; padding: 0;}

}

.joined_partners {
	padding: 45px 0; background: white;
	.fashion &, .art & {
		background: #F3F6FA;
		h2 {
			@include font-type($CormacB, 16px, 20px, 0px); text-align: center; color: #000;
			margin-bottom: 30px;
		}
	}
}

.events {
	padding: 50px 0;
	background: #F3F6FA;
	h2 {
		@include font-type($CormacB, 16px, 20px, 0px); text-align: center; color: #000;
		margin-bottom: 30px;
	}
}

.home_testimonials {
	padding: 30px 0 35px 0; background: white;
	.children &, .pet & {background: #F3F6FA;}
}

.home_news {
	padding: 55px 0 35px 0; background: #F3F6FA;
	.children &, .pet & {background: white;}
	.fashion &, .art & {
		background: #fff;
		h2 {
			@include font-type($CormacB, 16px, 20px, 0px); text-align: center;
			margin-bottom: 30px;
		}
	}
}


//http://prntscr.com/h4cg2c
.subscription {
	padding: 75px 0; background: white;

	h2 {
		@include font-type($CormacB, 34px, 51px, 0.3px); text-align: center;
		margin-bottom: 16px;
	}

	.form {
		display: flex; flex-direction: column; align-items: center;
		& > span {
			margin-bottom: 5px;
			@include respond-to(sm) {width: 100%;}

			input {
				letter-spacing: 0.6px; width: 580px;
				@include respond-to(sm) {width: 100%;}
			}
		}
		
		.btn {width: 203px; padding: 20px;}
	}
}

//ДЛЯ ВЫПАДАЮЩЕГО МЕНЮ НА МОБИЛЬНОЙ ВЕРСИИ - http://prntscr.com/h4fsh2
/*.js-toggle-menu {
	display: none; 
	@include respond-to(sm) {
		display: flex; justify-content: space-between;

		@include font-type($CormacB, 20px, 1, 0.5px); color: #000;
		width: 95%; margin: 0 auto; padding-bottom: 15px;
		i {
			font-size: 28px; color: $link-color;
			transition: all .4s ease;
			&.active {transform: rotate(180deg);}
		}

	}
}*/

//PROMOTION LIST - http://prntscr.com/h2dye8
.list {
	&-promotion {
		display: flex; justify-content: space-around;
		margin: 0px -7px 0 -9px;
		@include respond-to(md) {flex-wrap: wrap;}

		li {
			width: 33%;
			@include respond-to(sm) {width: 100%;}

			&:nth-child(2), &:nth-child(3) {
				p {left: 10px;}
			}
		}
	}

	.dobro & {
		li {
			@include respond-to(md) {width: 25%;}
			@include respond-to(sm) {width: 100%;}
		}
	}

	//SHOWROOM - http://prntscr.com/hbqxw2
	&-showroom  {
		display: flex;
		margin: 0 -10px;
		li {
			width: calc(33.33333% - 20px); margin: 0 10px;
			background: #fff;
			a:hover {box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);}
			figure {img {max-width: 100%;} }
		}
		@include respond-to(sm) {
			width: 100%; 
			overflow: hidden;
			li {width: calc(50% - 10px); flex-shrink: 0;}
		}
		@include respond-to(xs) {li {width: 100%;} }
	}

	//EVENTS - http://prntscr.com/hbt0f3
	&-events {
		display: flex;
		margin: 0 -10px;
		li {
			width: calc(25% - 20px); margin: 0 10px;
			background: #fff;
			a:hover {box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);}
			article {padding: 20px;}
			hgroup {
				margin-bottom: 30px;
				h4 {@include font-type($CormacB, 54px, 1, 0.3px); color: #323232;}
				h5 {@include font-type($CormacB, 16px, 1, 0.3px); color: #323232;}
			}
			section {
				h4 {@include font-type($CormacB, 22px, 32px, 0.3px); color: #000;}
				p {@include font-type($HelveticaL, 16px, 24px, 0.7px); color: #000;}
			}

		}
		@include respond-to(md) {
			width: 100%; 
			overflow: hidden;
			li {width: calc(50% - 10px); flex-shrink: 0;}
		}
		@include respond-to(xs) {li {width: 100%;} }
	}
}


//PROMOTION - http://prntscr.com/h4biip
.promotion {
	section {
		display: flex; justify-content: center;
		padding-top: 30px; margin-bottom: 15px;

		p {
			color: #000; text-align: center;
			position: relative; left: 14px; margin-bottom: 13px;

			@include font-type($CormacB, 64px, 1, 0px);

			& > i {
				color: $link-color; font-size: 24px; font-weight: 600;
				position: absolute; top: 25px; left: -19px;
			}
			span {
				@include font-type($CormacB, 18px, 1, 0px);
				position: relative; top: 11px; display: inline-block; vertical-align: top;
				
				i {color: #000; font-size: 15px; font-weight: 600;}
			}
		}
	}
	& > p {
		@include font-type($HelveticaR, 16px, 22px, 0.3px); text-align: center; color: #000;
	}
}


//http://prntscr.com/h4c7ee
.action {
	display: flex; flex-direction: column; justify-content: end;

	width: 100%; min-height: 422px; padding: 0 0 60px 45px;
	@include respond-to(xs) {padding: 0 15px 60px 15px;}

	h2 {
		display: flex; align-items: center;

		@include font-type($CormacB, 54px, 1, 0); color: #fff;  
		/*для хрома*/margin-top: auto;/**/ margin-bottom: 25px;
		@include respond-to(xs) {font-size: 35px; line-height: 45px;}
		i {
			font-size: 27px; font-weight: bold;
			margin-left: 21px; margin-top: 7px;
		}
	}
	p {
		@include font-type($CormacB, 22px, 32px, 0); color: #fff;
		margin-bottom: 0; padding-left: 3px;
		@include respond-to(xs) {font-size: 18px; line-height: 28px;}
	}
}

//http://prntscr.com/h4c80l
.joined {
	padding-bottom: 40px; position: relative;

	h2 {
		@include font-type($CormacB, 16px, 1, 0); color: #7690a4; text-align: center;
		padding-top: 11px; margin-bottom: 50px;
	}
	ul {
		display: flex;
		li {
			// margin-right: 19px; 
			// &:last-child {margin-right: 0;}
			padding: 10px;
			a {
				display: inline-block;
				background: #fff;
				transition: all .4s ease;
				&:hover {
					box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
				}
			}
			@include respond-to(xs){text-align: center;}
		}
	}
	a.btn-white {z-index: 2 !important; i {margin-left: 0;}}
}

//Блок "Присоединиться" - http://prntscr.com/hbojdz 
.join {
	height: 600px; width: 100%; padding-top: 94px;
	header {
		text-align: center;
		margin-bottom: 30px; padding-left: 22px;
		h4, p {color: #fff;}
		h4 {
			font-size: 44px; letter-spacing: 1.1px; line-height: 52px;
			margin-bottom: 50px;
		}
		p {font-size: 28px; line-height: 40px; letter-spacing: 1.1px;}
	}
	.form {
		display: flex; flex-direction: column; align-items: center;
		width: 560px;
		.wr-input, input {width: 100%;}
		input {color: #000; background: #fff;}
		label {color: #000;}
		.btn {
			color: #000; @include font-type($CormacB, 16px, 1, 0);
			&:hover {background: #000; color: #fff;}
		}
	}

	@include respond-to(sm) {
		height: auto; padding-top: 50px;
		header {
			padding-left: 0;
			h4 {font-size: 32px; line-height: 38px; margin-bottom: 30px;}
			p {font-size: 16px; line-height: 22px;}
		}
		
		.form {width: 100%;}
	}
}

// NEWS in Index - http://prntscr.com/h2fk7d
.news {
	display: flex;
	@media (max-width: 1249px) {height: 576px; overflow: hidden;}
	@include respond-to(lg) {height: 475px;}
	@include respond-to(md) {flex-direction: column; height: auto; overflow: visible;}

	&-block {
		&_single, &_several header {
			transition: all .4s ease;
			& > a {
				position: relative; display: inline-block;
				transition: all .4s ease;

				section {
					display: flex; flex-direction: column; justify-content: end;
					position: absolute;
				}
				figure {
					img {
						max-width: 100%;
						@include respond-to(sm) {width: 100%;}
					}
				}
			}
		}

		&_single {
			width: 590px;
			@include respond-to(md) {width: 80%; margin: 0 auto;}
			@include respond-to(sm) {width: 100%;}

			&:hover {
				box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05); z-index: 2;
				@media (max-width: 1249px) {box-shadow: none;}
			}

			& > a {width: 100%;}
			section {
				width: 100%; height: 229px;
				padding-left: 48px; padding-bottom: 40px; bottom: 0; left: 0;
				@include respond-to(md) {padding-left: 35px;}
				@media (max-width: 590px) {bottom: -25px;}

				h2 {
					@include font-type($CormacB, 54px, 56px, -1px); color: #fff;
					margin-bottom: 24px;
					i {
						font-size: 24px; position: relative; bottom: 5px; right: -2px;
						@include respond-to(md) {bottom: 0;}
						@include respond-to(sm) {bottom: -2px;}
					}
					@include respond-to(xs) {font-size: 32px; line-height: 34px;}
				}
				p {
					@include font-type($CormacB, 18px, 24px, 0); color: #fff;
					padding-left: 4px;
				}
			}
		}

		&_several {
			width: 590px;
			@include respond-to(md) {width: 80%; margin: 0 auto;}
			@include respond-to(sm) {width: 100%;}

			&:hover {z-index: 2;}

			section {
				h2 {
					@include font-type($CormacB, 38px, 40px, -1px); color: #fff;
					margin-bottom: 17px;
					@include respond-to(sm) {font-size: 30px; line-height: 38px;}
					@include respond-to(xs) {font-size: 22px; line-height: 20px; margin-bottom: 15px;}

				}
				p {
					@include font-type($CormacB, 18px, 24px, 0); color: #fff;
					@include respond-to(sm) {font-size: 16px; line-height: 20px;}
				}
			}

			header {
				position: relative;
				& > a {width: 100%;}
				section {
					padding-bottom: 29px; left: 39px; bottom: 2px;
					@include respond-to(xs) {padding-bottom: 0;}
					h2 {
						i {
							font-size: 24px; position: relative; bottom: 5px; right: -3px; 
							@include respond-to(md) {bottom: 0;}
							@include respond-to(sm) {bottom: -2px;}
						}
					}
				}

				&:hover {
					box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05); z-index: 3;
					@media (max-width: 1249px) {box-shadow: none;}
				}
			}
			footer {
				display: flex; justify-content: space-between;
				@include respond-to(xs) {flex-direction: column;} 
				
				&:hover {z-index: 3;}

				& > a {
					position: relative; width: 100%;
					transition: all .4s ease;

					&:hover {
						box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05); z-index: 4;
						@media (max-width: 1249px) {box-shadow: none;}
					}

					section {
						display: flex; flex-direction: column;

						position: absolute; bottom: 0; left: 35px; min-height: 163px; padding-top: 5px;
						h2 {
							margin-bottom: 14px;
							i {
								font-size: 24px; position: relative; bottom: 2px; right: -4px;
								@include respond-to(md) {bottom: 0;}
								@include respond-to(sm) {bottom: -2px;}
							}
						}
						p {padding-left: 2px;}

						@include respond-to(lg) {bottom: 65px; left: 15px;}
						@include respond-to(md) {bottom: 0; left: 35px;}
						@media (max-width: 590px) {bottom: 45px;}
						@include respond-to(sm) {bottom: 0;}
						
					}
					figure {
						height: 299px; overflow: hidden;
						img {
							max-width: 100%; height: 100%;
							@include respond-to(sm) {width: 100%;}
						}
					}
				}
			}
		}
	}
}

// - http://prntscr.com/h2q6m0
.main-category {
	display: flex; justify-content: space-between; position: relative;
	@include respond-to(md) {flex-direction: column; a.btn-white {width: auto !important;}}

	&-block {
		&.first {
			width: 680px;
			@include respond-to(lg) {width: 57%;}
			@include respond-to(md) {width: 80%; margin: 0 auto 20px auto;}
			@include respond-to(sm) {width: 100%;}
		}
		&.second {
			width: 480px;
			@include respond-to(lg) {width: 40.2%; margin: 0 auto;}
			@include respond-to(md) {width: 80%; margin: 0 auto;}
			@include respond-to(sm) {width: 100%;}
			section {
				left: 44px;
				@include respond-to(xs) {left: 15px;}
			}
		}
		& > a {
			position: relative; display: inline-block; width: 100%;
			transition: all .4s ease;
			&:hover {box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2)}

			section {
				display: flex; flex-direction: column;
				position: absolute; left: 50px; bottom: 47px; width: 90%;
				@include respond-to(xs) {left: 25px; bottom: 20px;}

				h2 {
					@include font-type($CormacB, 54px, 58px, 0); color: #fff;
					margin-bottom: 19px;
					@include respond-to(sm) {font-size: 40px}
					@include respond-to(xs) {font-size: 30px; margin-bottom: 12px;}
					i {
						font-size: 24px; font-weight: 600; position: relative; bottom: 8px; right: -6px;
						@include respond-to(md) {bottom: 0;}
					}
				}

				p {@include font-type($CormacB, 22px, 22px, 0); color: #fff; padding-left: 3px;}
				@include respond-to(sm) {font-size: 18px;}
			}
			figure {
				img {
					max-width: 100%;
					@include respond-to(md) {width: 100%;}
				}
			}
		}
	}
}

.main-products {
	position: relative; padding-top: 15px;
	h2 {
		@include font-type($CormacB, 24px, 30px, 0);
	}
	.fashion &, .art & {
		h2 {
			@include font-type($CormacB, 34px, 42px, 0);
		}
	}
	.btn {
		@include font-type($CormacB, 16px, 16px, 0);
		padding: 20px;
		position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);

		.dobro & {background: #7A3FBF; border: none;}
	}
}


//Блоки для лендингов мода и арт
.showroom {
	padding: 55px 0 35px 0; background: #F3F6FA;
	li {
		article {
			figcaption {
				padding: 20px 30px;
				h4 {font-family: $CormacB; font-size: 16px; text-transform: none;}
				p {text-transform: none; font-family: $HelveticaR; font-size: 12px; color: #000;}
			}
		}
	}
	
}

.showroom, .joined, .events {
	.carousel {
		padding: 0;
		.navigation, .owl-dots {padding-top: 30px;}
	}
}


//CAROUSEL - http://prntscr.com/h2bo9g
.carousel {
	padding: 77px 0 53px 0;

	.navigation, .owl-dots {display: flex; justify-content: center;}
	.navigation, .owl-dots {
		margin-top: 7px; padding-left: 6px	;

		li,  .owl-dot {
			flex-shrink: 0;
			width: 19px; height: 8px; margin: 0 5px; padding: 0;
			background: #d9deea; border-radius: 10px; cursor: pointer;

			&.active {background: #4489ff; &:hover {cursor: default;}}
			&:active {transform: translateY(0);}
			&.active {transform: translateY(0); &:hover {cursor: default;}}
		}
	}

	&-wrap {
		position: relative;
		min-height: 160px; 
		@include respond-to(md) {height: 250px;}
		@include respond-to(sm) {height: 380px;}
		@media (max-width: 620px) {height: 420px;}
		@media (max-width: 540px) {height: 450px;}
		@include respond-to(xs) {height: 500px;}
		@media (max-width: 430px) {height: 545px;}
		@media (max-width: 400px) {height: 595px;}
		@media (max-width: 365px) {height: 695px;}
		@media (max-width: 333px) {height: 590px;}
	}

		
	&-item {
		display: flex; justify-content: start;
		width: 100%; padding-left: 102px; padding-top: 5px;
		@include respond-to(lg) {padding-left: 40px;}
		@include respond-to(sm) {flex-direction: column; padding-left: 0;}

		figure {
			display: flex;
			text-align: left;
			@include respond-to(md) {flex-direction: column; justify-content: center; align-items: flex-start; }
			@include respond-to(sm) {align-items: center; text-align: center; width: 100%; margin-bottom: 60px;}
			img {
				width: 80px !important; height: 80px !important; margin-right: 20px; max-width: 100%;
				@include respond-to(md) {width: auto !important; margin: 0 0 40px 0;}
				@include respond-to(sm) {margin: 0 0 15px 0;}
			}
			figcaption {
				@include font-type($CormacB, 34px, 40px, -1px);
				@include respond-to(sm) {br {display: none;}}

				span {
					@include font-type($CormacB, 18px, 24px, 0.5px); color: #4b5769 !important;
					width: 180px; 
					display: block; padding-top: 12px;
					@include respond-to(sm) {width: 100%;}
				}
			}
		}

		section {
			width: 56%; padding-left: 120px;  position: relative; top: -8px;
			@include respond-to(lg) {width: 100%;}
			@include respond-to(md) {padding-left: 60px;}
			@include respond-to(sm) {padding-left: 0;}
			p {
				@include font-type($HelveticaM, 19px, 28px, 0.3px); color: #4b5769; font-family: $HelveticaL;
				position: relative;
				@include respond-to(md) {padding-top: 20px;}
				@include respond-to(sm) {text-align: center;}
			}
		}

		//FOR JS
		figure {opacity: 0; transition: all .8s;}
		section {
			transform: translateX(150px);
			opacity: 0;
			transition: 0.5s ease-out;
		}

		.active & {
			figure {
				opacity: 1;
			}
			section {
				opacity: 1;
				transform: translateX(0);
			}
		}
		&.left {
			section {
				opacity: 0;
				transform: translateX(-150px); width: 70%;
				@include respond-to(sm) {
				transform: translateX(-75px);
				}
				@include respond-to(xs) {
					transform: translateX(-30px);
				}
			}
		}
		&.right {
			section {
				opacity: 0;
				transform: translateX(150px); width: 70%;
				@include respond-to(sm) {
				transform: translateX(75px);
				}
				@include respond-to(xs) {
				transform: translateX(30px);
				}
			}
		}
	}

}


//DOINGS - http://prntscr.com/h2caai
.doings {
	padding: 26px 0 21px 0; position: relative;

	&-wr {
		display: flex; justify-content: space-between; align-items: flex-start;
		@include respond-to(md) {flex-direction: column;}
	}
	
	&-item {
		width: 32%;
		background: #fff; cursor: pointer;
		@include respond-to(md) {display: flex;}

		&:hover {box-shadow: 0 0 20px rgba(57, 60, 66, 0.1);}
		@include respond-to(md) {width: 100%; margin: 10px 0;}
		@media (max-width: 580px){flex-direction: column;}

		&:hover {
			box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);
		}

		figure{
			width: 100%; 
			overflow: hidden;

			img {width: 100%;}
		}

		&:first-of-type {
			section {
				h4 {max-width: 220px;}
			}
		}

		section {
			padding: 40px 27px 40px;
			@include respond-to(md) {padding: 15px 20px;}

			h4 {
				@include font-type($CormacB, 22px, 32px, 0);  font-size: 22px; line-height: 32px; letter-spacing: 0;
				margin-bottom: 23px;
			}
			p {
				@include font-type($HelveticaL, 16px, 24px, 0.7px); color: #4b5769;
				margin-bottom: 14px;
			}
			span {@include font-type($HelveticaL, 10px, 18px, 1.1px); text-transform: uppercase; color: #4b5769;}
		}
	}
}

//Временно исправлены партнеры в подвале
.partners {
	ul {display: flex;}
}