////////////////////////////////////////////////////
////////////////////////////////////////////////////
//СТИЛИ ДЛЯ ЛЕГДИНГОВ "ПИТОМЦЫ" и "ДЕТИ"
.app.index {
	padding-top: 0;

	//Секция с выпадающими списками на главной - http://prntscr.com/h2ns22
	.section-group {
		display: flex; justify-content: center;
		@include respond-to(md) {flex-direction: column;}

		padding-top: 27px;
		.select {
			margin: 0 31px;
			@include respond-to(md) {margin-bottom: 25px;}

			&:last-child {margin-bottom: 0}
			& > a {
				font-size: 18px; letter-spacing: 0;
				i {
					font-size: 16px; color: #000;
				}
			}
		}
	}

	&.pet, &.children {
		header.header {
			.logo-block {
				.subtitle {display: inline-block;}
			}
		}
		
		//подкорректированы отступы
		.list-promotion {padding-top: 16px;}
	}
	
	&.pet {

		//меняем цвет стрелок - http://prntscr.com/h4bgop
		.promotion section p > i {color: #96be46;}

		//меняем цвет выпадающего меню - http://prntscr.com/h4fud1
		.js-index-menu .js-toggle-menu i {color: #96be46;}

		//меняем цвет кнопок в карусели - http://prntscr.com/h4d0x7
		.carousel .navigation div {
			&.active, &:hover {
				background: #96be46;
			}
		}

		//меняем цвет кнопки в подписке - http://prntscr.com/h4d0n6
		.subscription .form .btn {
			background: #96be46; border-color: #96be46;
			&:hover {
				background: #fff; color: #96be46;
			}
		}

		//меняем цвета в футере - http://prntscr.com/h4dpcf
		.footer {
			&-contacts > ul > li ul.soc li a {
				&:hover {i {color: #96be46;}}
			}  
		}
	}

	&.children {

		//меняем цвет стрелок - http://prntscr.com/h4bgum
		.promotion section p > i {color: #e8b194;}
		
		//меняем цвет выпадающего меню - http://prntscr.com/h4fvbw
		.js-index-menu .js-toggle-menu i {color: #e8b194;}

		//меняем цвет кнопок в карусели - http://prntscr.com/h4d2gb
		.carousel .navigation div {
			&.active, &:hover {background: #e8b194;}
		}
		
		//меняем цвет кнопки в подписке - http://prntscr.com/h4d2pj
		.subscription .form .btn {
			background: #e8b194; border-color: #e8b194;
			&:hover {
				background: #fff; color: #e8b194;
			}
		}

		//меняем цвета в футере - http://prntscr.com/h4dpcf
		.footer {
			&-contacts > ul > li ul.soc li a {
				&:hover { i {color: #e8b194;}}
			}  
		}
	}

	&.dobro {
		h2.header {margin-top: 40px;}
		.section-group {padding-top: 0;}


		//меняем цвет стрелок - http://prntscr.com/h4bgum
		.promotion section p > i {color: white;}
		
		//меняем цвет выпадающего меню - http://prntscr.com/h4fvbw
		.js-index-menu .js-toggle-menu i {color: #7A3FBF;}

		//меняем цвет кнопок в карусели - http://prntscr.com/h4d2gb
		.carousel .navigation div {
			&.active, &:hover {background: #7A3FBF;}
		}
		
		//меняем цвет кнопки в подписке - http://prntscr.com/h4d2pj
		.subscription .form .btn {
			background: #7A3FBF; border-color: #7A3FBF;
			&:hover {
				background: #fff; color: #7A3FBF;
			}
		}

		//меняем цвета в футере - http://prntscr.com/h4dpcf
		.footer {
			&-contacts > ul > li ul.soc li a {
				&:hover { i {color: #7A3FBF;}}
			}  
		}
	}
}
////////////////////////////////////////////////////
////////////////////////////////////////////////////


// INTRO LANDING - http://prntscr.com/h2bdli
.intro {
	section {
		background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.3) 40%,rgba(5,171,224,0) 100%);
		height: 640px; position: relative; overflow: hidden;
		background: url('../img/index/intro.png') no-repeat center; background-size: cover;
		
		article {
			.container {position: relative;} transition: height .6s;
			width: 100%; height: 0; &.active {height: 100%;}

			color: #fff;
			position: absolute; bottom: 0; left: 0;
			

			header {
				padding-left: 102px; margin-top: 146px;

				h1 {
					color: #fff; @include font-type($CormacB, 42px, 56px, 0px); 
					margin-top: 0; margin-bottom: 22px;
					@include respond-to(sm) {font-size: 36px; line-height: 48px;}
				}
				p {
					@include font-type($CormacB, 26px, 32px, 0px); 
					margin-bottom: 86px;
				}
				h2 {
					color: #fff; @include font-type($CormacB, 62px, 78px, 0px); 
					margin-bottom: 86px;
				}
				a {
					@include font-type($CormacB, 16px, 16px, 0px); color: #fff;
					position: relative;
					i {
						color: #fff; font-size: 17px; font-weight: bold;
						margin-left: 4px;
						position: relative; top: 1px;
						transition: all 0.4s; transform: translateX(0);
					}

					&:after {
						content: '';
						position: absolute; top: 100%;
						border-bottom: 1px solid #fff;
						transition: all 0.4s;
					}
					&:after {right: 100%; left: 0;}
					&:hover:after {right: 0;}
					&:hover i {transform: translateX(5px);}

						
				}
				& > ul {display: flex; li {margin-right: 40px; &:last-child {margin-right: 0;}}}
			}

			footer {
				position: absolute; top: 146px; right: 0;
				p {
					@include font-type($HelveticaM, 26px, 1, 0px); text-transform: uppercase;
					position: relative;
					span {
						position: absolute; top: -22px; left: -26px; 
						@include font-type($CormacB, 18px, 1px, 0px); text-transform: none;
						i {margin-right: 11px;}
					}
				}
			}
		}
	}

	nav {
		margin-top: -36px; background: white;

		& > ul {
			display: flex; justify-content: space-between; align-items: stretch;
			width: 984px; height: 64px; margin: 0 auto;
			position: relative; z-index: 2;
			background: #fff; border-radius: 100px; box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);

			li {
				height: 100%; width: 26%;
				position: relative; z-index: 1;
				
				a, i {transition: color 1s ease, padding .2s linear;}
				a {
					display: flex; justify-content: center; align-items: center;
					color: #669CF9; font-family: $CormacB; font-size: 18px; line-height: 18px; text-align: center;
					width: 100%; height: 100%; padding-right: 50px;
					position: relative;

					i {
						color: #669CF9; font-size: 30px;
						position: absolute; right: 21px; top: 16px;
					} 
				}
				&:last-child {width: 22%; a {padding-right: 0 !important; i {display: none;}}}

				&.hovered {a, i {color: white;}}
				&.decoration {
					height: 100%;
					position: absolute; top: 0; bottom: 0;
					background: #669CF9; border-radius: 100px;
					transition: width .4s ease;
				}
			}
		}
		@include respond-to(lg) {
			& > ul {width: 100%; li {width: 25%; a {padding-right: 20px;} &.selectedLava {a {padding-right: 20px;}}}}
		}
		@include respond-to(sm) {
			& > ul {width: 400%; li {}}
		}
	}

	.pet & {
		article {background: url('../img/index/intro2.png') no-repeat center; background-size: cover;}
		nav > ul li {
			a, i {color: #96be46;}
			&.backLava {background: #96be46;}
			&.selectedLava {a {color: #fff; i {color: #fff;}}}
		}
		nav > ul{
			&:hover {
				li {
					a {color: #96be46; i {color: #96be46;}}
					&:hover {
						a {color: #fff; i {color: #fff;}}
						&.selectedLava {a {color: #fff; i {color: #fff;}}}
					}
				}
			}
		}
	}

	.children & {
		article {background: url('../img/index/intro1.png') no-repeat center; background-size: cover;}
		nav > ul li {
			a, i {color: #E8B194;}
			&.backLava {background: #E8B194;}
			&.selectedLava {a {color: #fff; i {color: #fff;}}}
		}
		nav > ul{
			&:hover {
				li {
					a {color: #E8B194; i {color: #E8B194;}}
					&:hover {
						a {color: #fff; i {color: #fff;}}
						&.selectedLava {a {color: #fff; i {color: #fff;}}}
					}
				}
			}
		}
	}

	.dobro & {
		article {
			background: url('../img/index/intro3.png') no-repeat center; background-size: cover;
			header {
				padding-left: 145px; margin-top: 216px;
				position: relative;

				figure {position: absolute; top: 0; left: 0;}
				p {margin-bottom: 10px;}
				a {
					padding: 20px 25px;
					border: 2px solid white; border-radius: 100px;
				}
			}
			footer {
				display: flex; justify-content: center; align-items: center;
				width: 195px; height: 195px;
				background: url('../images/dobro-duga.svg') no-repeat center;
				p {
					font-family: $CormacB; font-size:32px; margin-bottom: 0;
					span {
						display: block;
						font-size: 16px; line-height: 18px;
						margin-bottom: 8px;
						position: relative; top: auto; left: auto;
					}
				}
			}
		}
	}
}

.wrapper {
	padding-bottom: 60px; background: white;
}

.counter {
    padding: 35px 0; background: #fff;

    .dobro & {
    	background: #7A3FBF url('../images/bg-plus.svg') 0 center no-repeat;
    	
		article p,
    	article section p,
    	article section p > i {color: white;}
    	article section p {font-size: 84px; line-height: 84px;}
    }
}

.about {
	padding: 50px 0 80px 0;
	article {
		display: flex; justify-content: center; align-items: center;

		section {
			padding-left: 60px;

			h2 {color: #64359C; @include font-type($CormacB, 28px, 38px, 0px); margin-bottom: 20px;}
			p {color: #000000; @include font-type($CormacB, 18px, 26px, 0.4px); margin-bottom: 30px;}
			ul {
				display: flex; align-items: center;
				li {
					margin-right: 20px;
					a {color: #64359C; @include font-type($CormacB, 18px, 19px, 0px);}
				}
			}
		}
	}
}

.people {
	padding: 80px 0 40px 0;
	article {
		display: flex;
		section {
			width: 45%;

			h2 {color: #000000; @include font-type($CormacB, 38px, 39px, 0px); margin-bottom: 40px;}
			p {color: #000000; @include font-type($CormacB, 18px, 26px, 0.4px);}
		}

		& > ul {
			display: flex; flex-flow: row wrap;
			li {
				width: 25%; margin-bottom: 20px;
				figure {
					text-align: center;
					figcaption {
						padding-top: 20px;
						p {color: #000000; @include font-type($CormacB, 16px, 24px, 0px); margin-bottom: 0;}
						span {color: #000000; @include font-type($CormacB, 12px, 16px, 0px); opacity: 0.7;}
					}
				}
			}
		}
	}
}

.megasale {
	padding: 30px 0; background: white;
}

.home_filter {
	h2.header {color: #000000; font-family: $CormacB; font-size: 38px; line-height: 39px; text-align: center; margin-bottom: 15px;}
	padding: 35px 0; background: white;
}

.home_product {
	padding: 35px 0 55px 0; background: #F3F6FA;
}

.joined_partners {
	padding: 45px 0; background: white;
}

.home_testimonials {
	padding: 15px 0; background: white;
	.children &, .pet & {background: #F3F6FA;}
}

.home_news {
	padding: 55px 0 35px 0; background: #F3F6FA;
	.children &, .pet & {background: white; border-bottom: 1px solid #d9d9d9;}
}

//http://prntscr.com/h4cg2c
.subscription {
	padding: 80px 0; background: white;

	h2 {
		@include font-type($CormacB, 34px, 51px, 0.3px); text-align: center;
		margin-bottom: 16px;
	}

	.form {
		display: flex; flex-direction: column; align-items: center;
		& > span {
			margin-bottom: 5px;
			@include respond-to(sm) {width: 100%;}

			input {
				letter-spacing: 0.6px; width: 580px;
				@include respond-to(sm) {width: 100%;}
			}
		}
		
		.btn {width: 203px; padding: 21px 20px;}
	}
}

//ДЛЯ ВЫПАДАЮЩЕГО МЕНЮ НА МОБИЛЬНОЙ ВЕРСИИ - http://prntscr.com/h4fsh2
.js-toggle-menu {
	display: none; 
	@include respond-to(sm) {
		display: flex; justify-content: space-between;

		@include font-type($CormacB, 20px, 1, 0.5px); color: #000;
		width: 95%; margin: 0 auto; padding-bottom: 15px;
		i {
			font-size: 28px; color: $link-color;
			transition: all .4s ease;
			&.active {transform: rotate(180deg);}
		}

	}
}

//PROMOTION LIST - http://prntscr.com/h2dye8
.list {
	&-promotion {
		display: flex; justify-content: space-around;
		margin: 0px -7px 0 -9px;
		@include respond-to(md) {flex-wrap: wrap;}

		li {
			width: 25%;
			@include respond-to(md) {width: 50%;}
			@include respond-to(xs) {width: 100%;}

			&:nth-child(2), &:nth-child(3) {
				p {left: 10px;}
			}
		}
	}
}

//PROMOTION - http://prntscr.com/h4biip
.promotion {
	section {
		display: flex; justify-content: center;
		padding-top: 61px; margin-bottom: 15px;

		p {
			color: #000; text-align: center;
			position: relative; left: 15px; margin-bottom: 9px;

			@include font-type($CormacB, 64px, 1, 0px);

			& > i {
				color: $link-color; font-size: 24px; font-weight: 600;
				position: absolute; top: 22px; left: -20px;
			}
			span {
				@include font-type($CormacEL, 18px, 1, 0px);
				position: relative; top: 7px; display: inline-block; margin-left: -10px;  vertical-align: top;
				
				i {color: #000; font-size: 15px; font-weight: 600;}
			}
		}
	}
	& > p {
		@include font-type($HelveticaR, 16px, 22px, 0.3px); text-align: center; color: #000;
	}
}


//http://prntscr.com/h4c7ee
.action {
	display: flex; flex-direction: column; justify-content: end;

	width: 100%; min-height: 422px; padding: 0 0 59px 49px;
	@include respond-to(xs) {padding: 0 15px 59px 15px;}

	h2 {
		display: flex; align-items: center;

		@include font-type($CormacB, 54px, 1, 0); color: #fff;  
		/*для хрома*/margin-top: auto;/**/ margin-bottom: 25px;
		@include respond-to(xs) {font-size: 36px; line-height: 46px;}
		i {
			font-size: 27px; font-weight: bold;
			margin-left: 21px; margin-top: 7px;
		}
	}
	p {
		@include font-type($CormacB, 22px, 32px, 0); color: #fff;
		margin-bottom: 0; padding-left: 3px;
		@include respond-to(xs) {font-size: 18px; line-height: 28px;}
	}
}

//http://prntscr.com/h4c80l
.joined {
	padding-bottom: 51px; position: relative;
	a.btn-white {
		position: absolute; right: -29px; top: 145px; z-index: 2;
		@include respond-to(sm) {right: -15px;}

		i {margin-left: 0;}
	}
	h2 {
		@include font-type($CormacB, 16px, 1, 0); color: #7690a4; text-align: center;
		padding-top: 20px; margin-bottom: 50px;
	}
	ul {
		display: flex;
		li {
			padding: 12px 0;
			// margin-right: 19px; 
			// &:last-child {margin-right: 0;}
			a {
				&:hover {
					img {box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);}
				}
				img {
					transition: all .4s ease;
				}
			}
		}
	}
}

// NEWS in Index - http://prntscr.com/h2fk7d
.news {
	display: flex;
	@include respond-to(md) {flex-direction: column;}

	&-block {
		&_single, &_several header {
			& > a {
				position: relative; display: inline-block;
				transition: all .4s ease;
				&:hover {box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);}

				section {
					display: flex; flex-direction: column; justify-content: end;

					position: absolute; left: 0; bottom: 0;
				}
				figure {
					img {
						max-width: 100%;
						@include respond-to(sm) {width: 100%;}
					}
				}
			}
		}

		&_single {
			width: 585px;
			@include respond-to(md) {width: 80%; margin: 0 auto;}
			@include respond-to(sm) {width: 100%;}

			& > a {width: 100%;}
			section {
				width: 100%; height: 229px;
				padding-left: 47px; padding-bottom: 40px;
				@include respond-to(xs) {padding-left: 10px;}

				h2 {
					@include font-type($CormacB, 54px, 1, 0); color: #fff;
					margin-bottom: 24px;
					@include respond-to(xs) {
						font-size: 32px;
					}
				}
				p {
					@include font-type($CormacB, 18px, 24px, 0); color: #fff;
					padding-left: 4px;
				}
			}
		}

		&_several {
			width: 590px;
			@include respond-to(md) {width: 80%; margin: 0 auto;}
			@include respond-to(sm) {width: 100%;}

			section {
				padding-left: 20px;
				h2 {
					@include font-type($CormacB, 38px, 46px, 0px); color: #fff;
					margin-bottom: 17px;
					@include respond-to(sm) {font-size: 30px; line-height: 38px;}
					@include respond-to(xs) {font-size: 22px; line-height: 28px; margin-bottom: 0;}

				}
				p {
					@include font-type($CormacB, 18px, 24px, 0); color: #fff;
					@include respond-to(sm) {font-size: 16px;}
				}
			}

			header {
				& > a {width: 100%;}
				section {
					padding-bottom: 29px;
					@include respond-to(xs) {padding-bottom: 0;}
				}
			}
			footer {
				display: flex; justify-content: space-between;
				@include respond-to(xs) {flex-direction: column;} 
				
				& > a {
					position: relative; width: 100%;
					transition: all .4s ease;
					&:hover {box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);}

					section {
						display: flex; flex-direction: column;

						position: absolute; bottom: 11px; left: 0; min-height: 163px;
						h2 {margin-bottom: 11px;}
						
					}
					figure {
						img {
							max-width: 100%;
							@include respond-to(sm) {width: 100%;}
						}
					}
				}
				
			}
		}
	}
}

// - http://prntscr.com/h2q6m0
.main-category {
	display: flex; justify-content: space-between;

	padding-top: 27px; position: relative;
	@include respond-to(md) {flex-direction: column;}

	& > .btn-white {
		position: absolute; z-index: 1; right: -28px; top: 204px;
		@include respond-to(lg) {top: 70px; right: -20px;}
		@include respond-to(xs) {top: -27px;}
	}
	&-block {
		
		&.first {
			width: 680px;
			@include respond-to(lg) {width: 57%;}
			@include respond-to(md) {width: 80%; margin: 0 auto;}
			@include respond-to(sm) {width: 100%;}
		}
		&.second {
			width: 480px;
			@include respond-to(lg) {width: 40.2%; margin: 0 auto;}
			@include respond-to(md) {width: 80%; margin: 0 auto;}
			@include respond-to(sm) {width: 100%;}
			section {
				left: 44px;
				@include respond-to(xs) {left: 15px;}
			}
		}
		& > a {
			position: relative; display: inline-block; width: 100%;
			transition: all .4s ease;
			&:hover {box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2)}

			section {
				display: flex; flex-direction: column;
				position: absolute; left: 50px; bottom: 47px; width: 90%;
				@include respond-to(xs) {left: 25px; bottom: 20px;}

				h2 {
					@include font-type($CormacB, 54px, 54px, 0); color: #fff;
					margin-bottom: 19px;
					@include respond-to(sm) {font-size: 40px}
					@include respond-to(xs) {font-size: 30px; margin-bottom: 12px;}
				}

				p {@include font-type($CormacB, 22px, 22px, 0); color: #fff;}
				@include respond-to(sm) {font-size: 18px;}
			}
			figure {
				img {
					max-width: 100%;
					@include respond-to(md) {width: 100%;}
				}
			}
		}
	}
}

.main-products {
	position: relative;
	.btn-white {
		position: absolute; z-index: 1; top: 178px; right: -45px;
		@include respond-to(lg) {right: -20px;}
		@include respond-to(xs) {top: -23px;}
	}
	.btn {
		@include font-type($CormacB, 16px, 16px, 0);
		padding: 20px;
		position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);

		.dobro & {background: #7A3FBF; border: none;}
	}
}


//CAROUSEL - http://prntscr.com/h2bo9g
.carousel {
	padding: 55px 0 32px 0;

	.navigation {display: flex; justify-content: center;}
	.navigation, .owl-dots {
		margin-top: 55px;

		li,  .owl-dot {
			width: 19px; height: 8px; margin: 0 5px;
			background: #d9deea; border-radius: 10px; cursor: pointer;
			transition: all .2s ease; transform: translateY(0);

			&.active {background: #4489ff; &:hover {cursor: default;}}
			&:hover {background: #4489ff; transform: translateY(-3px);}
			&:active {transform: translateY(0);}
			&.active {transform: translateY(0); &:hover {cursor: default;}}
		}
	}

	&-wrap {
		position: relative;
		min-height: 160px; 
		@include respond-to(md) {height: 250px;}
		@include respond-to(sm) {height: 380px;}
		@media (max-width: 620px) {height: 420px;}
		@media (max-width: 540px) {height: 450px;}
		@include respond-to(xs) {height: 500px;}
		@media (max-width: 430px) {height: 545px;}
		@media (max-width: 400px) {height: 595px;}
		@media (max-width: 365px) {height: 695px;}
		@media (max-width: 333px) {height: 590px;}
	}

		
	&-item {
		display: flex; justify-content: start;

		// position: absolute; top: 0; left: 0;
		width: 100%; padding-left: 102px; padding-top: 10px;
		@include respond-to(lg) {padding-left: 40px;}
		@include respond-to(sm) {flex-direction: column; padding-left: 0;}

		figure {
			display: flex;
			text-align: left;
			@include respond-to(md) {flex-direction: column; justify-content: center; align-items: center;}
			@include respond-to(sm) {text-align: center; width: 100%; margin-bottom: 60px;}
			img {
				width: 80px !important; height: 80px !important; margin-right: 20px; margin-top: 5px; max-width: 100%;
				@include respond-to(md) {width: auto !important;}
				@include respond-to(sm) {margin: 0 0 15px 0;}
			}
			figcaption {
				@include font-type($CormacB, 34px, 43px, 0);
				padding-top: 4px;
				@include respond-to(sm) {br {display: none;}}

				span {
					@include font-type($CormacEL, 16px, 24px, 1px); color: #4b5769 !important;
					width: 180px; 
					display: block; padding-top: 7px;
					@include respond-to(sm) {width: 100%;}
				}
			}
		}

		section {
			width: 53%; padding-left: 118px;  position: relative; top: -8px;
			@include respond-to(lg) {width: 100%;}
			@include respond-to(sm) {padding-left: 0;}
			p {
				@include font-type($HelveticaM, 18px, 28px, 1.5px); color: #4b5769; font-family: $HelveticaL;
				position: relative;
				@include respond-to(sm) {text-align: center;}
			}
		}

		//FOR JS
		figure {opacity: 0; transition: all .8s;}
		section {
			transform: translateX(150px);
			opacity: 0;
			transition: 0.5s ease-out;
		}

		.active & {
			figure {
				opacity: 1;
			}
			section {
				opacity: 1;
				transform: translateX(0);
			}
		}
		&.left {
			section {
				opacity: 0;
				transform: translateX(-150px); width: 70%;
				@include respond-to(sm) {
				transform: translateX(-75px);
				}
				@include respond-to(xs) {
					transform: translateX(-30px);
				}
			}
		}
		&.right {
			section {
				opacity: 0;
				transform: translateX(150px); width: 70%;
				@include respond-to(sm) {
				transform: translateX(75px);
				}
				@include respond-to(xs) {
				transform: translateX(30px);
				}
			}
		}
	}

}


//DOINGS - http://prntscr.com/h2caai
.doings {
	padding: 30px 0 21px 0; position: relative;
	.btn-white {
		position: absolute; right: -47px; top: 182px;
		@include respond-to(lg) {right: -20px;}
		@include respond-to(md) {top: 9px;}
	}

	&-wr {
		display: flex; justify-content: space-between; align-items: flex-start;
		@include respond-to(md) {flex-direction: column;}
	}
	
	&-item {
		width: 32%;
		background: #fff; cursor: pointer;
		@include respond-to(md) {display: flex;}

		&:hover {box-shadow: 0 0 20px rgba(57, 60, 66, 0.1);}
		@include respond-to(md) {width: 100%; margin: 10px 0;}
		@media (max-width: 580px){flex-direction: column;}

		&:hover {
			box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);
		}

		figure{
			width: 100%; 
			overflow: hidden;

			img {width: 100%;}
		}

		&:first-of-type {
			section {
				h4 {max-width: 220px;}
			}
		}

		section {
			padding: 35px 23px 40px;
			@include respond-to(md) {padding: 15px 20px;}

			h4 {
				@include font-type($CormacB, 22px, 32px, 0);  font-size: 22px; line-height: 32px; letter-spacing: 0;
				margin-bottom: 14px;
			}
			p {
				@include font-type($HelveticaL, 16px, 24px, 0.7px); color: #4b5769;
				margin-bottom: 14px;
			}
			span {@include font-type($HelveticaL, 10px, 18px, 1.1px); text-transform: uppercase; color: #4b5769;}
		}
	}
}
