<!DOCTYPE html>
<html>
	//= ./../tpl/head.html
	<body class="on-load">
		//= ./../tpl/counter.html

		<!-- Application -->
		<div class="app index dobro">
			//= ./../tpl/header.html

			<div class="intro">
				<section>
					<article class="active">
						<div class="container">
							<header>
								<figure><img src="../../web/images/dobro-logo.png" alt=""></figure>
								<p>Благотворительные аукционы от проекта:</p>
								<h2>Делись добром, Москва!</h2>
								<a href="#">Посмотреть каталог</a>
							</header>
							<footer>
								<p><span>Offline<br> мероприятие: </span>19.11</p>
							</footer>
						</div>
					</article>
				</section>
			</div>

			<div class="about">
				<div class="container">
					<article>
						<figure><img src="../../web/images/dobro-intro.png" alt=""></figure>
						<section>
							<h2>Один⁺¹ дает возможность купить в формате аукциона любую вещь размещенную в рамках проекта ‘Делись добром, Москва!’</h2>
							<p>Благотворительная ивент платформа «Делись добром» организует праздничные мероприятия и акции в пользу благотворительных организаций, привлекая к благотворительной деятельности звезд и новые массовые аудитории.</p>
							<ul>
								<li><a href="#">Продать и помочь <i class="fa fa-angle-right"></i></a></li>
								<li><a href="#">Купить и помочь <i class="fa fa-angle-right"></i></a></li>
							</ul>
						</section>
					</article>
				</div>
			</div>
			
			<div class="counter">
				<div class="container">
					<ul class="list-promotion">
						<li>
							<article class="promotion">
								<section>
									<p><i class="fa fa-angle-right"></i>400</p>
								</section>
								<p>
									Аукционных вещей<br>
									доступных до 19.11
								</p>
							</article>
						</li>

						<li>
							<article class="promotion">
								<section>
									<p><i class="fa fa-angle-right"></i>150</p>
								</section>
								<p>
									Человек участвуют<br>
									в проекте
								</p>
							</article>
						</li>

						<li>
							<article class="promotion">
								<section>
									<p><i class="fa fa-angle-right"></i>6<span>000 000</span></p>
								</section>
								<p>
									Рублей удалось собрать<br>
									в прошлом году
								</p>
							</article>
						</li>

						<li>
							<article class="promotion">
								<section>
									<p>50</p>
								</section>
								<p>
									Информационных партнеров<br>
									проекта
								</p>
							</article>
						</li>
					</ul>
				</div>
			</div>

			<div class="people">
				<div class="container">
					<article>
						<section>
							<h2>Вещи звезд</h2>
							<p>Благотворительная ивент платформа «Делись добром» организует праздничные мероприятия и акции в пользу благотворительных</p>
						</section>
						<ul>
							<li>
								<figure>
									<img src="../../web/images/avatars/tema.png" alt="">
									<figcaption>
										<p>Артем Ковалёв</p>
										<span>Ведущий</span>
									</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../../web/images/avatars/tema.png" alt="">
									<figcaption>
										<p>Артем Ковалёв</p>
										<span>Ведущий</span>
									</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../../web/images/avatars/tema.png" alt="">
									<figcaption>
										<p>Артем Ковалёв</p>
										<span>Ведущий</span>
									</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../../web/images/avatars/tema.png" alt="">
									<figcaption>
										<p>Артем Ковалёв</p>
										<span>Ведущий</span>
									</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../../web/images/avatars/tema.png" alt="">
									<figcaption>
										<p>Артем Ковалёв</p>
										<span>Ведущий</span>
									</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../../web/images/avatars/tema.png" alt="">
									<figcaption>
										<p>Артем Ковалёв</p>
										<span>Ведущий</span>
									</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../../web/images/avatars/tema.png" alt="">
									<figcaption>
										<p>Артем Ковалёв</p>
										<span>Ведущий</span>
									</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../../web/images/avatars/tema.png" alt="">
									<figcaption>
										<p>Артем Ковалёв</p>
										<span>Ведущий</span>
									</figcaption>
								</figure>
							</li>
						</ul>
					</article>
				</div>
			</div>

			<section class="wr bg-grey">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="main-products">
								<a href="#" class="btn-white">Еще <i class="fa fa-angle-right"></i></a>
								<ul class="list-preview">
									<li>
										//= ./../tpl/product-preview.html
									</li>
									<li>
										//= ./../tpl/product-preview.html
									</li>
									<li>
										//= ./../tpl/product-preview.html
									</li>
									<li>
										//= ./../tpl/product-preview.html
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div class="wr base">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2 class="header">Лоты от всех участников</h2>
							<div class="section-group">
								<div class="select">
									<a href="#" class="js-selectToogle">Все категории вещей<i class="fa fa-angle-down"></i></a>
									<div class="js-selectLists">
										<ul>
											<li><a href="#">Личные вещи</a></li>
											<li><a href="#">Электроника</a></li>
											<li><a href="#">Спорт</a></li>
											<li><a href="#">Дом и дача</a></li>
											<li><a href="#">Детям</a></li>
											<li><a href="#">Бизнесу</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			

			<section class="wr bg-grey">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="main-products">
								<a href="#" class="btn-white">Еще <i class="fa fa-angle-right"></i></a>
								<ul class="list-preview">
									<li>
										//= ./../tpl/product-preview.html
									</li>
									<li>
										//= ./../tpl/product-preview.html
									</li>
									<li>
										//= ./../tpl/product-preview.html
									</li>
									<li>
										//= ./../tpl/product-preview.html
									</li>
								</ul>
								<a href="#" class="btn">Посмотреть все аукционы</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="wr base">
				<div class="subscription">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h2>Будьте в курсе самых  важных<br> новостей One <sup>+1</sup></h2>
								<form class="form">
									<span class="wr-input">
										<input type="text" id="sub" required="required">
										<label for="sub">Ваш e-mail</label>
									</span>
									<button type="submit" class="btn shadow">Подписаться</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>			

			
			<section class="wr base partners-style2">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!-- Partners -->
							<ul>
								<li><a href="#"><img src="../../web/img/for-footer/img1.png" alt=""></a></li>
			                    <li><a href="#"><img src="../../web/img/for-footer/img2.png" alt=""></a></li>
			                    <li><a href="#"><img src="../../web/img/for-footer/img3.png" alt=""></a></li>
			                    <li><a href="#"><img src="../../web/img/for-footer/img4.png" alt=""></a></li>
			                    <li><a href="#"><img src="../../web/img/for-footer/img5.png" alt=""></a></li>
			                    <li><a href="#"><img src="../../web/img/for-footer/img1.png" alt=""></a></li>
			                    <li><a href="#"><img src="../../web/img/for-footer/img2.png" alt=""></a></li>
			                    <li><a href="#"><img src="../../web/img/for-footer/img3.png" alt=""></a></li>
			                    <li><a href="#"><img src="../../web/img/for-footer/img4.png" alt=""></a></li>
			                </ul>    
						</div>
					</div>
				</div>
			</section>
			//= ./../tpl/footer.html
		</div>

		<!-- Scripts -->
		//= ./../tpl/scripts.html
	</body>
</html>