<!DOCTYPE html>
<html>
	//= ./../tpl/head.html
	<body class="on-load">
		//= ./../tpl/counter.html

		<!-- Application -->
		<div class="app index dobro">
			//= ./../tpl/header.html

			<div class="intro">
				<section>
					<article class="active">
						<div class="container">
							<header>
								<figure><img src="../../web/images/dobro-logo.png" alt=""></figure>
								<p>Благотворительные аукционы от проекта:</p>
								<h2>Делись добром, Москва!</h2>
								<a href="#">Посмотреть каталог</a>
							</header>
							<footer>
								<p><span>Offline<br> мероприятие: </span>19.11</p>
							</footer>
						</div>
					</article>
				</section>
			</div>

			<div class="about">
				<div class="container">
					<article>
						<header>
							<div class="logos">
								<figure>
									<img src="../../web/img/index/logo-one.png" alt="">
								</figure>

								<figure>
									<img src="../../web/img/index/amp.png" alt="">
								</figure>

								<figure>
									<img src="../../web/img/index/logo-dobro.png" alt="">
								</figure>
								  
							</div>
							<p>В поддержку детского хосписа <br>
							Дом с Маяком</p>
						</header>
						
						<section>
							<h2>Один⁺¹ дает возможность купить в <br> формате аукциона любую вещь<br> размещенную в рамках проекта<br> ‘Делись добром, Москва!’</h2>
							<p>Благотворительная ивент платформа «Делись добром» <br> организует праздничные мероприятия и акции в пользу<br> благотворительных организаций, привлекая к<br> благотворительной деятельности звезд и новые массовые аудитории.<p>
							<ul>
								<li><a href="#">Продать и помочь <i class="fa fa-angle-right"></i></a></li>
								<li><a href="#">Купить и помочь <i class="fa fa-angle-right"></i></a></li>
							</ul>
						</section>
					</article>
				</div>
			</div>
			
			<div class="counter">
				<div class="container">
					<ul class="list-promotion">
						<li>
							<article class="promotion">
								<section>
									<p><i class="fa fa-angle-right"></i>50</p>
								</section>
								<p>
									Аукционных вещей<br>
									доступных до 19.11
								</p>
							</article>
						</li>

						<li>
							<article class="promotion">
								<section>
									<p><i class="fa fa-angle-right"></i>100</p>
								</section>
								<p>
									Человек участвуют<br>
									в проекте
								</p>
							</article>
						</li>

						<li>
							<article class="promotion">
								<section>
									<p><i class="fa fa-angle-right"></i>6<span>000 000</span></p>
								</section>
								<p>
									Рублей удалось собрать<br>
									в прошлом году
								</p>
							</article>
						</li>

						<li>
							<article class="promotion">
								<section>
									<p>10</p>
								</section>
								<p>
									Информационных партнеров<br>
									проекта
								</p>
							</article>
						</li>
					</ul>
				</div>
			</div>

			<div class="people">
				<div class="container">
					<article>
						<section>
							<h2>Звездные <br> аукционы</h2>
							<p>Предлагаем вашему вниманию личные вещи звёзд, вещи из авторских коллекций, уникальные сувениры, произведения искусства, а также кое-что из ассортимента предстоящей Барахолки-3.</p>
						</section>
						<footer>
							<div class="owl-carousel js-carousel_celebrity">
								<div class="item">
									<figure>
										<img src="../../web/images/avatars/tema.png" alt="">
										<figcaption>
											<p>Артем Ковалёв</p>
											<span>Ведущий</span>
										</figcaption>
									</figure>
									<figure>
										<img src="../../web/images/avatars/tema.png" alt="">
										<figcaption>
											<p>Артем Ковалёв</p>
											<span>Ведущий</span>
										</figcaption>
									</figure>
								</div>
								<div class="item">
									<figure>
										<img src="../../web/images/avatars/tema.png" alt="">
										<figcaption>
											<p>Артем Ковалёв</p>
											<span>Ведущий</span>
										</figcaption>
									</figure>
									<figure>
										<img src="../../web/images/avatars/tema.png" alt="">
										<figcaption>
											<p>Артем Ковалёв</p>
											<span>Ведущий</span>
										</figcaption>
									</figure>
								</div>
								<div class="item">
									<figure>
										<img src="../../web/images/avatars/tema.png" alt="">
										<figcaption>
											<p>Артем Ковалёв</p>
											<span>Ведущий</span>
										</figcaption>
									</figure>
									<figure>
										<img src="../../web/images/avatars/tema.png" alt="">
										<figcaption>
											<p>Артем Ковалёв</p>
											<span>Ведущий</span>
										</figcaption>
									</figure>
								</div>
								<div class="item">
									<figure>
										<img src="../../web/images/avatars/tema.png" alt="">
										<figcaption>
											<p>Артем Ковалёв</p>
											<span>Ведущий</span>
										</figcaption>
									</figure>
									<figure>
										<img src="../../web/images/avatars/tema.png" alt="">
										<figcaption>
											<p>Артем Ковалёв</p>
											<span>Ведущий</span>
										</figcaption>
									</figure>
								</div>
								<div class="item">
									<figure>
										<img src="../../web/images/avatars/tema.png" alt="">
										<figcaption>
											<p>Артем Ковалёв</p>
											<span>Ведущий</span>
										</figcaption>
									</figure>
									<figure>
										<img src="../../web/images/avatars/tema.png" alt="">
										<figcaption>
											<p>Артем Ковалёв</p>
											<span>Ведущий</span>
										</figcaption>
									</figure>
								</div>
							</div>
						</footer>
					</article>
				</div>
			</div>

			<div class="home_product">
				<div class="container">
					<div class="main-products">
						<a href="#" class="btn-white">Еще <i class="fa fa-angle-right"></i></a>
						<ul class="list-preview">
							<li>
								//= ./../tpl/product-preview.html
							</li>
							<li>
								//= ./../tpl/product-preview.html
							</li>
							<li>
								//= ./../tpl/product-preview.html
							</li>
							<li>
								//= ./../tpl/product-preview.html
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!--<div class="home_filter">
				<div class="container">
					<h2>Лоты от всех участников</h2>
					<div class="section-group">
						<div class="select">
							<a href="#" class="js-selectToogle">Все категории вещей<i class="fa fa-angle-down"></i></a>
							<div class="js-selectLists">
								<ul>
									<li><a href="#">Личные вещи</a></li>
									<li><a href="#">Электроника</a></li>
									<li><a href="#">Спорт</a></li>
									<li><a href="#">Дом и дача</a></li>
									<li><a href="#">Детям</a></li>
									<li><a href="#">Бизнесу</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>-->		

			<!--<div class="home_product">
				<div class="container">
					<div class="main-products">
						<a href="#" class="btn-white">Еще <i class="fa fa-angle-right"></i></a>
						<ul class="list-preview">
							<li>
								//= ./../tpl/product-preview.html
							</li>
							<li>
								//= ./../tpl/product-preview.html
							</li>
							<li>
								//= ./../tpl/product-preview.html
							</li>
							<li>
								//= ./../tpl/product-preview.html
							</li>
						</ul>
						<a href="#" class="btn">Посмотреть все аукционы</a>
					</div>
				</div>
			</div>-->

			<div class="subscription">
				<div class="container">
					<h2>Будьте в курсе самых  важных<br> новостей One <sup>+1</sup></h2>
					<form class="form">
						<span class="wr-input">
							<input type="text" id="sub" required="required">
							<label for="sub">Ваш e-mail</label>
						</span>
						<button type="submit" class="btn shadow">Подписаться</button>
					</form>
				</div>
			</div>		
			
			<div class="partners">
				<div class="container">
					<ul>
						<li><a href="#"><img src="../../web/img/for-footer/img1.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img2.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img3.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img4.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img5.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img1.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img2.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img3.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img4.png" alt=""></a></li>
	                </ul>
				</div>
			</div>
			//= ./../tpl/footer.html
		</div>

		<!-- Scripts -->
		//= ./../tpl/scripts.html
	</body>
</html>