<!DOCTYPE html>
<html>
	//= ./../tpl/head.html
	<body class="on-load">
		//= ./../tpl/counter.html

		<!-- Application -->
		<div class="app index">
			//= ./../tpl/header.html

			<div class="intro">
				<section class="js-slides">
					<article class="active">
						<div class="container">
							<header>
								<h1>Покупайте и продавайте<br>
								вещи, помогая людям</h1>
								<p>Благотворительность доступная каждому</p>
								<a href="#">Подробнее о проекте <i class="fa fa-angle-right"></i></a>
							</header>
							<footer>
								<p><span><i class="icon icon-shield"></i>Надежность</span>BLOCKHAIN</p>
							</footer>
						</div>
					</article>
					<article style="background: red;">
						<div class="container">
							<header>
								<h1>Покупайте и продавайте<br>
								вещи, помогая людям</h1>
								<p>Благотворительность доступная каждому</p>
								<a href="#">Подробнее о проекте <i class="fa fa-angle-right"></i></a>
							</header>
							<footer>
								<p><span><i class="icon icon-shield"></i>Надежность</span>BLOCKHAIN</p>
							</footer>
						</div>
					</article>
					<article  style="background: orange;">
						<div class="container">
							<header>
								<h1>Покупайте и продавайте<br>
								вещи, помогая людям</h1>
								<p>Благотворительность доступная каждому</p>
								<a href="#">Подробнее о проекте <i class="fa fa-angle-right"></i></a>
							</header>
							<footer>
								<p><span><i class="icon icon-shield"></i>Надежность</span>BLOCKHAIN</p>
							</footer>
						</div>
					</article>
					<article style="background: purple;">
						<div class="container">
							<header>
								<h1>Покупайте и продавайте<br>
								вещи, помогая людям</h1>
								<p>Благотворительность доступная каждому</p>
								<a href="#">Подробнее о проекте <i class="fa fa-angle-right"></i></a>
							</header>
							<footer>
								<p><span><i class="icon icon-shield"></i>Надежность</span>BLOCKHAIN</p>
							</footer>
						</div>
					</article>
				</section>
				<nav>
					<a href="#" class="js-toggle-menu">Участвовать <i class="fa fa-angle-down"></i></a>
					<ul>
						<li class="decoration"></li>
						<li class="hovered"><a href="#"><span>Идея</span><i class="fa fa-angle-right"></i></a></li>
						<li><a href="#"><span>Продать</span><i class="fa fa-angle-right"></i></a></li>
						<li><a href="#"><span>Купить</span><i class="fa fa-angle-right"></i></a></li>
						<li><a href="#"><span>Помочь</span><i class="fa fa-angle-right"></i></a></li>
					</ul>
				</nav>	
			</div>
			
			<div class="counter">
				<div class="container">
					<ul class="list-promotion">
						<li>
							<article class="promotion">
								<section>
									<p>
										<i class="fa fa-angle-right"></i>
										43
										<span>000 000</span>
									</p>
								</section>
								<p>
									Рублей собрано сервисом<br>
									на благотворительность
								</p>
							</article>
						</li>

						<li>
							<article class="promotion">
								<section>
									<p>
										<i class="fa fa-angle-right"></i>
										86
										<span>000</span>
									</p>
								</section>
								<p>Человек получили<br>
									помощь</p>
							</article>
						</li>

						<li>
							<article class="promotion">
								<section>
									
									<p>
										<i class="fa fa-angle-right"></i>
										48
										<span><i class="fa fa-heart-o" aria-hidden="true"></i></span>
									</p>
								</section>
								<p>
									Программ различных<br>
									фондов реализовано
								</p>
							</article>
						</li>

						<li>
							<article class="promotion">
								<section>
									<p>
										<i class="fa fa-angle-right"></i>
										22
										<span>000</span>
									</p>
								</section>
								<p>
									Фонда<br>
									присоединились
								</p>
							</article>
						</li>
					</ul>
				</div>
			</div>
					
			<div class="wrapper">
				<div class="container">
					<div class="news">
						<article class="news-block_single">
							<a href="#">
								<div class="gradient-vert"></div>
								<section>
									<h2>Частные<br>
									обьявления <i class="fa fa-angle-right"></i></h2>
									<p>94% стоимости вещи переводится<br>
									людям нуждающимся в помощи</p>
								</section>
								<figure><img src="../../web/img/index/news1.png" alt=""></figure>
							</a>
						</article>

						<article class="news-block_several">
							<header>
								<a href="#">
									<div class="gradient-vert"></div>
									<section>
										<h2>Новые вещи<br>
										от добрых брендов <i class="fa fa-angle-right"></i></h2>
										<p>Компании жертвуют часть стоимости товаров</p>
									</section>
									<figure><img src="../../web/img/index/news2.png" alt=""></figure>
								</a>
							</header>
							<footer>
								<a href="#">
									<div class="gradient-vert"></div>
									<section>
										<h2>Аукционы <i class="fa fa-angle-right"></i></h2>
										<p>Уникальные вещи<br>
										с благотворительным<br>
										процентом</p>
									</section>
									<figure><img src="../../web/img/index/news3.png" alt=""></figure>
								</a>
								<a href="#">
									<div class="gradient-vert"></div>
									<section>
										<h2>Звезды <i class="fa fa-angle-right"></i></h2>
										<p>Обьявления от Звезд<br>
										благотворителей</p>
									</section>
									<figure><img src="../../web/img/index/news4.png" alt=""></figure>
								</a>
							</footer>
						</article>
					</div>
				</div>
			</div>
			
			<div class="wrapper">
				<div class="container">
					<div class="main-category">
						<a href="#" class="btn-white">Все категории <i class="fa fa-angle-right"></i></a>
						<article class="main-category-block first">
							<a href="#">
								<div class="gradient-vert"></div>
								<section>
									<h2>Мода <i class="fa fa-angle-right"></i></h2>
									<p>235 объявлений</p>
								</section>
								<figure><img src="../../web/img/index/main-catalog1.png" alt=""></figure>
							</a>
							
						</article>

						<article class="main-category-block second">
							<a href="#">
								<div class="gradient-vert"></div>
								<section>
									<h2>Искусство <i class="fa fa-angle-right"></i></h2>
									<p>235 объявлений</p>
								</section>
								<figure><img src="../../web/img/index/main-catalog2.png" alt=""></figure>
							</a>
							
						</article>
					</div>
				</div>
			</div>	

			<div class="home_filter">
				<div class="container">
					<div class="section-group">
						<div class="select">
							<a href="#" class="js-selectToogle">Лучшее на One <sup>+1</sup><i class="fa fa-angle-down"></i></a>
							<div class="js-selectLists">
								<ul>
									<li><a href="#">Личные вещи</a></li>
									<li><a href="#">Электроника</a></li>
									<li><a href="#">Спорт</a></li>
									<li><a href="#">Дом и дача</a></li>
									<li><a href="#">Детям</a></li>
									<li><a href="#">Бизнесу</a></li>
								</ul>
							</div>
						</div>

						<div class="select">
							<a href="#" class="js-selectToogle">Любой тип объявлений<i class="fa fa-angle-down"></i></a>
							<div class="js-selectLists">
								<ul>
									<li><a href="#">Личные вещи</a></li>
									<li><a href="#">Электроника</a></li>
									<li><a href="#">Спорт</a></li>
									<li><a href="#">Дом и дача</a></li>
									<li><a href="#">Детям</a></li>
									<li><a href="#">Бизнесу</a></li>
								</ul>
							</div>
						</div>

						<div class="select">
							<a href="#" class="js-selectToogle">Все категории вещей<i class="fa fa-angle-down"></i></a>
							<div class="js-selectLists">
								<ul>
									<li><a href="#">Личные вещи</a></li>
									<li><a href="#">Электроника</a></li>
									<li><a href="#">Спорт</a></li>
									<li><a href="#">Дом и дача</a></li>
									<li><a href="#">Детям</a></li>
									<li><a href="#">Бизнесу</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>			

			<div class="home_product">
				<div class="container">
					<div class="main-products">
						<a href="#" class="btn-white">Еще <i class="fa fa-angle-right"></i></a>
						<ul class="list-preview">
							<li>
								//= ./../tpl/product-preview.html
							</li>
							<li>
								//= ./../tpl/product-preview.html
							</li>
							<li>
								//= ./../tpl/product-preview.html
							</li>
							<li>
								//= ./../tpl/product-preview.html
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="home_testimonials">
				<div class="container">
					<section class="carousel">
						<div class="carousel-wrap owl-carousel js-carousel">
							<div class="carousel-item">

								<figure>
									<img src="../../web/img/participant-2.png" alt="">
									<figcaption>Чулпан<br> Хаматова <span>Актриса</span>	</figcaption>
								</figure>

								<section>
									<p>Спасибо всем, кто помогает нашим детям! Деньги на их лечение собраны, и все необходимое оплачено или куплено. Без Вашей поддержки мы не смогли бы оплатить поиск и активацию донора костного мозга, лечение за рубежом, покупку дорогих лекарств и операций. Спасибо!</p>
								</section>
							</div>
							<div class="carousel-item">
								<figure>
									<img src="../../web/img/participant-1.png" alt="">
									<figcaption>Любовь <br> Маяковская <span>Администратор фонда “Дар”</span>	</figcaption>
								</figure>

								<section>
									<p>Спасибо всем, кто помогает нашим детям! Деньги на их лечение собраны, и все необходимое оплачено или куплено. Без Вашей поддержки мы не смогли бы оплатить поиск и активацию донора костного мозга, лечение за рубежом, покупку дорогих лекарств и операций. Спасибо!</p>
								</section>
							</div>
							<div class="carousel-item">
								<figure>
									<img src="../../web//img/participant-2.png" alt="">
									<figcaption>Любовь <br> Маяковская <span>Администратор фонда “Дар”</span>	</figcaption>
								</figure>

								<section>
									<p>Спасибо всем, кто помогает нашим детям! Деньги на их лечение собраны, и все необходимое оплачено или куплено. Без Вашей поддержки мы не смогли бы оплатить поиск и активацию донора костного мозга, лечение за рубежом, покупку дорогих лекарств и операций. Спасибо!</p>
								</section>
							</div>
						</div>
						
						<!-- УБРАТЬ все li КАК ЗАРАБОТАЕТ -->
						<!-- <ul class="navigation">
							<li class="active"></li>
							<li></li>
							<li></li>
						</ul> -->
					</section>
				</div>
			</div>
			
			<div class="home_news">
				<div class="container">
					<div class="doings">
						<a href="#" class="btn-white">Еще <i class="fa fa-angle-right"></i></a>
						<div class="doings-wr">

							<a href="#" class="doings-item">
								<figure>
									<img src="../../web/img/doings/img1.png" alt="">
								</figure>

								<section>
									<h4>Наталья Водянова
									о проекте One+One</h4>
									<p>Национальная акция «Подари детям заботу», сбор денежных средств сотрудниками московского офиса и Осенний праздник к</p>
									<span class="date">12 октября 2017</span>
								</section>
							</a>


							<a href="#" class="doings-item">
								<figure>
									<img src="../../web/img/doings/img2.png" alt="">
								</figure>

								<section>
									<h4>Анимационные фильмы Disney станут доступны в кино для людей с инвалидностью</h4>
									<p>В рамках акции «Собери портфель!» было передано 5 371 канцелярских товаров на сумму около 300</p>
									<span class="date">12 октября 2017</span>
								</section>
							</a>
							<a href="#" class="doings-item">
								<figure>
									<img src="../../web/img/doings/img3.png" alt="">
								</figure>

								<section>
									<h4>Премия «СоУчастие» – общественная награда за вклад в развитие донорства крови</h4>
									<p>В 2017 и 2018 году в России проводится прием заявок на основной, творческий и детский</p>
									<span class="date">12 октября 2017</span>
								</section>
							</a>
							
						</div>
					</div>
				</div>
			</div>

			<div class="partners">
				<div class="container">
					<ul>
						<li><a href="#"><img src="../../web/img/for-footer/img1.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img2.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img3.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img4.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img5.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img1.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img2.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img3.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img4.png" alt=""></a></li>
	                </ul>
				</div>
			</div>
			//= ./../tpl/footer.html
		</div>

		<!-- Scripts -->
		//= ./../tpl/scripts.html
	</body>
</html>