<!DOCTYPE html>
<html>
	//= ./../tpl/head.html
	<body class="on-load">
		//= ./../tpl/counter.html

		<!-- Application -->
		<div class="app index stars">
			//= ./../tpl/header.html

			<div class="intro">
				<section class="js-slides">
					<article class="active">
						<div class="container">
							<header>
								<h1>Звездные вещи</h1>
								<p>12 аукционов и 532 лота </p>
								<a href="#" class="btn">Посмотреть в каталоге  <i class="fa fa-angle-right"></i></a>
							</header>
						</div>
					</article>
				</section>
			</div>

			<div class="auction-filter">
				<div class="container">
					<article>
						<h2>Звезды Один <sup>+1</sup></h2>
						<section>
							<div class="select">
								<a href="#" class="js-selectToogle">Все звезды <i class="fa fa-angle-down"></i></a>
								<div class="js-selectLists">
									<ul>
										<li><a href="#">Личные вещи</a></li>
										<li><a href="#">Электроника</a></li>
										<li><a href="#">Спорт</a></li>
										<li><a href="#">Дом и дача</a></li>
										<li><a href="#">Детям</a></li>
										<li><a href="#">Бизнесу</a></li>
									</ul>
								</div>
							</div>
						</section>
					</article>	
				</div>
			</div>

			<div class="auction-wrapp">
				<div class="container">
					<ul class="list-auction">
						<li>
							<article class="auction-prew">
								<div>
									<header>
										<a href="#">
											<figure>
												<img src="../../web/img/index/star.png" alt="">
												<figcaption>
													<div class="dark">
														<ul>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>8</p>
															</li>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>2</p>
															</li>
														</ul>
													</div>
												</figcaption>
											</figure>
										</a>
									</header>

									<section>
										<h3>Ewbank's Auction</h3>
										<p>Российская актриса театра и кино, общественный, австрийская балерина театра</p>
										<div><span>4 декабря</span> - <span>23 декабря</span></div>
									</section>
								</div>
								
							</article>
						</li>

						<li>
							<article class="auction-prew">
								<div>
									<header>
										<a href="#">
											<figure>
												<img src="../../web/img/index/star.png" alt="">
												<figcaption>
													<div class="dark">
														<ul>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>8</p>
															</li>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>2</p>
															</li>
														</ul>
													</div>
												</figcaption>
											</figure>
										</a>
									</header>

									<section>
										<h3>Ewbank's Auction Ewbank's  AuctionEwbank's Auction </h3>
										<p>Российская актриса театра и кино,<br> общественный, австрийская балерина театра актриса театра  и кино, общественный,</p>
										<div> <span>4 декабря</span> - <span>23 декабря</span></div>
									</section>
								</div>
							</article>
						</li>

						<li>
							<article class="auction-prew">
								<div>
									<header>
										<a href="#">
											<figure>
												<img src="../../web/img/index/star.png" alt="">
												<figcaption>
													<div class="dark">
														<ul>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>8</p>
															</li>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>2</p>
															</li>
														</ul>
													</div>
												</figcaption>
											</figure>
										</a>
									</header>

									<section>
										<h3>Ewbank's Auction</h3>
										<p>Российская актриса театра и кино</p>
										<div><span>4 декабря</span> - <span>23 декабря</span></div>
									</section>
								</div>

							</article>
						</li>

						<li>
							<article class="auction-prew">
								<div>
									<header>
										<a href="#">
											<figure>
												<img src="../../web/img/index/star.png" alt="">
												<figcaption>
													<div class="dark">
														<ul>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>8</p>
															</li>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>2</p>
															</li>
														</ul>
													</div>
												</figcaption>
											</figure>
										</a>
									</header>

									<section>
										<h3>Ewbank's Auction</h3>
										<p>Российская актриса театра и кино, общественный, австрийская балерина театра</p>
										<div><span>4 декабря</span> - <span>23 декабря</span></div>
									</section>
								</div>

							</article>
						</li>

						<li>
							<article class="auction-prew">
								<div>
									<header>
										<a href="#">
											<figure>
												<img src="../../web/img/index/star.png" alt="">
												<figcaption>
													<div class="dark">
														<ul>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>8</p>
															</li>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>2</p>
															</li>
														</ul>
													</div>
												</figcaption>
											</figure>
										</a>
									</header>

									<section>
										<h3>Ewbank's Auction Ewbank's <br> AuctionEwbank's Auction </h3>
										<p>Российская актриса театра и кино, общественный, австрийская балерина театра актриса театра  и кино, общественный,</p>
										<div> <span>4 декабря</span> - <span>23 декабря</span></div>
									</section>
								</div>
								
							</article>
						</li>

						<li>
							<article class="auction-prew">
								<div>
									<header>
										<a href="#">
											<figure>
												<img src="../../web/img/index/star.png" alt="">
												<figcaption>
													<div class="dark">
														<ul>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>8</p>
															</li>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>2</p>
															</li>
														</ul>
													</div>
												</figcaption>
											</figure>
										</a>
									</header>

									<section>
										<h3>Ewbank's Auction</h3>
										<p>Российская актриса театра и кино</p>
										<div><span>4 декабря</span> - <span>23 декабря</span></div>
									</section>
								</div>
								
							</article>
						</li>

						<li>
							<article class="auction-prew">
								<div>
									<header>
										<a href="#">
											<figure>
												<img src="../../web/img/index/star.png" alt="">
												<figcaption>
													<div class="dark">
														<ul>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>8</p>
															</li>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>2</p>
															</li>
														</ul>
													</div>
												</figcaption>
											</figure>
										</a>
									</header>

									<section>
										<h3>Ewbank's Auction</h3>
										<p>Российская актриса театра и кино, общественный, австрийская балерина театра</p>
										<div><span>4 декабря</span> - <span>23 декабря</span></div>
									</section>
								</div>
								
							</article>
						</li>

						<li>
							<article class="auction-prew">
								<div>
									<header>
										<a href="#">
											<figure>
												<img src="../../web/img/index/star.png" alt="">
												<figcaption>
													<div class="dark">
														<ul>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>8</p>
															</li>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>2</p>
															</li>
														</ul>
													</div>
												</figcaption>
											</figure>
										</a>
									</header>

									<section>
										<h3>Ewbank's Auction Ewbank's <br> AuctionEwbank's Auction </h3>
										<p>Российская актриса театра и кино, общественный, австрийская балерина театра актриса театра  и кино, общественный,</p>
										<div> <span>4 декабря</span> - <span>23 декабря</span></div>
									</section>
								</div>
								
							</article>
						</li>

						<li>
							<article class="auction-prew">
								<div>
									<header>
										<a href="#">
											<figure>
												<img src="../../web/img/index/star.png" alt="">
												<figcaption>
													<div class="dark">
														<ul>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>8</p>
															</li>
															<li>
																<span>Доступно <br>
																лотов:</span>
																<p>2</p>
															</li>
														</ul>
													</div>
												</figcaption>
											</figure>
										</a>
									</header>

									<section>
										<h3>Ewbank's Auction</h3>
										<p>Российская актриса театра и кино</p>
										<div><span>4 декабря</span> - <span>23 декабря</span></div>
									</section>
								</div>

							</article>
						</li>
					</ul>

					<div class="pagination-block">
						<div class="container">
							<ul class="main-pagination">
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li class="next"><a href="#"><span>Следующая страница</span> <i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			
					
			<div class="separator"></div>

			<div class="home_product">
				<div class="container">
					<div class="main-products">
						<h2>Благотворительные лоты</h2>
						<ul class="list-preview">
							<li>
								//= ./../tpl/product-preview.html
							</li>
							<li>
								//= ./../tpl/product-preview.html
							</li>
							<li>
								//= ./../tpl/product-preview.html
							</li>
							<li>
								//= ./../tpl/product-preview.html
							</li>
						</ul>
						<a href="#" class="btn-white">Еще <i class="fa fa-angle-right"></i></a>
					</div>
				</div>
			</div>

			<div class="partners">
				<div class="container">
					<ul>
						<li><a href="#"><img src="../../web/img/for-footer/img1.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img2.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img3.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img4.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img5.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img1.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img2.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img3.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img4.png" alt=""></a></li>
	                </ul>
				</div>
			</div>
			//= ./../tpl/footer.html
		</div>

		<!-- Scripts -->
		//= ./../tpl/scripts.html
	</body>
</html>