<!DOCTYPE html>
<html> 
	//= ./../tpl/head.html
	<body class="on-load">
		<!--//= ./../tpl/counter.html-->
		<!--//= ./popup/popup.html-->
		<!-- Application -->
		<div class="app page">
			//= ./../tpl/header.html

			<div class="content">
				<div class="container">

					<h1>Делись добром, Москва!</h1>
					<figure>
						<img src="../../web/img/doings/News-DD.jpg"/>
						<figcaption>Благотворительная ивент платформа «Делись добром, Москва!» организует праздничные мероприятия и акции в пользу благотворительных организаций, привлекая к благотворительной деятельности новые массовые аудитории.</figcaption>
					</figure>
					<h2>О проекте</h2>
					<ul class="typo-list_1">
						<li>Старт проекта - 27 ноября 2016 года;</li>
						<li>С ноября, 2016 проведено 4 мероприятия;</li>
						<li>Общий сбор составил более 6 млн руб.</li>
						<li>100% сборов перечислено в Детский хоспис “Дом с маяком”;</li>
						<li>Июнь 2017 г. премия за лучший городской проект в сфере благотворительности в рамках Moscow Urban Forum 2017</li>
						<li>Мероприятия посетило более 5 тысяч человек, из них 80% впервые принимали участие в благотворительном мероприятии</li>
					</ul>
					<h2>Уникальность проекта</h2>
					<ul class="typo-list_1">
						<li>Первая благотворительная ивент платформа в России</li>
						<li>Команда проекта работает полностью на волонтерских основах</li>
						<li>Праздничный формат мероприятий (барахолки, розыгрыши) позволяет привлечь массовую аудиторию</li>
						<li>Философия win-win - удовлетворение встречных интересов посетители и партнеров-участников</li>
						<li>Отказ от эмоциональных манипуляций</li>
					</ul>

					<ul class="typo-links">
						<li><a href="http://delisdobrom.com" target="_blank">delisdobrom.com</a></li>
						<li><a href="https://www.facebook.com/delisdobrom.moskva/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="https://www.instagram.com/delisdobrom.moskva/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a><br></li>
					</ul>

					<h3>Предстоящее мероприятие</h3>

					<address>
						<strong>Барахолка – 3. Мода на благотворительность </strong><br>
						Дата: <em>19 ноября 2017 (воскресенье)</em><br>
						Название: <strong>Благотворительная Барахолка-3 «Делись добром, Москва» в поддержку детского хосписа «Дом с маяком» (childrenshospice.ru)</strong><br>
						Продолжительность: <em>8 часов (с 12:00 до 20:00)</em><br>
						Площадка: <strong>конференц-этаж отеля «Балчуг Кемпински Москва» (<a href="http://www.kempinski.com/moscow" target="_blank">www.kempinski.com/moscow</a>)</strong>
					</address>

					<h4>Формат: </h4>
					<ul class="typo-list_2">
						<li>модная одежда и аксессуары от российских дизайнеров</li>
						<li>стильные предметы интерьера от иностранных дизайнеров</li>
						<li>конкурс стилистов</li>
						<li>консультации дизайнеров интерьера</li>
						<li>бьюти-маркет и мастер-классы от визажистов</li>
						<li>фотостудия</li>
						<li>детская комната и детский театр</li>
						<li>студия кофе и открытый бар с шампанским</li>
					</ul>

					<h2>О Детском хосписе “Дом с маяком”</h2>
					<ul class="typo-list_1">
						<li>Детский хоспис «Дом с маяком» - частное медицинское благотворительное учреждение учреждение для детей, чьи болезни признаны неизлечимыми. </li>
						<li>Детский хоспис — это 500 детей и 160 сотрудников. </li>
						<li>Название «Дом с маяком» обусловлено тем, что, когда в семье неизлечимо болен ребенок, это похоже на шторм: земля уходит из - под ног, и вокруг темнота. </li>
						<li>Маяк подаёт сигнал — на свете есть место, где помогут справиться с невзгодами, там дружат и играют с детьми, радуются каждому дню. </li>
						<li>«Дом с маяком»» не занимается лечением основного заболевания или реабилитацией, но лечит симптомы и создает условия, чтобы ребенок и вся семья могли жить максимально полной, активной, нормальной жизнью. </li>
					</ul>
					<p class="title">Детский хоспис «Дом с маяком» создан при поддержке Фонда помощи хосписам «Вера» и фонда «Подари жизнь».</p>
					<a class="btn" href="http://www.childrenshospice.ru" target="_blank">childrenshospice.ru</a>

				</div>
			</div>

			//= ./../tpl/footer.html
		</div>

		<!-- Scripts -->
		//= ./../tpl/scripts.html
	</body>
</html>




