<!DOCTYPE html>
<html>
	//= ./../tpl/head.html
	<body class="on-load">
		//= ./../tpl/counter.html

		<!-- Application -->
		<div class="app">
			//= ./../tpl/header.html

			<div class="news-full">
				<div class="container">
					<div class="news-container">
						<article>
							<h1>Заработал благотворительный аукцион с онлайн-записью в Blockchain</h1>
							<span class="date">28 декабря 2017</span>
							<div class="share"><img src="../../assets/img/news/tpl-share.png"></div>
							<figure>
								<img src="../../assets/img/news/news-single.png">
							</figure>
							<h2>
								Платье Полины Гагариной;<br>
								Мяч с автографами сборной России по футболу;<br>
								Холст кисти Марфы Абакумцевой;
							</h2>
							<h2>и другие лоты от российских деятелей искусства, музыки и спорта.</h2>
							<p>Всего на аукцион выставлено более 50 эксклюзивных лотов от российских актеров, художников, музыкантов и спортсменов, а вырученные средства пойдут в пользу детского хосписа «Дом с маяком».</p>
							<p>Среди российских звезд, поддержавших аукцион: Роман Виктюк (режиссер), Мария Шарапова (теннисистка), Вера Борисенкова (балерина) и многие другие. Полный список лотов, принадлежащих российским селебрити, представлен на сайте «Один+Один».</p>
							<blockquote>
								<figure>
									<img src="../../assets/img/news/news-blockquote.png">
								</figure>
								<h2>Наталья Водянова. Модель, филантроп.</h2>
								<p>«Мы создали интернет-платформу, объединяющую технологии и благотворительность. 
								Одной из наших ключевых миссий является обеспечение прозрачности транзакций в благотворительной сфере, именно поэтому мы используем в работе Blockchain. Очень приятно, что такую историю, как первый для нас «звездный» аукцион с использованием Blockchain, нам удалось организовать именно с «Делись добром».</p>
								<p>Также хотелось бы отметить, что в данном случае, мы выступаем еще и как промо-площадка благотворительного офлайн-аукциона. Все приобретенные в процессе онлайн-торгов вещи, а также предметы искусства, можно будет получить во время мероприятия, организованного нашими партнерами, 19 ноября в гостинице «Балчуг».</p>
								<p>При таком формате, выигранные на интернет-площадке лоты, передаются победителям на конкретном мероприятии, что должно обеспечить значительное увеличение благотворительных сборов. Кроме того, хочется подчеркнуть, что наш аукцион по-своему уникален. </p>
								<p>Мы работаем с Blockchain, что обеспечивает абсолютную прозрачность движения средств от покупателей к получателю. А значит, степень доверия и к нам, и к нашим партнерам только растет. Давайте делать добрые дела открыто и часто!»</p>
							</blockquote>
							<blockquote>
								<figure>
									<img src="../../assets/img/news/news-blockquote.png">
								</figure>
								<h2>Ксения Боломатова, «Делись добром»</h2>
								<p>«Нам очень приятно сотрудничать с «Один+Один» в рамках «звездного» аукциона. Идея «легкой» благотворительности нам близка и понятна.</p>
								<p>Можно сказать, что мы и сами движемся в этом направлении. И здорово, что покупатели могут сами отследить весь путь перечисленных денежных средств. Прозрачность в сфере благотворительности необходима, потому что только благодаря ей мы можем рассчитывать на доверие и со стороны аудитории, и со стороны партнеров.</p>
								<p>Заходите на «Один+Один», участвуйте и рассказывайте друзьям!»</p>
							</blockquote>
							<iframe src="" frameborder="0"></iframe>
						</article>
						<aside>
							<h3>К другим новостям</h3>
							<nav>
							<ul>
								<li>
									<a href="#">Наталья Водянова о проекте One+One</a>
								</li>
								<li>
									<a href="#">Анимационные фильмы Disney станут доступны в кино для людей с инвалидностью</a>
								</li>
								<li>
									<a href="#">Премия «СоУчастие» – общественная награда за вклад в развитие донорства крови</a>
								</li>
								<li>
									<a href="#">Заработал благотворительный аукцион с онлайн-записью в Blockchain</a>
								</li>
							</ul>
						</nav>
					</aside>
					</div>
				</div>
			</div>

			<div class="partners">
				<div class="container">
					<ul>
						<li><a href="#"><img src="../../web/img/for-footer/img1.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img2.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img3.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img4.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img5.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img1.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img2.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img3.png" alt=""></a></li>
	                    <li><a href="#"><img src="../../web/img/for-footer/img4.png" alt=""></a></li>
	                </ul>
				</div>
			</div>
			//= ./../tpl/footer.html
		</div>

		<!-- Scripts -->
		//= ./../tpl/scripts.html
	</body>
</html>