<!DOCTYPE html>
<html>
  //= ./ui/head.html
    <article class="item">
      <header>
        <a href="#">
          <figure>
            <img src="../../web/img/search-item-6.jpg" alt="">
            <figcaption>
              <span class="favorites">94%</span>
              <span class="sale"></span>
              <span class="top"></span>
            </figcaption>
          </figure>
        </a>
      </header>
    <section>
      <h2><a href="#">iPhone 7</a></h2>
      <p>м. Кропоткинская <span>1 дн. назад</span></p>
      <ul>
        <li><a href="#">Магазин</a></li>
        <li><a href="#">Аукционы</a></li>
      </ul>
    </section>
      <footer>
        <a href="#">
          <figure>
            <img src="../../web/img/participant-2.png" alt="">
            <figcaption>Мария</figcaption>
          </figure>
        </a>
        <p>1 500 ₽</p>
      </footer>
    </article>
  </body>
</html>    