<ul class="list-bookmarks">
	<li>
		<figure>
			<img src="assets/img/search-item-1.jpg" alt="">
		</figure>
		<ul class="item-info">
			<li>
				<h3><a href="#">Power bank</a></h3>
				<ul>
					<li><i class="icon icon-clock"></i>3 часа назад</li>
					<li><i class="icon icon-marker"></i>Москва / м. Кропоткинская</li>
				</ul>
			</li>
			<li>
				<p>2 300 <span class="rub">a</span></p>
				<span>В фонд “Дар” (Поддержка детей инвалидов)</span>
			</li>
		</ul>
		<a href="#"><i class="icon icon-heart-big"></i></a>
	</li>
	<li>
		<figure>
			<img src="assets/img/search-item-1.jpg" alt="">
		</figure>
		<ul class="item-info">
			<li>
				<h3><a href="#">Power bank</a></h3>
				<ul>
					<li><i class="icon icon-clock"></i>3 часа назад</li>
					<li><i class="icon icon-marker"></i>Москва / м. Кропоткинская</li>
				</ul>
			</li>
			<li>
				<p>2 300 <span class="rub">a</span></p>
				<span>В фонд “Дар” (Поддержка детей инвалидов)</span>
			</li>
		</ul>
		<a href="#"><i class="icon icon-heart-big"></i></a>
	</li>
	<li>
		<figure>
			<img src="assets/img/search-item-1.jpg" alt="">
		</figure>
		<ul class="item-info">
			<li>
				<h3><a href="#">Power bank</a></h3>
				<ul>
					<li><i class="icon icon-clock"></i>3 часа назад</li>
					<li><i class="icon icon-marker"></i>Москва / м. Кропоткинская</li>
				</ul>
			</li>
			<li>
				<p>2 300 <span class="rub">a</span></p>
				<span>В фонд “Дар” (Поддержка детей инвалидов)</span>
			</li>
		</ul>
		<a href="#"><i class="icon icon-heart-big"></i></a>
	</li>
	<li>
		<figure>
			<img src="assets/img/search-item-1.jpg" alt="">
		</figure>
		<ul class="item-info">
			<li>
				<h3><a href="#">Power bank</a></h3>
				<ul>
					<li><i class="icon icon-clock"></i>3 часа назад</li>
					<li><i class="icon icon-marker"></i>Москва / м. Кропоткинская</li>
				</ul>
			</li>
			<li>
				<p>2 300 <span class="rub">a</span></p>
				<span>В фонд “Дар” (Поддержка детей инвалидов)</span>
			</li>
		</ul>
		<a href="#"><i class="icon icon-heart-big"></i></a>
	</li>
</ul>