<table class="list-goods type_2 js-accordion">
	<tr>
		<th>Название</th>
		<th>Цена</th>
		<th>Статус</th>
	</tr>

	<tr class="goods-header">
		<td><a href="#">Лампа настольная Pixar</a></td>
		<td><span class="value">Цена</span> 2 300 <span class="rub">a</span></td>
		<td><span class="value">Статус</span> Активно</td>
	</tr>

	<tr class="goods-single open">
		<td>
			<a href="#">Лампа настольная Pixar</a>

			<div class="goods-info">
				<div class="customer">
					<p> Продавец: <a href="#">Мирабелла глинка</a></p>
					<span>Свяжитесь с покупателем что бы договориться о месте и времени покупки</span>
				</div>

				<div class="contacts">
					<a href="tel:+73453453476" class="phone">+7 (345) 345-34-76</a>
					<a href="mailto:vasya@raush.ru">vasya@raush.ru</a></li>
				</div>
				
				<div class="action">
					<a href="#">Пожаловаться</a>
					<a href="#">Отменить бронь</a> 
				</div>
				
			</div>

		</td>
		<td><span class="value">Цена</span> 2 300 <span class="rub">a</span></td>
		<td><span class="value">Статус</span> Активно</td>
	</tr>

	<tr class="goods-single open mark">
		<td>
			<a href="#">Лампа настольная Pixar</a>

			<div class="goods-info">
				<div class="customer">
					<p> <a href="#">Мирабелла глинка</a> забронировал этот товар</p>
					<span>Свяжитесь с покупателем что бы договориться о месте и времени покупки</span>
				</div>

				<div class="contacts">
					<a href="tel:+73453453476" class="phone">+7 (345) 345-34-76</a>
					<a href="mailto:vasya@raush.ru">vasya@raush.ru</a></li>
				</div>
				
				<div class="action">
					<a href="#">Пожаловаться</a>
					<div class="bottom">
						<a href="#">Отменить бронь</a>
						<a href="#" class="btn">Вещь передана покупателю</a>
					</div>
					
				</div>
				
			</div>

		</td>
		<td class="price"><span class="value">Цена</span> 2 300 <span class="rub">a</span></td>
		<td><span class="value">Статус</span> Активно</td>
	</tr>
</table>