<ul class="list-projects type_1 column_3">
	<li>
		<article> 
			<header>
				<figure>
					<img src="assets/img/founds/logo-leykimiya.png" alt="">

				</figure>
				<section>
					<hgroup>
						<h3>Фонд борьбы с лейкемией</h3>
					</hgroup>
				</section>
			</header>
			<ul>
				<li>
					<h4>Магнитола SONY</h4>
					<dl>
						<dt>+ 2 000 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
				<li>
					<h4>Лампа настольная Pixar</h4>
					<dl>
						<dt>+ 800 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
				<li>
					<h4>Macbook Pro Late 2015 Retina display</h4>
					<dl>
						<dt>+ 15 000 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
			</ul>
			<footer>
				<h4>Всего: <strong>17 325 <span>₽</span></strong></h4>
			</footer>
		</article>		
	</li>

	<li>
		<article> 
			<header>
				<figure>
					<img src="assets/img/founds/logo-korablik.png" alt="">
				</figure>
				<section>
					<hgroup>
						<h3>Кораблик</h3>
						<h4>Детский благотворителный ФОНД</h4>
					</hgroup>
				</section>
			</header>
			<ul>
				<li>
					<h4>Магнитола SONY</h4>
					<dl>
						<dt>+ 2 000 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
				<li>
					<h4>Лампа настольная Pixar</h4>
					<dl>
						<dt>+ 800 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
			</ul>
			<footer>
				<h4>Всего: <strong>17 325 <span>₽</span></strong></h4>
			</footer>
		</article>		
	</li>

	<li>
		<article> 
			<header>
				<figure>
					<img src="assets/img/founds/logo-nika.png" alt="">
				</figure>
				<section>
					<hgroup>
						<h3>Ника</h3>
						<h4>Фонд помощи животным </h4>
					</hgroup>
				</section>
			</header>
			<ul>
				<li>
					<h4>Магнитола SONY</h4>
					<dl>
						<dt>+ 2 000 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
			</ul>
			<footer>
				<h4>Всего: <strong>17 325 <span>₽</span></strong></h4>
			</footer>
		</article>		
	</li>
	
	<li>
		<article> 
			<header>
				<figure>
					<img src="assets/img/founds/logo-nika.png" alt="">
				</figure>
				<section>
					<hgroup>
						<h3>Ника</h3>
						<h4>Фонд помощи животным</h4>
					</hgroup>
				</section>
			</header>
			<ul>
				<li>
					<h4>Магнитола SONY</h4>
					<dl>
						<dt>+ 2 000 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
			</ul>
			<footer>
				<h4>Всего: <strong>17 325 <span>₽</span></strong></h4>
			</footer>
		</article>		
	</li>

	<li>
		<article> 
			<header>
				<figure>
					<img src="assets/img/founds/logo-korablik.png" alt="">
				</figure>
				<section>
					<hgroup>
						<h3>Кораблик</h3>
						<h4>Детский благотворителный ФОНД</h4>
					</hgroup>
				</section>
			</header>
			<ul>
				<li>
					<h4>Магнитола SONY</h4>
					<dl>
						<dt>+ 2 000 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
				<li>
					<h4>Лампа настольная Pixar</h4>
					<dl>
						<dt>+ 800 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
				<li>
					<h4>Лампа настольная Pixar</h4>
					<dl>
						<dt>+ 800 <span>₽</span></dt>
						<dd><a href="#">Отчет</a></dd>
					</dl>
				</li>
			</ul>
			<footer>
				<h4>Всего: <strong>17 325 <span>₽</span></strong></h4>
			</footer>
		</article>		
	</li>
</ul>

