<div class="shop-about_edit">
	<form class="form">
		<span class="wr-input big">
			<input class="big" type="text" id="shop">
			<label for="shop">Название магазина</label>
		</span>

		<span class="wr-input">
			<span class="color" style="background: #4489ff;"></span>
			<input type="text" id="color">
			<label for="color">цвет кнопок и ссылок на странице магазина</label>
		</span>

		<span class="wr-textarea short-desc">
			<textarea name="" id="short-desc" class="short-desc"></textarea>
			<label for="short-desc">Краткое описание магазина</label>
		</span>
		
		<span class="wr-textarea">
			<textarea name="" id="full-desc"></textarea>
			<label for="full-desc">Подробное описание магазина</label>
		</span>

		<span class="wr-textarea contact">
			<textarea name="" id="cont"></textarea>
			<label for="cont">Контактная информация</label>
		</span>

		<div class="social">
			<span class="wr-input">
				<input type="text" id="vk">
				<label for="vk">Vkontakte</label>
			</span>

			
			<span class="wr-input">
				<input type="text" id="fc">
				<label for="fc">Facebook</label>
			</span>
			
			<span class="wr-input">
				<input type="text" id="odn">
				<label for="odn">Odnoklassnilki</label>
			</span>
			
			<span class="wr-input">
				<input type="text" id="twit">
				<label for="twit">Twitter</label>
			</span>
		</div>

		<div class="form-btn-group">
			<button type="button" class="btn white">Показать в режиме просмотра</button>
			<button type="submit" class="btn">Сохранить</button>
		</div> 

	</form>
	
</div>