<!DOCTYPE html>
<html>
	//= components/base/head.html
<body>
	//= components/base/counter.html

	<!-- Application -->
	<div class="app">
		//= components/base/menu-top.html
		//= components/base/menu-found.html
		<!-- Login Form //= components/popup/login.html-->

		<!-- Search Result -->
		<section class="wr mb_30">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						//= components/ui/list-founds.html
					</div>
				</div>
			</div>
		</section>

		<!-- Partners -->
		//= components/base/partners.html

		//= components/base/footer.html
	</div>

	<!-- Scripts -->
	//= components/base/scripts.html
</body>
</html>