// HEADER
.header {
	top: 0;
	a.logo {
		margin-top: 20px;

		@include respond-to(md) {
			z-index: 9995;
		}
	}
}

// MENU
.menu {
	// TOP MENU – http://prntscr.com/gg2zry
	// GENERAL MENU – 

	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	&-top {& > ul {display: flex;}}
	&-general {& > ul {display: flex; justify-content: space-around;}}
	&-general {& > a {align-items: center; justify-content: space-between;}}


	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	&-top {
		@include respond-to(md) {width: calc(100% - 86px);}

		&:before {
			content: '';
			display: none; width: 100%; height: 79px; position: absolute; left: 0; top: -25px; transform: translateX(-130%); z-index: 5;
			background: $btn-color; box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);
			transition: .4s ease-out;
			@include respond-to(md) {
				display: block;
			}
		}

		&.active {
			&:before {
				transform: translateX(0);
			}
		}


		a.burger {
			position: relative; float: right; width: 28px; height: 28px; margin: 0 15px 18px 15px;
			
			display: none;
			@include respond-to(md) {
				display: block;

				z-index: 9995;
			}

			span {
				display: block; width: 100%; height: 4px; margin: 4px 0;
				background: $btn-color;
			}
		}

		ul {
			margin-top: 25px; z-index: 4;

			@include respond-to(md) {
				display: block; margin: 0; padding: 0 0 20px;
				position: absolute; left: 0; top: 54px; width: 100%; z-index: 9999;
				background: #fff; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
				pointer-events: none;

				left: -25px; right: -25px; top: -25px; width: auto; padding-top: 79px; z-index: 9990; transform: translateX(-130%); overflow-y: auto; z-index: 4;

				&.active {
					pointer-events: all; transform: translateX(0);
				}
			}

			@include respond-to(sm) {
				left: 0; right: 0;  height: 100vh;
			}
			
			li {
				margin-left: 40px;
				@include respond-to(md) {
					text-align: center;
					display: block; width: calc(100% - 86px);
					width: auto; margin: 0 45px !important;
				}
				@include respond-to(sm) {
					margin: 0 20px;
				}

				&:first-child {
					a {
						margin-top: 0;
					}
				}

				a {
					@include font-type($CormacEL, 14px, 20px, -0.5px); color: $main-color-text; letter-spacing: 0.4px;
					display: inline-block; padding-bottom: 10px; border-bottom: 2px solid transparent;
					@include respond-to(md) {font-size: 18px; display: block; width: 100%; margin-top: 20px;}

					&:hover {cursor: pointer;}
					 
					i {margin-right: 5px;}
				}

				&.active {a {border-bottom: 2px solid #4489ff; &:hover {cursor: pointer;}}}
			}
		}
	}

	&-general {
		position: relative; padding-bottom: 1px;

		&:after {
			content: '';
			position: absolute; bottom:0; left:50%; height: 1px; width: 100%; transform: translateX(-50%);
			background: #d9e4ea;
			@include respond-to(md) {display: none;}
		}

		& > a {
			@include font-type($CormacEL, 22px, 24px, -0.5px); color: #000; letter-spacing: 0.5px;
			display: none; width: 100%; padding: 20px 10px;
			border-bottom: 1px solid #d9e4ea;

			&:hover {cursor: pointer;}

			@include respond-to(md) {display: flex;}

			i {
				font-size: 20px;
				color: #4489ff; font-weight: 600;
				display: block; float: right;
			}
		}

		& > ul {
			padding-top: 25px;

			@include respond-to(md) {
				flex-direction: column; padding-top: 0;
				@include slide_me();
			}

			li {
				text-align: center;
				@include respond-to(md) {text-align: left;}

				a {
					@include font-type($CormacEL, 14px, 19px, -0.5px); color: #4a4a4a;
					display: block; padding-bottom: 15px;
					border-bottom: 2px solid transparent; transition: all .2s;

					&:hover {border-bottom: 2px solid #4489ff; cursor: pointer;}

					@include respond-to(md) {font-size: 18px; padding: 20px 10px; border-bottom: 1px solid #d9e4ea;}

					span {
						display: inline-block; letter-spacing: 0.6px;
						&.icon-buy-wrapp {
							display: block; height: 35px; margin: 0 auto 13px auto;
							@include respond-to(md) {display: none;}
						}
					}
				}

				&.active {a {border-bottom-color: #4489ff; &:hover {cursor: default;}}}
			}
		}
	}


	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	&-top {
		a.burger {
			transform: rotate(0deg);
  			transition: .5s ease-in-out;

			span {
				position: absolute; left: 0; opacity: 1;

				transform: rotate(0deg);
				transition: .25s ease-in-out;

				&:nth-child(1) {top: 0px;}
				&:nth-child(2), 
				&:nth-child(3) {top: 9px;}
				&:nth-child(4) {top: 18px;}
			}

			&.active {

				span {
					&:nth-child(1) {top: 9px; width: 0%; left: 50%;}
					&:nth-child(2) {transform: rotate(45deg);}
					&:nth-child(3) {transform: rotate(-45deg);}
					&:nth-child(4) {top: 9px; width: 0%; left: 50%;}
				}
			}
		}

		& > ul {
			transition: max-height .2s cubic-bezier(.42,.6,.61,.42);
			@include respond-to(md) {
				transition: 0.4s ease-out;
			}
		}
	}

	&-general {

		& > a {i {transform: rotate(0deg); transition: .3s ease-in-out;}
			&.active {i {transform: rotate(-180deg);}}	
		}

		& > ul {transition: max-height .3s cubic-bezier(.42,.6,.61,.42);}
	}
}

// MENU-LANDING
.header {
	&-land {
		padding: 25px;

		@include respond-to(sm) {padding: 0;}
		
		.menu {
			// TOP MENU – http://prntscr.com/gi6fso
			// GENERAL MENU – 
			&-top {
				a.burger {
					span {background: #ffffff;}
				}

				ul {

					li {
						margin-left: 20px;
						a {
							color: #fff; font-size: 18px;
							padding: 0 15px; height: 44px; line-height: 34px;
							border: 2px solid transparent; border-radius: 50px;
							/*transition: .5s ease-in-out;*/ 
							&:hover {border-color: #fff;}
						}

						&.active {
							a {color: $link-color; background: #fff;}
							color: #ffffff; font-size: 18px; &:hover {cursor: pointer;}
						}

						&.active {
							a {
								border-color: #ffffff;
								&:hover {border-color: #ffffff;}
							}
						}
					}
				}
			}
		}

		.logo {
			display: none;

			&-white {
				@include respond-to(md) {
					z-index: 9995;
				}
			}
		}

		.menu-top {
			margin-top: 0;
			& > ul {
				margin-top: 0; 
				@include respond-to(md) {background: #4489ff;}

				li {
					a {
						position: relative; display: inline-block; &:hover {cursor: pointer;}

						/*&:after {
							content: '';
							position: absolute;
							border-bottom: 2px solid #ffffff;
							top: 100%;
							transition: all 0.4s;
						}
						&:after {left: 50%; right: 50%;}
						&:hover:after {left: 0; right: 0;}*/

						i {
							&.icon-header_search, &.icon-header_plus {display: none;}
						}
					}
				}
			}
		}

		//scroll landing menu
		&.styled {
			height: 70px;
			background: #fff; box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);

			.logo {
				display: inline-block; margin-top: 0;
				@include respond-to(sm) {margin-top: 0;}
				&-white {
					display: none;
				}
			}


			.menu-top {

				&:before {
					background: #ffffff;
				}

				a.burger {
					span {background: #4489ff;}
				}

				ul {
					background: #fff;
					&.active {background: #fff;}
					
					li {
						&.active {
							a {color: #fff; background: $link-color;}
							&:hover {cursor: pointer !important; a {border-color: #ffffff;}}

						}
						&:hover {
							a {border-color: #4489ff;}

							a {
								border-bottom-color: #4489ff;
							}
						}
						a {
							color: $link-color; letter-spacing: 0.1px; cursor: pointer !important;

							i {
								&.icon-header_search, &.icon-header_plus {display: inline-block;}
								&.icon-header_search-white, &.icon-header_plus-white {display: none;}
							}

							/*&:after {
								content: '';
								position: absolute;
								border-bottom: 2px solid #4489ff;
								top: 100%;
								transition: all 0.4s;
							}
							&:after {left: 50%; right: 50%;}
							&:hover:after {left: 0; right: 0;}*/
						}
					}
				}
			}
		}

	}
}	

// MENU-SHOP - http://prntscr.com/gtlbfv
.header {
	&-shop {
		height: 65px;
		.menu {
			&-top {
				&:before {display: none;}

				.burger {margin-top: 20px;}

				ul {
					margin-top: 15px; left: -50px; right: -50px;
					@include respond-to(md) {
						left: -25px; right: -25px; margin-top: 0; top: 0; height: auto; transform: translateX(-130%);
					}
					@include respond-to(sm) {
						height: 100vh;
					}
					&.active {
						background: #fff;
						@include respond-to(md) {
							transform: translateX(0%);
						}
						&:before {display: none;}
						&:after {display: none;}
					}
					& > li {
						margin-left: 15px;
						a {
							color: $link-color; font-size: 16px; letter-spacing: 0.1px;
							padding: 7px 14px 0; height: 41px; position: relative;
							border: 2px solid transparent;
							cursor: pointer;
							box-sizing: border-box;
							transition: .3s ease-out;
							&:after {
								content: '';
								display: block; width: 100%; height: 2px; position: absolute; left: 50%; bottom: -13px; transform: translateX(-50%);
								background: $link-color;
								opacity: 0; transition: .3s ease-out;
								pointer-events: none;
							}
							&:hover {
								color: $link-color;
								&:after {
									opacity: 1;
								}
							}
						}

						&.active1 {
							a {
								color: #fff; background: $link-color;
								border-radius: 100px; border-color: #ffffff;
								&:hover {
									color: $link-color; background: #ffffff;
								}
							}
						}

						&.active2 {
							a {
								border-color: $link-color;
								border-radius: 100px;
								&:hover {
									border-color: #ffffff;
								}
							}
						}
					}
				}
			}
		}
	}

	&-shop_edit {
			height: 66px;
			.menu {
				&-top {
					&:before {
						height: 91px;
						background: #fff;
					}
					.burger {margin-top: 20px;}
					ul {
						margin-top: 24px; padding-right: 15px; left: 0; right: 0;
						@include respond-to(md) {padding-top: 90px;}

						li {
							margin-left: 41px; 
							@include respond-to(md) {margin-bottom: 20px !important;}
							&.active {
								a {
									&:after {
										content: '';
										position: absolute; bottom: -26px; left: 0; height: 3px; width: 100%;
										background: $link-color;
										@include respond-to(md) {bottom: -15px;}
									}
								}
							}
							&.active3 {
								a {font-family: $CormacB;}
							}
							&.drop-down {
								a {
									position: relative; padding-right: 20px;
									i {
										position: absolute; right: 0; top: 0; font-weight: 600;
									}
								}
							}

							a {
								color: $link-color; font-size: 16px; letter-spacing: 0.1px; line-height: 15px;
								position: relative; padding-bottom: 0; display: inline-block; width: auto;
								border: none;
								&:before, &:after {
									content: ''; 
									display: block; height: 3px; width: 0; position: absolute; bottom: -26px; 
									background: $link-color;
									transition: width 0.3s ease-in-out;
								} 
								&:before {right: 50%;}
								&:after {left: 50%;}

								&:hover {
									&:before {width: 50%;}
									&:after {width: 50%;}

								}
								
								i {
									color: $link-color;
								}
							}

						}
					}
				}
			}
		}
		
}
